/* ==========================================================================
   COMPONENTS/ #TEXTAREA
   ========================================================================== */

.wmp-textarea {
  @include wmp-font(19);
  @include wmp-focusable;

  -webkit-appearance: none;
  border: $wmp-border-width-form-element solid $wmp-form-border-color;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  min-height: 40px;
  @include wmp-responsive-margin(6, 'bottom');
  padding: wmp-spacing(1);
  resize: vertical;
  width: 100%;
}

.wmp-textarea--error {
  border: $wmp-border-width-form-element-error solid $wmp-error-color;
}
