/* ==========================================================================
   COMPONENTS / #INSET-TEXT
   ========================================================================== */

/**
 * 1. Removes top margin from first element and bottom margin from last,
 *    to ensure correct spacing within the component.
 * 2. Restricts the width of the text to optimise the line length for
 *    readability.
 */

.wmp-inset-text {
  @include top-and-bottom(); /* [1] */
  @include reading-width(); /* [2] */

  @include wmp-responsive-margin(7, 'bottom');
  @include wmp-responsive-margin(7, 'top');

  border-left: $wmp-border-width-inset-text solid $color_wmp-blue;
  padding: wmp-spacing(3);

  @include mq($media-type: print) {
    border-color: $wmp-print-text-color;
  }

}
