<div class="wmp-inset-text
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <span class="wmp-u-visually-hidden">Information: </span>
  {{ params.HTML | safe }}
</div>
