/* ==========================================================================
   COMPONENTS/ #LABEL
   ========================================================================== */

.wmp-label {
  @include wmp-font(22);

  display: block;
  margin-bottom: wmp-spacing(1);
}

/* Modifiers that make labels look more like their equivalent headings */

.wmp-label--xl {
  @include wmp-typography-responsive(48);

  display: block;
  font-weight: $wmp-font-bold;
  margin-top: 0;

  @include wmp-responsive-margin(7, 'bottom');
}

.wmp-label--l {
  @include wmp-typography-responsive(32);

  display: block;
  font-weight: $wmp-font-bold;
  margin-top: 0;

  @include wmp-responsive-margin(4, 'bottom');
}

.wmp-label--m {
  @include wmp-typography-responsive(24);

  display: block;
  font-weight: $wmp-font-bold;
  margin-top: 0;

  @include wmp-responsive-margin(4, 'bottom');
}

.wmp-label--s {
  @include wmp-typography-responsive(19);

  display: block;
  font-weight: $wmp-font-bold;
  margin-top: 0;

  @include wmp-responsive-margin(4, 'bottom');
}

// When the label is nested inside a heading, override the heading so that it
// does not have a margin. Effectively we want to be able to treat the heading
// as if it is not there.
//
// This breaks BEM conventions because it exists as a parent of the 'block',
// so we can't really consider an element.
.wmp-label-wrapper {
  margin: 0;
}
