/* ==========================================================================
   COMPONENTS/ #TAB
   ========================================================================== */

.wmp-timeline__list {
    padding-left: 0;
    > .wmp-timeline__item{list-style: none;}
}


.wmp-timeline__item{
    padding-bottom: wmp-spacing(4);
    padding-left: wmp-spacing(6);
    position: relative;
    &:last-child{padding-bottom: 0;}
}

.wmp-timeline__marker{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    width:15px;
    &::before{
        background-color: $color_wmp-blue;
        border:3px solid transparent;
        border-radius: 100%;
        content:""; 
        display: block;
        height: 15px;
        width: 15px;
        position: absolute;
        top:10px;
        left:0;
    }
    &::after{
        content:""; 
        width: 3px;
        background-color: $color_wmp-blue;
        display: block; 
        position: absolute;
        top: 30px;
        bottom:0;
        left: 6px;
    }
}