/* ==========================================================================
   UTILITIES / #GRID
   ========================================================================== */

/**
 * Force grid widths on all screen sizes
 * By default all grid elements will go to 100% width
 * on screen sizes below tablet, these utilities can force
 * custom widths on all screen sizes
 *
 * Usage: class="wmp-u-one-half"
 */

// Utility classes are allowed to use !important;
// so we disable the sass-lint for that rule
// sass-lint:disable no-important

.wmp-u-one-half {
  float: left;
  width: percentage(1 / 2) !important;
}

.wmp-u-one-third {
  float: left;
  width: percentage(1 / 3) !important;
}

.wmp-u-two-thirds {
  float: left;
  width: percentage(2 / 3) !important;
}

.wmp-u-one-quarter {
  float: left;
  width: percentage(1 / 4) !important;
}

.wmp-u-three-quarters {
  float: left;
  width: percentage(3 / 4) !important;
}

.wmp-u-one-fifth {
  float: left;
  width: percentage(1 / 5) !important;
}

.wmp-u-two-fifths {
  float: left;
  width: percentage(2 / 5) !important;
}

.wmp-u-three-fifths {
  float: left;
  width: percentage(3 / 5) !important;
}

.wmp-u-four-fifths {
  float: left;
  width: percentage(4 / 5) !important;
}

/**
 * Force grid widths on screen sizes on tablet
 * and above
 *
 * By default all grid elements will go to 100% width
 * on every screen size, these utilities can force
 * custom widths on screen sizes on tablet
 * and above
 *
 * Usage: class="wmp-u-one-half-tablet"
 */

.wmp-u-one-half-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(1 / 2) !important;
  }
}

.wmp-u-one-third-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(1 / 3) !important;
  }
}

.wmp-u-two-thirds-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(2 / 3) !important;
  }
}

.wmp-u-one-quarter-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(1 / 4) !important;
  }
}

.wmp-u-three-quarters-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(3 / 4) !important;
  }
}

.wmp-u-one-fifth-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(1 / 5) !important;
  }
}

.wmp-u-two-fifths-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(2 / 5) !important;
  }
}

.wmp-u-three-fifths-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(3 / 5) !important;
  }
}

.wmp-u-four-fifths-tablet {
  width: 100% !important;
  @include mq($from: tablet) {
    float: left;
    width: percentage(4 / 5) !important;
  }
}