/* ==========================================================================
   UTILITIES / #LINK-NOWRAP
   ========================================================================== */

/**
 * Prevent long anchor links from line breaking
 * on smaller screens
 *
 * Usage: class="wmp-u-nowrap"
 */

.wmp-u-nowrap {
  @include mq($until: tablet) {
    white-space: nowrap;
  }
}
