// ========================================================================== //
// UTILITIES / #SPACING
// ========================================================================== //

// Directions for spacing
// Original code taken from GDS (Government Digital Service)
// https://github.com/alphagov/govuk-frontend

$_spacing-directions: (
  'top',
  'right',
  'bottom',
  'left'
) !default;

// Spacing override classes
//
// Generate spacing override classes for the given property (e.g. margin)
// for each point in the spacing scale.
//
// @param {String} $property - Property to add spacing to (e.g. 'margin')
//
// @example scss
//   .wmp-u-margin-0 {
//      margin: 0;
//   }
//
//  .wmp-u-margin-top-1 {
//     margin-top: [whatever spacing point 1 is...]
//   }
//
// 1. For each point in the spacing scale (defined in settings), create an
//    override that affects all directions...
// 2. ... and then an override for each individual direction

@mixin _wmp-generate-spacing-overrides($property) {
  // [1] //
  @each $scale-point, $scale-map in $wmp-spacing-responsive-scale {

    .wmp-u-#{$property}-#{$scale-point} {

      @include _wmp-responsive-spacing($scale-point, $property, 'all', true);
    }

    // [2] //
    @each $direction in $_spacing-directions {

      .wmp-u-#{$property}-#{$direction}-#{$scale-point} {
        @include _wmp-responsive-spacing($scale-point, $property, $direction, true);
      }
    }
  }
}

@include govuk-exports('govuk/overrides/spacing') {
  @include _wmp-generate-spacing-overrides('margin');
  @include _wmp-generate-spacing-overrides('padding');
}

.wmp-u-margin-my-auto{
  margin-top: auto;
  margin-bottom: auto
}

.wmp-u-margin-mx-auto{
  margin-left: auto;
  margin-right: auto
}