/* ==========================================================================
   UTILITIES / #TYPOGRAPHY
   ========================================================================== */

// Utility classes are allowed to use !important;
// so we disable the sass-lint for that rule
// sass-lint:disable no-important

/**
 * Font size and line height
 *
 * Generate typography override classes for each responsive font map in the
 * typography scale eg .wmp-u-font-size-48
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 */

@each $size in map-keys($wmp-typography-scale) {
  .wmp-u-font-size-#{$size} {
    @include wmp-typography-responsive($size, $important: true);
  }
}

/* Weights
   ========================================================================== */

/**
 * Generate font weight override classes for normal and bold
 * eg .wmp-u-font-weight-normal
 */

.wmp-u-font-weight-normal {
  @include wmp-typography-weight-normal($important: true);
}

.wmp-u-font-weight-bold {
  @include wmp-typography-weight-bold($important: true);
}

/* Colours
   ========================================================================== */

/**
 * Secondary text colour $wmp-secondary-text-color
 * eg <p class="wmp-u-secondary-text-color">Published on: 15 March 2018</p>
 */

.wmp-u-secondary-text-color {
  color: $wmp-secondary-text-color !important;
}

.wmp-u-header{
  @include wmp-font(22);
  font-weight: bold;
  margin-bottom: wmp-spacing(2);

  a {
      text-decoration: none;
  }
}