/* ==========================================================================
   UTILITIES / #WIDTH
   ========================================================================== */

/**
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 * Force element widths on all screen sizes
 *
 * Usage: class="wmp-u-width-full"
 */

// Utility classes are allowed to use !important;
// so we disable the sass-lint for that rule
// sass-lint:disable no-important

.wmp-u-width-full {
  width: 100% !important;
}

.wmp-u-width-three-quarters {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 75% !important;
  }
}

.wmp-u-width-two-thirds {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 66.66% !important;
  }
}

.wmp-u-width-one-half {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 50% !important;
  }
}

.wmp-u-width-one-third {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 33.33% !important;
  }
}

.wmp-u-width-one-quarter {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 25% !important;
  }
}

.wmp-u-width-one-fifth {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 20% !important;
  }
}

.wmp-u-width-two-fifths {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 40% !important;
  }
}

.wmp-u-width-three-fifths {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 60% !important;
  }
}

.wmp-u-width-four-fifths {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 80% !important;
  }
}

.wmp-u-width-one-tenth {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 10% !important;
  }
}

.wmp-u-width-three-tenths {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 30% !important;
  }
}

.wmp-u-width-seven-tenths {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 70% !important;
  }
}

.wmp-u-width-nine-tenths {
  width: 100% !important;

  @include mq($from: tablet) {
    width: 90% !important;
  }
}