/* ==========================================================================
   COMPONENTS/ #ERROR-SUMMARY
   ========================================================================== */

/**
 * 1. Cross-component class - adjusts styling of list component.
 * 2. Override default link styling to use error colour
 * 3. When the link has focus, the text colour needs to be darker to ensure that
 *    colour contrast is still acceptable
 */

.wmp-error-summary {
  @include wmp-responsive-padding(4);
  @include wmp-responsive-margin(8, 'bottom');
  @include wmp-focusable;

  border: $wmp-border-width-mobile solid $wmp-error-color;

  @include govuk-media-query($from: tablet) {
    border: $wmp-border-width solid $wmp-error-color;
  }
}

.wmp-error-summary__title {
  @include wmp-font(24, $weight: bold);

  margin-top: 0;
  @include wmp-responsive-margin(4, 'bottom');
}

.wmp-error-summary__body {
  @include wmp-font(19);

  p {
    margin-top: 0;
    @include wmp-responsive-margin(4, 'bottom');
  }
}

.wmp-error-summary__list { /* 1 */
  margin-bottom: 0;
  margin-top: 0;
}

.wmp-error-summary__list a {
  @include wmp-focusable-fill;
  @include wmp-typography-weight-bold;

  /* 2 */
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $wmp-error-color;
  }

  &:hover {
    color: $wmp-link-hover-color;
  }

  &:focus { /* 3 */
    color: $wmp-link-focus-color;
  }

}
