/* ==========================================================================
   COMPONENTS / #DETAILS
   ========================================================================== */

/**
 * Details component.
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 *
 * 1. Style the summary to look like a link...
 * 2. Make the focus outline shrink-wrap the text content of the summary
 * 3. Absolutely position the marker against this element
 * 3. Allow for absolutely positioned marker and align with disclosed text
 * 4. Only underline the text, not the arrow
 * 5. Remove the default details marker so we can style our own consistently and
 *    ensure it displays in Firefox
 */

.wmp-details {
  @include wmp-text-color;
  @include wmp-responsive-margin(4, 'bottom');
  @include wmp-typography-responsive(19);
  display: block;
}

.wmp-details__summary {
  color: $color_wmp-blue; /* [1] */
  cursor: pointer;
  display: inline-block; /* [2] */
  padding-left: wmp-spacing(4);
  position: relative; /* [3] */

  @include wmp-link-style-hover();
  @include wmp-link-style-focus();

  &:before {
    bottom: 0;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;

    @include govuk-shape-arrow($direction: right, $base: 14px);

  }

  &:focus {
    box-shadow: 0 0 0 $wmp-box-details $wmp-link-focus-background-color;
    color: $wmp-link-focus-color;

    .wmp-details__summary-text {
      color: $wmp-link-focus-color;
    }
  }

  &:hover {
    background-color: $wmp-link-hover-background-color;
    box-shadow: 0 0 0 $wmp-box-details $wmp-link-hover-background-color;

    .wmp-details__summary-text {
      color: $wmp-link-hover-color;
      text-decoration: none;
    }
  }
}

.wmp-details[open] > .wmp-details__summary:before {
  @include govuk-shape-arrow($direction: down, $base: 14px);
}

.wmp-details__summary-text {
  text-decoration: underline; /* [4] */
}

.wmp-details__summary::-webkit-details-marker {
  display: none; /* [5] */
}

.wmp-details__text {
  border-left: wmp-spacing(1) solid $color-wmp-grey-100;
  margin-top: wmp-spacing(2);
  padding: wmp-spacing(3);
  padding-left: wmp-spacing(4);
  @include top-and-bottom();

  p {
    margin-bottom: wmp-spacing(4);
    margin-top: 0;
  }

}

/**
 * Expander variation.
 *
 * 1. !important used because the icon is populated
 *    by the JavaScript polyfill
 * 2. Remove the default hover, focus and active
 *    styles for this component.
 * 3. -2px left margin to align the icon to the content.
 * 4. When a group of details is used reduce the
 *    margin between them so they sit together.
 */

.wmp-expander {
  background-color: $color_wmp-white;

  .wmp-details__summary {
    @include wmp-responsive-padding(4);
    background-color: $color_wmp-white;
    display: block;

    &:before {
      display: none !important; // sass-lint:disable-line no-important /* [1] */
    }

    &:focus {
      box-shadow: 0 0 0 $wmp-box-expander $wmp-link-focus-background-color;
    }

    &:hover {
      box-shadow: 0 0 0 $wmp-box-expander $wmp-link-hover-background-color;
    }

    &:hover,
    &:active,
    &:focus { /* [2] */
      outline: 0;
    }

  }

  .wmp-details__summary-text {
    background: url("data:image/svg+xml,%3Csvg class='wmp-icon wmp-icon__plus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23005eb8'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M12 8v8M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat; // sass-lint:disable-line quotes
    background-size: 32px;
    color: $color_wmp-blue;
    cursor: pointer;
    display: block;
    padding: wmp-spacing(2) wmp-spacing(2) wmp-spacing(2) 38px;
    position: relative;
  }

  .wmp-details__text {
    @include wmp-responsive-padding(4);
    border-left: 0;
    margin-left: 0;
    margin-top: 0;
  }

}

.wmp-expander[open] {

  .wmp-details__summary {
    border-bottom: 1px solid $color-wmp-grey-100;
  }

  .wmp-details__summary-text {
    background: url("data:image/svg+xml,%3Csvg class='wmp-icon wmp-icon__minus' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true'%3E%3Ccircle cx='12' cy='12' r='10' fill='%23005eb8'%3E%3C/circle%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M8 12h8'%3E%3C/path%3E%3C/svg%3E%0A") left -2px center no-repeat; /* [3] */ // sass-lint:disable-line quotes
    background-size: 32px;
  }

}

.wmp-expander-group { /* [4] */

  > .wmp-details {
    @include wmp-responsive-margin(2, 'bottom');
  }

  @include wmp-responsive-margin(4, 'bottom');
}

.wmp-details  + %wmp-heading-l {
  @include wmp-responsive-padding(4, 'top');
}
