/* ==========================================================================
   TAILWIND / #BACKGROUND-COLOR
========================================================================== */

// Colors
.wmp-u-bg-black{background-color: $color-black;}
.wmp-u-bg-white{background-color: $color-white;}

.wmp-u-bg-wmp-blue{background-color: $color_wmp-blue;}
.wmp-u-bg-wmp-white{background-color: $color_wmp-white;}
.wmp-u-bg-wmp-black{background-color: $color_wmp-black;}
.wmp-u-bg-wmp-green{background-color: $color_wmp-green;}
.wmp-u-bg-wmp-red{background-color: $color_wmp-red;}
.wmp-u-bg-wmp-yellow{background-color: $color_wmp-yellow;}
.wmp-u-bg-wmp-purple{background-color: $color_wmp-purple;}

.wmp-u-bg-wmp-pale-yellow{background-color: $color_wmp-yellow-050;}
.wmp-u-bg-wmp-warm-yellow{background-color: $color_wmp-warm-yellow;}

.wmp-u-bg-wmp-grey-1{background-color: $color-wmp-grey-900;}
.wmp-u-bg-wmp-grey-2{background-color: $color-wmp-grey-800;}
.wmp-u-bg-wmp-grey-3{background-color: $color-wmp-grey-600;}
.wmp-u-bg-wmp-grey-4{background-color: $color-wmp-grey-100;}
.wmp-u-bg-wmp-grey-5{background-color: $color-wmp-grey-100;}
.wmp-u-bg-wmp-grey-6{background-color: $color_wmp-grey-6;}

.wmp-u-bg-wmp-red-50{background-color: $color_wmp-red-050;}
.wmp-u-bg-wmp-red-100{background-color: $color_wmp-red-100;}
.wmp-u-bg-wmp-red-200{background-color: $color_wmp-red-200;}

.wmp-u-bg-wmp-cyan-100{background-color: $color_wmp-cyan-100;}
.wmp-u-bg-wmp-cyan-200{background-color: $color_wmp-cyan-200;}