// ==========================================================================
// SETTINGS / #COLOURS
// ==========================================================================

//
// WMP colour palette
//
// Colours are prefixed with color_ to make them easier to
// search for within the code base.
//
// We also prefix them with wmp- to prevent clashing with
// other colours in existing code bases.
//
// We use the word color, not colour, for variables.
//

// sass-lint:disable no-color-hex

$color-black: #000000;
$color-white: #ffffff;

$color_wmp-blue: #004996;
$color_wmp-white: $color-white;
$color_wmp-black: #37474f;
$color_wmp-green: #007f3b;
$color_wmp-red: #e63027;
$color_wmp-yellow: #fbba07;
$color_wmp-purple: #330072;

//
// Secondary colours
//

$color_wmp-warm-yellow: #ffb81c;

//
// Greyscale
//

// $color-wmp-grey-900: #2a373e;
// $color-wmp-grey-800: #323F4B;
// $color-wmp-grey-600: #546e7a;
// $color-wmp-grey-100: #eceff1;
// $color-wmp-grey-100: #ebebeb;
$color_wmp-grey-6: #b2b2b2;

//
// WMP Color
//
$color_wmp-yellow-050: #fff9c4;

$color_wmp-red-050: #fff5f5;
$color_wmp-red-100: #7f1510;
$color_wmp-red-200: #ad1c14;
$color-wmp-red-400: #e63027;
$color-wmp-red-600: #cf1124;

$color-wmp-yellow-200: #fce588;

$color-wmp-blue-050: #E6F6FF;
$color-wmp-blue-600: #0552B5;

$color-wmp-teal-050: #f0fff4;
$color-wmp-teal-600: #199473;

$color-wmp-grey-100: #eceff1;
$color-wmp-grey-200: #CBD2D9;
$color-wmp-grey-600: #546e7a;
$color-wmp-grey-700: $color_wmp-black;
$color-wmp-grey-800: #323F4B;
$color-wmp-grey-900: #2a373e;



$color_wmp-cyan-100: #0e7181;
$color_wmp-cyan-200: #044e54;

//
// RGB and alpha values
//
// Used to create drop/box shadows e.g. for search suggestions dropdown
//

$color-wmp-grey-900-rgb: rgb(66, 84, 98);
$alpha-transparency-50: 0.5;

//
// Functions for tint and shade
//
// Usage: tint(color, percentage)
//        tint($color_wmp-black, 10%)
//        shade(color, percentage)
//        shade($color_wmp-blue, 50%)
//

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//
// Primary colour variations
//
// 1. used for link :active states
// 2. used for .is-active state on main navigation
// 3. used for :hover states on main navigation
// 4. used for :active states on main navigation
// 5. used for primary button and action link icon :hover states
// 6. used for primary button and action link icon :active states
// 7. used for link :hover states
// 8. used for link :active states
//

$color_tint_wmp-black-10: tint($color_wmp-black, 10%); // [1] //

$color_shade_wmp-blue-20: shade($color_wmp-blue, 20%); // [2] //
$color_shade_wmp-blue-35: shade($color_wmp-blue, 35%); // [3] //
$color_shade_wmp-blue-50: shade($color_wmp-blue, 50%); // [4] //

$color_shade_wmp-green-35: shade($color_wmp-green, 35%); // [5] //
$color_shade_wmp-green-50: shade($color_wmp-green, 50%); // [6] //

$color_tint_wmp-warm-yellow-30: tint($color_wmp-warm-yellow, 30%); // [7] //
$color_tint_wmp-warm-yellow-10: tint($color_wmp-warm-yellow, 10%); // [8] //

$color_transparent_wmp-white-20: rgba($color_wmp-white, 0.2);
$color_transparent_wmp-blue-50: rgba($color_shade_wmp-blue-50, 0.1);

//
// Colour aliases
//

$wmp-text-color: $color_wmp-black;
$wmp-secondary-text-color: $color-wmp-grey-600;
$wmp-print-text-color: $color_wmp-black;

$wmp-link-color: $color_wmp-cyan-100;
$wmp-link-hover-color: $color_wmp-black;
$wmp-link-focus-color: $color_wmp-black;
$wmp-link-active-color: $color_wmp-black;
$wmp-link-visited-color: $wmp-link-color;
$wmp-link-hover-background-color: $color_tint_wmp-warm-yellow-30;
$wmp-link-focus-background-color: $color_wmp-warm-yellow;
$wmp-link-active-background-color: $color_tint_wmp-warm-yellow-10;

$wmp-border-color: $color-wmp-grey-200;
$wmp-secondary-border-color: $color_transparent_wmp-white-20;
$wmp-box-shadow: rgba(33, 43, 50, 0.16);

$wmp-button-hover-color: $color_shade_wmp-green-35;
$wmp-button-active-color: $color_shade_wmp-green-50;
$wmp-secondary-button-hover-color: $color_shade_wmp-blue-35;

$wmp-focus-color: $color_wmp-warm-yellow;

$wmp-box-shadow-color: $color-wmp-grey-900-rgb;

//
// Forms
//

$wmp-error-color: $color_wmp-red;
$wmp-form-border-color: $color-wmp-grey-600;
$wmp-form-element-background-color: $color_wmp-white;

//
// Forms
//

$wmp-success-color: #35735d;
$wmp-success-hover-color: #275343;

//
// Buttons
//

$wmp-button-colour: $wmp-success-color;
$wmp-button-hover-colour: $wmp-success-hover-color;
$wmp-button-shadow-colour: darken($wmp-button-colour, 15%);

// $wmp-button-hover-colour: darken($wmp-button-colour, 5%);

$wmp-neutral-button-colour: $color-wmp-grey-100;
$wmp-neutral-button-hover-colour: #e0e1e1;
$wmp-neutral-button-shadow-colour: darken($wmp-neutral-button-colour, 15%);
$wmp-neutral-button-text-colour: $color-wmp-black;

$wmp-secondary-button-colour: $color_wmp-cyan-100;
$wmp-secondary-button-hover-colour: $color_wmp-cyan-200;
$wmp-secondary-button-shadow-colour: darken($wmp-secondary-button-colour, 15%);

$wmp-destructive-button-colour: $color_wmp-red-200;
$wmp-destructive-button-hover-colour: $color_wmp-red-100;
$wmp-destructive-button-text-colour: $color_wmp-red-050;

$wmp-reverse-button-colour: $color_wmp-white;
$wmp-reverse-button-hover-colour: darken($wmp-reverse-button-colour, 5%);
$wmp-reverse-button-shadow-colour: $color_wmp-black;

$wmp-button-text-colour: #f0fff4;
$wmp-reverse-button-text-colour: $color_wmp-black;
