// ==========================================================================
// SETTINGS / #GLOBALS
// ==========================================================================

//
// Fonts
//
// 1. Fallback fonts if Frutiger fails to load
//

$wmp-font: Arial;
$wmp-font-fallback: Arial, Helvetica, Sans-serif; // [1] //
$wmp-font-family-print: sans-serif !default;
$wmp-font-bold: 600;
$wmp-font-normal: 400;
$wmp-font-light: $wmp-font-normal;

//
// Font sizing and spacing
//

$wmp-base-font-size: 18px !default;
$wmp-base-line-height: 27px !default;

//
// Icon default sizing
//

$wmp-icon-size: 34px !default;

//
// Grid spacing
//

$wmp-page-width: 960px;
$wmp-gutter: 32px;
$wmp-gutter-half: $wmp-gutter / 2;

//
// Border sizes
//

$wmp-border-width-inset-text: 12px !default;
$wmp-care-card-triangle-border: 16px !default;
$wmp-hero-content-triangle-border: 16px !default;
$wmp-hero-border: 1px !default;
$wmp-border-default: 4px !default;
$wmp-border-list-panel: 2px !default;
$wmp-border-list-panel-item: 1px !default;
$wmp-border-table-header-width: 2px !default;
$wmp-border-table-cell-width: 1px !default;

//
// Border radius
//

$wmp-border-radius: 4px !default;

//
// Box shadow
//

$wmp-box-shadow-spread: 4px !default;
$wmp-box-shadow-blur: 4px !default;
$wmp-box-shadow-link: 4px !default;
$wmp-box-details: 8px !default;
$wmp-box-expander: 4px !default;
$wmp-box-shadow-pagination: 16px !default;
$wmp-box-shadow-link: 4px !default;

//
// Header spacing
//

$wmp-header-spacing: 20px;

//
// Form elements
//

$wmp-border-width-form-element: 2px !default;
$wmp-border-width-form-element-error: 4px !default;
$wmp-focus-width: 4px !default;
$wmp-border-width: 4px !default;
$wmp-border-width-mobile: 4px !default;
$wmp-border-width-form-group-error: $wmp-border-width !default;
