// ==========================================================================
// SETTINGS / #TYPOGRAPHY
// ==========================================================================

// Responsive typography font map
// ==========================================================================

//
// This is used to generate responsive typography that adapts according to the
// breakpoints.
//
// Font size and font weight can be defined for each breakpoint. You can define
// different behaviour on tablet and desktop. The 'null' breakpoint is for
// mobile.
//
// Line-heights will automatically be converted from pixel measurements into
// relative values. For example, with a font-size of 16px and a line-height of
// 24px, the line-height will be converted to 1.5 before output.
//
// You can also specify a separate font size and line height for print media.
//
// @prop {Number} $point.$breakpoint.font-size - Font size for `$point` at `$breakpoint`
// @prop {Number} $point.$breakpoint.line-height - Line height for `$point` at `$breakpoint`
// @prop {Number} $point.print.font-size - Font size for `$point` when printing
// @prop {Number} $point.print.line-height - Line height for `$point` when printing
//
// Original code taken from GDS (Government Digital Service)
// https://github.com/alphagov/govuk-frontend
///

$wmp-typography-scale: (
  64: (
    null: (
      font-size: 48px,
      line-height: 56px
    ),
    tablet: (
      font-size: 64px,
      line-height: 72px
    ),
    print: (
      font-size: 53pt,
      line-height: 1.1
    )
  ),
  6xl: (
    null: (
      font-size: 48px,
      line-height: 56px
    ),
    tablet: (
      font-size: 64px,
      line-height: 72px
    ),
    print: (
      font-size: 53pt,
      line-height: 1.1
    )
  ),
  48: (
    null: (
      font-size: 40px,
      line-height: 40px
    ),
    tablet: (
      font-size: 48px,
      line-height: 56px
    ),
    print: (
      font-size: 32pt,
      line-height: 1.15
    )
  ),
  5xl: (
    null: (
      font-size: 40px,
      line-height: 40px
    ),
    tablet: (
      font-size: 48px,
      line-height: 56px
    ),
    print: (
      font-size: 32pt,
      line-height: 1.15
    )
  ),
  40: (
    null: (
      font-size: 36px,
      line-height: 40px
    ),
    tablet: (
      font-size: 40px,
      line-height: 56px
    ),
    print: (
      font-size: 28pt,
      line-height: 1.15
    )
  ),
  4xl: (
    null: (
      font-size: 36px,
      line-height: 40px
    ),
    tablet: (
      font-size: 40px,
      line-height: 56px
    ),
    print: (
      font-size: 28pt,
      line-height: 1.15
    )
  ),
  32: (
    null: (
      font-size: 24px,
      line-height: 32px
    ),
    tablet: (
      font-size: 32px,
      line-height: 40px
    ),
    print: (
      font-size: 24pt,
      line-height: 1.05
    )
  ),
  3xl: (
    null: (
      font-size: 24px,
      line-height: 32px
    ),
    tablet: (
      font-size: 32px,
      line-height: 40px
    ),
    print: (
      font-size: 24pt,
      line-height: 1.05
    )
  ),
  27: (
    null: (
      font-size: 22px,
      line-height: 28px
    ),
    tablet: (
      font-size: 27px,
      line-height: 32px
    ),
    print: (
      font-size: 20pt,
      line-height: 1.25
    )
  ),
  2xl: (
    null: (
      font-size: 22px,
      line-height: 28px
    ),
    tablet: (
      font-size: 27px,
      line-height: 32px
    ),
    print: (
      font-size: 20pt,
      line-height: 1.25
    )
  ),
  24: (
    null: (
      font-size: 20px,
      line-height: 28px
    ),
    tablet: (
      font-size: 24px,
      line-height: 32px
    ),
    print: (
      font-size: 18pt,
      line-height: 1.15
    )
  ),
  xl: (
    null: (
      font-size: 20px,
      line-height: 28px
    ),
    tablet: (
      font-size: 24px,
      line-height: 32px
    ),
    print: (
      font-size: 18pt,
      line-height: 1.15
    )
  ),
  22: (
    null: (
      font-size: 18px,
      line-height: 28px
    ),
    tablet: (
      font-size: 22px,
      line-height: 32px
    ),
    print: (
      font-size: 18pt,
      line-height: 1.15
    )
  ),
  lg: (
    null: (
      font-size: 18px,
      line-height: 28px
    ),
    tablet: (
      font-size: 22px,
      line-height: 32px
    ),
    print: (
      font-size: 18pt,
      line-height: 1.15
    )
  ),
  19: (
    null: (
      font-size: 16px,
      line-height: 24px
    ),
    tablet: (
      font-size: 19px,
      line-height: 28px
    ),
    print: (
      font-size: 14pt,
      line-height: 1.15
    )
  ),
  base: (
    null: (
      font-size: 16px,
      line-height: 24px
    ),
    tablet: (
      font-size: 19px,
      line-height: 28px
    ),
    print: (
      font-size: 14pt,
      line-height: 1.15
    )
  ),
  16: (
    null: (
      font-size: 14px,
      line-height: 24px
    ),
    tablet: (
      font-size: 16px,
      line-height: 24px
    ),
    print: (
      font-size: 14pt,
      line-height: 1.2
    )
  ),
  sm: (
    null: (
      font-size: 14px,
      line-height: 24px
    ),
    tablet: (
      font-size: 16px,
      line-height: 24px
    ),
    print: (
      font-size: 14pt,
      line-height: 1.2
    )
  ),
  14: (
    null: (
      font-size: 12px,
      line-height: 20px
    ),
    tablet: (
      font-size: 14px,
      line-height: 24px
    ),
    print: (
      font-size: 12pt,
      line-height: 1.2
    )
  ),
  xs: (
    null: (
      font-size: 12px,
      line-height: 20px
    ),
    tablet: (
      font-size: 14px,
      line-height: 24px
    ),
    print: (
      font-size: 12pt,
      line-height: 1.2
    )
  )
) !default;

// Font weights
// ==========================================================================

//
// Font weight for normal typography
//

$wmp-font-normal: 400 !default;

//
// Font weight for bold typography
//

$wmp-font-bold: 600 !default;
