/* ==========================================================================
   COMPONENTS / #PAGINATION
   ========================================================================== */

/**
 * 1. Padding to give the icon spacing.
 * 2. Append the word 'page' after next and
 *    previous on print stylesheets to make it easier
 *    to understand in print context.
 */

.wmp-pagination {
  @include wmp-responsive-margin(7, 'top');
  @include wmp-responsive-margin(7, 'bottom');
}


.wmp-pagination__list {
  @include clearfix();
}

.wmp-pagination-item--previous {
  float: left;
  text-align: left;
  width: 50%;

  .wmp-icon {
    left: -6px;
  }

  .wmp-pagination__title {
    padding-left: wmp-spacing(5); /* [1] */
  }

}

.wmp-pagination-item--next {
  float: right;
  text-align: right;
  width: 50%;

  .wmp-icon {
    right: -6px;
  }

  .wmp-pagination__title {
    padding-right: wmp-spacing(5); /* [1] */
  }

}

.wmp-pagination__link {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;

  @include mq($media-type: print) {
    color: $color_wmp-black;
  }

  .wmp-icon {
    position: absolute;
    top: -2px;

    @include mq($media-type: print) {
      color: $color_wmp-black;
      margin-top: 0;
    }

  }

  &:focus {
    box-shadow: 0 0 0 $wmp-box-shadow-pagination $wmp-link-focus-background-color;
    outline: $wmp-focus-width solid $wmp-link-focus-background-color;
  }

  &:hover {
    box-shadow: 0 0 0 $wmp-box-shadow-pagination $wmp-link-hover-background-color;
    outline: $wmp-focus-width solid $wmp-link-hover-background-color;

    .wmp-pagination__page {
      text-decoration: none;
    }

  }

  &:hover,
  &:focus {

    .wmp-icon {
      fill: $color_wmp-black;
    }

  }

  &:visited {

    .wmp-icon {
      fill: $wmp-link-visited-color;
    }

  }

}

.wmp-pagination__title {
  @include wmp-typography-responsive(24);
  display: block;

  @include mq($media-type: print) {
    &:after {
      content: ' page'; /* [2] */
    }
  }

}

.wmp-pagination__page {
  @include wmp-typography-responsive(16);
  display: block;
  text-decoration: underline;
}
