<nav class="wmp-pagination
{%- if params.classes %} {{ params.classes }}{% endif %}" role="navigation" aria-label="Pagination"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <ul class="wmp-list wmp-pagination__list">
  {%- if params.previousUrl and params.previousPage %}
    <li class="wmp-pagination-item--previous">
      <a class="wmp-pagination__link wmp-pagination__link--prev" href="{{ params.previousUrl }}">
        <span class="wmp-pagination__title">Previous</span>
        <span class="wmp-u-visually-hidden">:</span>
        <span class="wmp-pagination__page">{{ params.previousPage }}</span>
        <svg class="wmp-icon wmp-icon__arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
        </svg>
      </a>
    </li>
  {%- endif %}
  {%- if params.nextUrl and params.nextPage %}
    <li class="wmp-pagination-item--next">
      <a class="wmp-pagination__link wmp-pagination__link--next" href="{{ params.nextUrl }}">
        <span class="wmp-pagination__title">Next</span>
        <span class="wmp-u-visually-hidden">:</span>
        <span class="wmp-pagination__page">{{ params.nextPage }}</span>
        <svg class="wmp-icon wmp-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
        </svg>
      </a>
    </li>
  {%- endif %}
  </ul>
</nav>
