<nav class="wmp-breadcrumb{% if params.classes %} {{ params.classes }}{% endif %}" aria-label="Breadcrumb"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="wmp-width-container">
    <ol class="wmp-breadcrumb__list">
  {%- for item in params.items %}
    {%- if item.href %}
      <li class="wmp-breadcrumb__item"><a class="wmp-breadcrumb__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>{{ item.text }}</a>{% if not loop.last %}{% endif %}</li>
    {%- endif -%}
  {% endfor %}
      <li class="wmp-breadcrumb__item"><a class="wmp-breadcrumb__link" href="{{ params.href }}"{% for attribute, value in item.attributes %} {{attribute}}="{{value}}"{% endfor %}>{{ params.text}}</a></li>
    </ol>
    <p class="wmp-breadcrumb__back"><a class="wmp-breadcrumb__backlink" href="{{ params.href }}">Back to {{ params.text }}</a></p>
  </div>
</nav>
