
/* ==========================================================================
   COMPONENTS / #TABLE
   ========================================================================== */

/* Table row hover
========================================================================== */

/**
 * Table row hover is used to aid readability for users.
 */

.wmp-table__row {
  &:hover {
    background-color: $color-wmp-grey-100;
  }
}

/* Table panel with tab heading
========================================================================== */

/**
 * 1. Margin is removed so there isn't double spacing.
 */

.wmp-table__panel-with-heading-tab {
  @include panel-with-label($color_wmp-white, $wmp-text-color);

  .wmp-table-responsive,
  .wmp-table {
    margin: 0; /* [1] */
  }
}

.wmp-table__heading-tab {
  @include heading-label($color_wmp-blue, $color_wmp-white);
}

/* Responsive table
========================================================================== */

/**
 * Responsive table is used to ensure the table does not break the container.
 *
 * 1. Margin is removed so there isn't double spacing.
 */

.wmp-table-responsive {
  @include wmp-responsive-margin(7, 'bottom');
  @include wmp-responsive-margin(7, 'top');

  display: block; // sass-lint:disable-line property-sort-order
  -webkit-overflow-scrolling: touch; // sass-lint:disable-line property-sort-order
  -ms-overflow-style: -ms-autohiding-scrollbar; // sass-lint:disable-line property-sort-order
  overflow-x: auto; // sass-lint:disable-line property-sort-order
  width: 100%;

  .wmp-table {
    margin: 0; /* [1] */
  }

}
