{%- set headingLevel = params.headingLevel if params.headingLevel else 3 -%}
{% if params.panel%}
<div class="wmp-table__panel-with-heading-tab
{%- if params.panelClasses %} {{ params.panelClasses }}{% endif %}">
  {%- if params.heading %}
  <h{{ headingLevel }} class="wmp-table__heading-tab">{{ params.heading | safe }}</h{{ headingLevel }}>
  {%- endif %}
{%- endif %}
  <div class="wmp-table-responsive">
    <table class="wmp-table
      {%- if params.tableClasses %} {{ params.tableClasses }}{% endif %}"
      {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
      {%- if params.caption %}
      <caption class="wmp-table__caption
      {%- if params.captionClasses %} {{ params.captionClasses }}{% endif %}">{{ params.caption }}</caption>
      {%- endif %}
      {%- if params.head %}
      <thead class="wmp-table__head">
        <tr class="wmp-table__row">
        {%- for item in params.head %}
          <th class="wmp-table__header
          {%- if item.format %} wmp-table__header--{{ item.format }}{% endif %}"
          {%- if item.colspan %} colspan="{{ item.colspan }}"{% endif %}
          {%- if item.rowspan %} rowspan="{{ item.rowspan }}"{% endif %} scope="col">{{ item.html |safe if item.html else item.text }}</th>
        {%- endfor %}
        </tr>
      </thead>
      {%- endif %}
      <tbody class="wmp-table__body">
        {%- for row in params.rows %}
        <tr class="wmp-table__row">
        {%- for cell in row %}
          {%- if loop.first and params.firstCellIsHeader %}
          <th class="wmp-table__header" scope="row">{{ cell.html | safe if cell.html else cell.text }}</th>
          {%- elseif loop.first %}
          <td class="wmp-table__cell
          {%- if cell.format %} wmp-table__cell--{{ cell.format }}{% endif %}"
          {%- if cell.colspan %} colspan="{{ cell.colspan }}"{% endif %}
          {%- if cell.rowspan %} rowspan="{{ cell.rowspan }}"{% endif %}>{{ cell.html | safe if cell.html else cell.text }}</td>
          {%- else %}
          <td class="wmp-table__cell {% if cell.format %}wmp-table__cell--{{ cell.format }}{% endif %}"
          {%- if cell.colspan %} colspan="{{ cell.colspan }}"{% endif %}
          {%- if cell.rowspan %} rowspan="{{ cell.rowspan }}"{% endif %}>{{ cell.html | safe if cell.html else cell.text }}</td>
          {%- endif %}
        {%- endfor %}
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
{%- if params.panel %}
</div>
{%- endif %}
