//*-----------------------------------*//
// #TAILWIND
//*-----------------------------------*//

@import 'text-color/text-color';
@import 'background/background-color';
@import 'svg/svg';

.wmp-u-w-full{width: 100%;}
.wmp-u-print-hide{@include print-hide();}

.wmp-u-text-decoration-none{text-decoration: none;}
.wmp-u-text-decoration-underline{text-decoration: none;}