/* ==========================================================================
   TAILWIND / #DISPLAY
========================================================================== */
.wmp-u-display-block{display: block;}
.wmp-u-display-inline{display:inline;}
.wmp-u-display-inlineBlock{display:inline-block;}
.wmp-u-display-flex{display:flex;}