// ==========================================================================
// TOOLS / #LEADING
// ==========================================================================

.wmp-u-leading-none     {line-height: 1 !important;}
.wmp-u-leading-tight 	{line-height: 1.25 !important;}
.wmp-u-leading-snug 	{line-height: 1.375  !important;}
.wmp-u-leading-normal   {line-height: 1.5  !important;}
.wmp-u-leading-relaxed  {line-height: 1.625  !important;}
.wmp-u-leading-loose 	{line-height: 2  !important;}