// ==========================================================================
// TOOLS / #TEXT-ALIGNMENT
// ==========================================================================
.wmp-u-text-left{text-align: left !important;}
.wmp-u-text-center{text-align:center !important;}
.wmp-u-text-right{text-align: right !important;}
.wmp-u-text-justify{text-align: justify !important;}