/* ==========================================================================
   COMPONENTS/ #DATE-INPUT
   ========================================================================== */

/**
 * 1. font-size: 0 removes whitespace caused by inline-block
 */

.wmp-date-input {
  @include clearfix;

  font-size: 0; /* 1 */
}

.wmp-date-input__item {
  display: inline-block;
  margin-bottom: 0;
  margin-right: wmp-spacing(4);
}

.wmp-date-input__label {
  display: block;
}

.wmp-date-input__input {
  margin-bottom: 0;
}
