// ==========================================================================
// ALTON / COMPONENTS / #HOROIZONTAL-RULE
// ==========================================================================
hr{
    height: wmp-spacing(1);
    background-color: $color_wmp-grey-6;
    border:0;
}