{% if params.lastReview or params.nextReview %}
  <div class="wmp-review-date
  {%- if params.classes %} {{ params.classes }}{% endif %}"
  {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    <p class="wmp-body-s">
      {% if params.lastReview %}Page last reviewed: {{ params.lastReview }}<br>{% endif %}
      {% if params.nextReview %}Next review due: {{ params.nextReview }}{% endif %}
    </p>
  </div>
{%- endif %}
