/* ==========================================================================
   COMPONENTS / #SKIP-LINK
   ========================================================================== */

/**
 * 1. Hides the skip link off the page,
 * 2. until the link gains focus from keyboard tabbing.
 */

.wmp-skip-link {
  left: -9999px; /* [1] */
  padding: wmp-spacing(2);
  position: absolute;

  &:active,
  &:focus {
    left: wmp-spacing(3); /* [2] */
    top: wmp-spacing(3);
    z-index: 2;
  }

  &:visited {
    color: $color_wmp-black;
  }

}
