<a class="wmp-skip-link
{%- if params.classes %} {{ params.classes }}{% endif %}" href="
{%- if params.href %}{{ params.href }}{% else %}#maincontent{% endif %}"
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
{%- if params.text %}{{ params.text }}{% else %}Skip to main content{% endif %}</a>
