{% set headingLevel = params.headingLevel if params.headingLevel else 3 %}
<div class="wmp-care-card
{%- if params.type %} wmp-care-card--{{ params.type }}{% endif %}
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="wmp-care-card__heading-container">
    <h{{ headingLevel }} class="wmp-care-card__heading"><span role="text"><span class="wmp-u-visually-hidden">
    {%- if params.type === 'non-urgent' %}Non-urgent advice:
    {%- elseif params.type === 'urgent' %}Urgent advice:
    {%- elseif params.type === 'immediate' %}Immediate action required:
    {%- else %}Non-urgent advice:{% endif %} </span>{{ params.heading }}</span></h{{ headingLevel }}>
    <span class="wmp-care-card__arrow" aria-hidden="true"></span>
  </div>
  <div class="wmp-care-card__content">
  {{ params.HTML | safe }}
  </div>
</div>
