/* ==========================================================================
   TAILWIND / #TEXT-COLOR
========================================================================== */

// Colors
.wmp-u-text-color-black{color: $color-black;}
.wmp-u-text-color-white{color: $color-white;}

.wmp-u-text-color_wmp-blue{color: $color_wmp-blue;}
.wmp-u-text-color_wmp-white{color: $color_wmp-white;}
.wmp-u-text-color_wmp-black{color: $color_wmp-black;}
.wmp-u-text-color_wmp-green{color: $color_wmp-green;}
.wmp-u-text-color_wmp-red{color: $color_wmp-red;}
.wmp-u-text-color_wmp-yellow{color: $color_wmp-yellow;}
.wmp-u-text-color_wmp-purple{color: $color_wmp-purple;}

.wmp-u-text-color_wmp-yellow-050{color: $color_wmp-yellow-050;}
.wmp-u-text-color_wmp-warm-yellow{color: $color_wmp-warm-yellow;}

.wmp-u-text-color-wmp-grey-900{color: $color-wmp-grey-900;}
.wmp-u-text-color-wmp-grey-800{color: $color-wmp-grey-800;}
.wmp-u-text-color-wmp-grey-600{color: $color-wmp-grey-600;}
.wmp-u-text-color-wmp-grey-100{color: $color-wmp-grey-100;}
.wmp-u-text-color-wmp-grey-100{color: $color-wmp-grey-100;}
.wmp-u-text-color_wmp-grey-6{color: $color_wmp-grey-6;}

.wmp-u-text-color_wmp-red-050{color: $color_wmp-red-050;}
.wmp-u-text-color_wmp-red-100{color: $color_wmp-red-100;}
.wmp-u-text-color_wmp-red-200{color: $color_wmp-red-200;}

.wmp-u-text-color_wmp-cyan-100{color: $color_wmp-cyan-100;}
.wmp-u-text-color_wmp-cyan-200{color: $color_wmp-cyan-200;}