{% set headingLevel = params.headingLevel if params.headingLevel else 3 %}
<div class="wmp-warning-callout
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <h{{ headingLevel }} class="wmp-warning-callout__label">{{ params.heading | safe }}</h{{ headingLevel }}>
  {{ params.HTML | safe }}
</div>
