/* ==========================================================================
   COMPONENTS / #Nav-list
   ========================================================================== */
.wmp-nav-list{
    @include print-hide();
    order: -1;
    @include mq($from: desktop) {
        order: unset;
    }
}

.wmp-nav-list__header{
    @include wmp-typography-responsive(19);
    display: block;
    font-weight: $wmp-font-bold;
    margin-top: 0;
    @include wmp-responsive-margin(3, 'bottom');
}

.wmp-nav-list__list{
    list-style: none;
    padding-left: 0;
}

.wmp-nav-list__item{
    padding-left:12px;
    &--active{
        border-left:4px solid $wmp-link-color; 
        padding-left:wmp-spacing(2);
        font-weight: bold;
    }

}

.wmp-nav-list__link{
    display: block;
}

