/* ==========================================================================
   COMPONENTS/ #ERROR-MESSAGE
   ========================================================================== */

.wmp-error-message {
  @include wmp-font(19, $weight: bold);

  clear: both;
  color: $wmp-error-color;
  display: block;
  margin-bottom: wmp-spacing(3);
}
