{% set visuallyHiddenText = params.visuallyHiddenText | default("Error") -%}

<span class="wmp-error-message
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- if params.id %} id="{{ params.id }}"{% endif %}
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {% if visuallyHiddenText %}<span class="wmp-u-visually-hidden">{{ visuallyHiddenText }}:</span> {% endif -%}
  {{ params.html | safe if params.html else params.text }}
</span>
