/* ==========================================================================
   COMPONENT / #nav-a-z
   ========================================================================== */

/**
 * 1. Clearfix added to the A-Z nav to clear float: left;
 *    on the .wmp-a-z-nav__list-item.
 * 2. Used to wrap the list items.
 * 3. Removes bullets from list item..
 * 4. Gives equal spacing around each list item.
 * 5. 'Random number' gives adequate spacing for touch navigation.
 */

.wmp-nav-a-z {
  @include wmp-responsive-margin(7, 'top');
  @include wmp-responsive-margin(7, 'bottom');
  @include print-hide();
}

.wmp-nav-a-z__list {
  @include clearfix(); /* [1] */
  @include wmp-responsive-padding(0);
}

.wmp-nav-a-z__item {
  float: left; /* [2] */
  list-style: none; /* [3] */
  margin: 1px; /* [4] */
}

.wmp-nav-a-z__link,
.wmp-nav-a-z__link--disabled {
  @include wmp-typography-responsive(22);

  display: block;
  min-width: 34px; /* [5] */
  padding-bottom: wmp-spacing(2);
  padding-top: wmp-spacing(2);
  text-align: center;

  @include mq($until: tablet) {
    min-width: 36px; /* [5] */
  }

}

.wmp-nav-a-z__link--disabled {
  color: $wmp-secondary-text-color;
}

.wmp-nav-a-z__link {

  &.is-active {
    background-color: $color_wmp-blue;
    color: $color_wmp-white;
  }

}
