<nav class="wmp-nav-a-z
{%- if params.classes %} {{ params.classes }}{% endif %}" id="wmp-nav-a-z" role="navigation" aria-label="A to Z Navigation"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <ol class="wmp-nav-a-z__list" role="list">
    {%- for item in params.items %}
    <li class="wmp-nav-a-z__item">
      {%- if item.disable %}
        <span class="wmp-nav-a-z__link--disabled">{{ item.label }}</span>
      {%- else %}
        <a class="wmp-nav-a-z__link" href="#{{ item.label }}">{{ item.label }}</a>
      {%- endif %}
    </li>
    {%- endfor %}
  </ol>
</nav>
