/* ==========================================================================
   ELEMENTS / #LINKS
   ========================================================================== */

/**
 * Our basic `<a>` elements only need very minimal styling.
 * It uses the @mixin wmp-link-style-default within tools/links.
 * Anything more opinionated (e.g. buttons, calls-to-action, etc.) will need a
 * class defining in the Components layer.
 *
 * 1. Outputs full link URL for print.
 * 2. Point unit used for print.
 */

a {
  @include wmp-link-style-default;

  @include mq($media-type: print) {
    &:after {
      color: $color_wmp-black;
      content: ' (Link: ' attr(href) ')'; /* [1] */
      font-size: 14pt; /* [2] */
    }
  }

}
