/* ==========================================================================
   ELEMENTS / #PAGE
   ========================================================================== */

/**
 * High-level, page-level styling.
 *
 * 1. The reason for this is to prevent "centering jumps" when navigating back
 *    and forth between pages with enough content to have a vertical scroll bar
 *    and pages that do not.
 * 2. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 * 3. Override the user agent style margin of 8px.
 * 4. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  background-color: $color-wmp-grey-900;
  font-family: $wmp-font, $wmp-font-fallback;
  overflow-y: scroll; /* [1] */
}

body {
  -moz-osx-font-smoothing: grayscale; /* [2] */
  -webkit-font-smoothing: antialiased; /* [2] */
  background-color: $color_white;
  color: $wmp-text-color;
  font-size: $wmp-base-font-size;
  line-height: _wmp-line-height($wmp-base-line-height, $wmp-base-font-size);
  margin: 0; /* [3] */
  min-height: 100%; /* [4] */
}
