/* ==========================================================================
   ELEMENTS / #TABLES
   ========================================================================== */

/**
 * 1. Force `<table>`s to be full-width by default.
 * 2. Captions are used to improve accessibility,
 *    but we do not need them visually displayed.
 */

table {
  @include wmp-responsive-margin(7, 'bottom');
  @include wmp-responsive-margin(7, 'top');

  border-spacing: 0;
  vertical-align: top;
  width: 100%; /* [1] */

  @include mq($media-type: print) {
    page-break-inside: avoid;
  }

}

thead {
  th {
    border-bottom: $wmp-border-table-header-width solid $wmp-border-color;
  }
}

th,
td {
  @include wmp-typography-responsive(19);
  @include wmp-responsive-padding(3);

  border-bottom: $wmp-border-table-cell-width solid $wmp-border-color;
  text-align: left;
}

th {
  font-weight: $wmp-font-bold;
}

caption {
  @include visually-hidden; /* [2] */
}
