{% if params.html or params.text %}
{%- set labelHtml %}
<label class="wmp-label
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- if params.for %} for="{{ params.for }}"{% endif %}
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  {{ params.html | safe if params.html else params.text }}
</label>
{%- endset -%}

{%- if params.isPageHeading %}
<h1 class="wmp-label-wrapper">{{ labelHtml | safe | indent(2) }}</h1>
{%- else -%}
{{ labelHtml | safe }}
{%- endif -%}
{%- endif -%}
