/* ==========================================================================
   COMPONENTS / #HEADER
   ========================================================================== */

/**
 * The behaviour with regards to responsiveness is as follow:
 *
 * - Mobile to tablet view
 *   Menu toggle button visible and navigation links hidden, search toggle
     button visible and search form hidden
 *
 * - Tablet to desktop view
 *   Menu toggle button visible and navigation links hidden, search toggle
 *   button hidden and search form visible
 *
 * - Desktop+ view
 *   Menu toggle button hidden and navigation links visible, search toggle
 *   button hidden and search form visible
 *
 * 1. Custom height and width of the logo
 * 2. Custom height and width of form items
 * 3. Custom height and width of svg icons
 * 4. Remove inner border on buttons for Firefox, see
 *    https://github.com/necolas/normalize.css/issues/393
 * 5. Proprietary extension so form field looks the same in Safari
 * 6. Needs !important because typeahead js adds inline styling so need to
 *    override
 * 7. Custom spacing to position the search icon
 * 8. Drop shadow on search suggestions dopdown box, custom spread and blur
 * 9. No current spacing at 12px so using this value
 * 10. Z-index to bring the dropdown to the front
 * 11. Custom margin to move menu toggle past the search toggle button
 * 12. Custom border value between expanded search and expanded menu if both open at the same time
 * 13. Don't display the link address for the logo anchor, see
 *     core/elements/_links.scss
 * 14. IE 10 prefix for flexbox
 * 15. IE 9 alternative for flexbox
 * 16. Custom padding-top to vertically align service name and logo
 */

@import 'autocomplete';

.wmp-header {
  @include clearfix();
  background-color: $color_wmp-blue;
}

.wmp-header__logo {
  float: left;
  padding: $wmp-header-spacing 0;
  display:flex;

  @include mq($from: tablet) {
    padding-left: 0;
  }

  .wmp-logo {
    @include wmp-logo-size; /* [1] */
    border: 0;
  }

}

.wmp-header__link {
  display: flex;

  &:link {
    text-decoration:none;
    color: $color-white;
    cursor: pointer;
  }

  &:visited {
    text-decoration:none;
    color: $color-white;
    cursor: pointer;
  }
  
  &:hover {
    color: $color_wmp-black;
  }
  
  &:focus {
    color: $color_wmp-black;
  }
  
  &:active {
    color: $color_wmp-black;
  }
}

.wmp-header__content {
  @include clearfix();
  @include print-hide();

  &.js-show {
    border-bottom: 4px solid $color-wmp-grey-100; /* [12] */
  }

  @include mq($from: tablet) {

    float: right;
    position: relative;

    &.js-show {
      border-bottom: 0;
    }

  }

}

.wmp-header__search {
  @include clearfix();

  position: relative;
  text-align: right;

  @include mq($from: tablet) {
    float: left;
    margin-top: $wmp-header-spacing;
  }

}

.wmp-header__search-toggle {
  @include toggle-button();
  min-height: 40px; /* [2] */
  padding: wmp-spacing(1) wmp-spacing(2) 0;
  position: absolute;
  right: wmp-spacing(3);
  top: $wmp-header-spacing;

  .wmp-icon__search {
    fill: $color_wmp-white;
    height: 21px; /* [3] */
    width: 21px; /* [3] */
  }

}

.wmp-header__search-form {
  height: 100%;
  overflow: visible;
}


@include mq($until: tablet) {

  .wmp-header__container {
    margin: 0;
  }

  .wmp-header__logo {
    padding-left: wmp-spacing(3);
    position: relative;
    z-index: 1;
  }

  .wmp-header__search-wrap {
    display: none;

    &.js-show {
      clear: both;
      display: -ms-flexbox; /* [14] */
      display: flex; // sass-lint:disable-line no-duplicate-properties
      text-align: left;
    }
  }

  .wmp-header__search-form {
    background-color: $color_wmp-white;
    display: -ms-flexbox; /* [14] */
    display: flex; // sass-lint:disable-line no-duplicate-properties
    padding: wmp-spacing(3);
    width: 100%;
  }

  .wmp-search__input {
    -ms-flex-positive: 2; /* [14] */
    -webkit-appearance: listbox; // sass-lint:disable-line prefixes /* [5] */
    background-color: $color_wmp-white !important; // sass-lint:disable-line no-important /* [6] */
    border-bottom: 1px solid $color-wmp-grey-600;
    border-bottom-left-radius: $wmp-border-radius;
    border-bottom-right-radius: 0;
    border-left: 1px solid $color-wmp-grey-600;
    border-right: 0;
    border-top: 1px solid $color-wmp-grey-600;
    border-top-left-radius: $wmp-border-radius;
    border-top-right-radius: 0;
    flex-grow: 2;
    font-size: inherit;
    height: 52px; /* [2] */
    margin: 0;
    outline: none;
    padding: 0 wmp-spacing(3);
    width: 100%; /* [2] */

    &:focus {
      box-shadow: inset 0 0 0 $wmp-box-shadow-spread $wmp-focus-color;
    }
  }

  .wmp-search__submit {
    background-color: $color_wmp-green;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: $wmp-border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: $wmp-border-radius;
    float: right;
    font-size: inherit;
    height: 52px; /* [2] */
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: wmp-spacing(2) wmp-spacing(2) 0;

    .wmp-icon__search {
      fill: $color_wmp-white;
      height: 38px; /* [3] */
      width: 38px; /* [3] */
    }

    &::-moz-focus-inner {
      border: 0; /* [4] */
    }

    &:hover {
      background-color: $wmp-button-hover-color;
      cursor: pointer;
    }

    &:focus {
      box-shadow: inset 0 0 0 $wmp-box-shadow-spread $wmp-focus-color;
    }

    &:active {
      background-color: $wmp-button-active-color;
    }

  }

  .wmp-search__close {
    @include close-button();
    margin-left: wmp-spacing(3);
    margin-top: wmp-spacing(2);
  }

}


@include mq($from: tablet) {

  .wmp-header__search-wrap {
    display: block;
    line-height: 0;
  }

  .wmp-header__search-toggle {
    display: none;
  }

  .wmp-search__input {
    -webkit-appearance: listbox; // sass-lint:disable-line prefixes /* [5] */
    background-color: $color_wmp-white !important; // sass-lint:disable-line no-important /* [6] */
    border: 1px solid $color_wmp-white;
    border-bottom-left-radius: $wmp-border-radius;
    border-bottom-right-radius: 0;
    border-top-left-radius: $wmp-border-radius;
    border-top-right-radius: 0;
    display: block;
    float: left;
    font-size: $wmp-base-font-size;
    height: 40px; /* [2] */
    padding: 0 12px; /* [9] */
    width: 235px; /* [2] */

    &:focus {
      border: 1px solid $wmp-focus-color;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      box-shadow: inset 0 0 0 ($wmp-box-shadow-spread - 1) $wmp-focus-color;
      outline: none;
    }

    &::placeholder {
      color: $color-wmp-grey-800;
      font-size: $wmp-base-font-size;
    }
  }

  .wmp-search__submit {
    background-color: $color-wmp-grey-100;
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: $wmp-border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: $wmp-border-radius;
    display: block;
    float: right;
    font-size: inherit;
    height: 40px; /* [2] */
    line-height: inherit;
    outline: none;
    padding-left: 9px; /* [7] */
    padding-top: 2px; /* [7] */
    width: 44px; /* [2] */

    .wmp-icon__search {
      height: 27px; /* [3] */
      width: 27px; /* [3] */
    }

    &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
      border: 0; /* [4] */
    }

    &:focus {
      box-shadow: inset 0 0 0 $wmp-box-shadow-spread $wmp-focus-color;
    }

    &:hover {
      background-color: $color_shade_wmp-blue-35;
      cursor: pointer;

      .wmp-icon__search {
        fill: $color_wmp-white;
      }
    }

    &:active {
      background-color: $color_shade_wmp-blue-50;
    }

  }

  .wmp-search__close {
    display: none;
  }

}

.wmp-search__input--withdropdown {
  border-bottom-left-radius: 0;
}

.wmp-search__submit--withdropdown {
  border-bottom-right-radius: 0;
}


/* Main navigation
 *
 * Appears below the header strip
   ====================================================================== */

.wmp-header__menu {
  float: right;
  margin: $wmp-header-spacing;

  @include mq($from: tablet) {
    float: left;
    margin-right: wmp-spacing(3);
  }
}

.wmp-header__menu-toggle {
  @include toggle-button();
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: $wmp-base-line-height;
  margin-right: 52px; /* [11] */
  padding: 7px wmp-spacing(3);
  position: relative;
  text-decoration: none;
  z-index: 1;

  @include mq($from: tablet) {
    margin-right: 0;
  }

}

/* 'only' modifier for when there is only the menu in the header, no search
   ====================================================================== */

.wmp-header__menu--only {

  @include mq($from: tablet) {
    margin-right: 0;
  }

  .wmp-header__menu-toggle {
    margin-right: 0;
  }

}

.wmp-header__navigation {
  @include print-hide();
  background-color: $color_wmp-white;
  clear: both;
  display: none;
  overflow: hidden;

  &.js-show {
    display: block;

    @include mq($until: large-desktop) {
      border-bottom: 4px solid $color-wmp-grey-100; /* [12] */
    }
  }

}

.wmp-header__navigation-title {
  font-weight: $wmp-font-bold;
  margin-bottom: 0;
  padding: wmp-spacing(3);
  position: relative;
}

.wmp-header__navigation-close {
  @include close-button();
  overflow: hidden;
  position: absolute;
  right: wmp-spacing(3);
  top: wmp-spacing(2);
  white-space: nowrap;
}

.wmp-header__navigation-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.wmp-header__navigation-item {
  border-top: 1px solid $color-wmp-grey-100;
  margin-bottom: 0;
  position: relative;
}

.wmp-header__navigation-link {
  color: $color_wmp-blue;
  display: block;
  padding: wmp-spacing(3);
  text-decoration: none;

  .wmp-icon__chevron-right {
    fill: $color-wmp-grey-600;
    position: absolute;
    right: wmp-spacing(1);
    top: 11px;
  }

  &:hover {
    background-color: $color_wmp-blue;
    box-shadow: none;
    color: $color_wmp-white;
    text-decoration: underline;

    .wmp-icon__chevron-right {
      fill: $color_wmp-white;
    }

  }

  &:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 $wmp-box-shadow-spread $wmp-focus-color;
    color: $color_wmp-blue;
    text-decoration: underline;
  }

  &:active {
    background-color: $color_shade_wmp-blue-35;
    box-shadow: none;
    color: $color_wmp-white;

    .wmp-icon__chevron-right {
      fill: $color_wmp-white;
    }

  }

}

/**
 * Large desktop styles
**/

@include mq($from: large-desktop) {

  .wmp-header__menu-toggle {
    display: none;
  }

  .wmp-header__navigation-title {
    display: none;
  }

  .wmp-header__navigation-item--for-mobile {
    display: none;
  }

  .wmp-header__navigation {
    background-color: $color_wmp-blue;
    display: block;
    margin: 0 auto;
    max-width: $wmp-page-width;
  }

  .wmp-header__navigation-list {
    border-top: 1px solid $wmp-secondary-border-color;
    display: -ms-flexbox; /* [14] */
    display: flex; // sass-lint:disable-line no-duplicate-properties
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }

  .wmp-header__navigation-item {
    border-top: 0;
    margin: 0;
    text-align: center;

    .wmp-icon__chevron-right {
      display: none;
    }
  }

  .wmp-header__navigation-link {
    color: $color_wmp-white;
    font-size: 17px;
    line-height: normal;

    &:visited {
      color: $color_wmp-white;
    }

    &:hover {
      background-color: $color_shade_wmp-blue-35;
    }

    &:focus {
      color: $color_wmp-white;
    }

    &:active {
      background-color: $color_shade_wmp-blue-50;
      color: $color-wmp-grey-100;
    }

    &.is-active {
      background-color: $color_shade_wmp-blue-20;
    }

  }

}

/**
 * Internet Explorer >= 9 specific styles
 *
 * The header component is the only component that
 * supports earlier version of IE.
 * This is because of the WMP branding, navigation
 * and search prominence across the website.
**/


.ie8 {

  .wmp-header__logo,
  .wmp-header__transactional-service-name {
    background-color: $color_wmp-blue;
    display: block;
    padding-left: 24px;
    width: 100%;
  }

  .wmp-header__transactional-service-name {
    padding-bottom: 12px;
    padding-top: 0;
  }

  .wmp-header__search {
    background-color: $color_wmp-blue;
    clear: both;
    padding-bottom: 12px;
  }

  .wmp-header__menu-toggle,
  .wmp-header__search-toggle,
  .wmp-search__close,
  .wmp-header__navigation-title,
  .wmp-header__navigation-link .wmp-icon__chevron-right {
    display: none;
  }

  .wmp-header__navigation-list {
    display: table;
  }

  .wmp-header__navigation-item {
    display: table-cell; /* [15] */
  }

  .wmp-search__submit {
    height: auto;
    width: auto;

    .wmp-u-visually-hidden {
      height: auto;
      position: relative;
      width: auto;
    }
  }

  .wmp-header__navigation {
    display: block;
  }

}

.ie9 {

  @include mq($from: large-desktop) {

    .wmp-header__navigation-list {
      display: table;
    }

    .wmp-header__navigation-item {
      display: table-cell; /* [15] */
    }

  }

  .wmp-header__search-wrap {
    .js-show {
      display: block;
    }
  }

}


/**
 * Transactional Header with service name
**/

.wmp-header__transactional-service-name {
  float: left;
  padding-right: wmp-spacing(3);
  padding-top: 26px; /* [16] */

  @include mq($until: tablet) {
    padding-top: 28px; /* [16] */
  }

}

.wmp-header__transactional-service-name--long {

  @include mq($until: tablet) {
    margin-top: -(wmp-spacing(2));
    padding: 0 wmp-spacing(3) wmp-spacing(3);
    width: 100%;
  }

}

.wmp-header__transactional-service-name--link {
  @include wmp-link-style-white;
  @include wmp-font(19);
  text-decoration: none;
}

.wmp-header--transactional {

  .wmp-header__link {
    @include wmp-logo-size-small;
    display: block;
  }

  .wmp-logo {
    @include wmp-logo-size-small;
  }

  .wmp-header__transactional-service-name {
    float: left;
    padding-left: $wmp-header-spacing;
    padding-top: 23px; /* [16] */

    @include mq($until: tablet) {
      padding-left: 16px;
      padding-top: 25px; /* [16] */
    }

  }

  .wmp-header__transactional-service-name--long {

    @include mq($until: tablet) {
      padding-top: 0;
    }

  }

}

.wmp-header__link--service {
  height: auto;
  margin-bottom: -(wmp-spacing(1));
  text-decoration: none;
  width: auto;

  @include mq($from: tablet) {
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    margin-bottom: 0;
    width: auto;
  }

  &:focus,
  &:hover {
    background: none;

    .wmp-header__service-name {
      text-decoration: underline;
    }

  }

}

.wmp-header__service-name {
  @include wmp-font(19);

  color: $color_wmp-white;
  display: block;
  padding-left: 0;
  padding-right: 0;
  padding-top: 12px;

  @include mq($from: tablet) {
    padding-left: wmp-spacing(3);
    padding-right: wmp-spacing(3);
    padding-top: 0;
  }

}
