{# Define some defaults #}
{% set showNav = params.showNav if params.showNav else "false" %}
{% set showSearch = params.showSearch if params.showSearch else "false" %}

<header class="wmp-header
{%- if params.transactional or params.transactionalService %} wmp-header--transactional{% endif %}
{%- if params.classes %} {{ params.classes }}{% endif %}" role="banner"
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <div class="wmp-width-container wmp-header__container">
    <div class="wmp-header__logo">
      <a class="wmp-header__link{% if params.service %} wmp-header__link--service {% endif %}" href="{% if params.homeHref %}{{ params.homeHref }}{% else %}/{% endif %}" aria-label="{% if params.ariaLabel %}{{ params.ariaLabel }}{% else %}WMP homepage{% endif %}">
        <svg class="wmp-logo wmp-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
          <path fill="#fff" d="M0 0h40v16H0z"></path>
          <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
          <image src="https://assets.wmp.uk/images/wmp-logo.png" xlink:href=""></image>
        </svg>
        {%- if params.service %}
        <span class="wmp-header__service-name">
          {{ params.service.name }}
        </span>
        {%- endif %}
      </a>
    </div>

    {%- if showNav == "false" and showSearch == "false"%}

      {%- if params.transactionalService%}
        <div class="wmp-header__transactional-service-name{% if params.transactionalService.longName %} wmp-header__transactional-service-name--long{% endif %}">
          <a class="wmp-header__transactional-service-name--link" href="{% if params.transactionalService.href %}{{ params.transactionalService.href }}{% else %}/{% endif %}">{{ params.transactionalService.name }}</a>
        </div>
      {%- endif %}

    </div>{# close wmp-header__container #}

    {% endif -%}

    {% if showNav == "true" and params.primaryLinks and showSearch == "true" %}

      <div class="wmp-header__content" id="content-header">

        <div class="wmp-header__menu">
          <button class="wmp-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-label="Open menu">Menu</button>
        </div>

        <div class="wmp-header__search">
          <button class="wmp-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search">
            <svg class="wmp-icon wmp-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
            </svg>
            <span class="wmp-u-visually-hidden">Search</span>
          </button>
          <div class="wmp-header__search-wrap" id="wrap-search">
            <form class="wmp-header__search-form" id="search" action="{% if params.searchAction %}{{ params.searchAction }}{% else %}/search/{% endif %}" method="get" role="search">
              <label class="wmp-u-visually-hidden" for="search-field">Search the WMP website</label>
              <div class="autocomplete-container" id="autocomplete-container"></div>
              <input class="wmp-search__input" id="search-field" name="{% if params.searchInputName %}{{ params.searchInputName }}{% else %}search-field{% endif %}" type="search" placeholder="Search" autocomplete="off">
              <button class="wmp-search__submit" type="submit">
                <svg class="wmp-icon wmp-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                </svg>
                <span class="wmp-u-visually-hidden">Search</span>
              </button>
              <button class="wmp-search__close" id="close-search">
                <svg class="wmp-icon wmp-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                </svg>
                <span class="wmp-u-visually-hidden">Close search</span>
              </button>
            </form>
          </div>
        </div>

      </div>

    </div>{# close wmp-header__container #}

    <nav class="wmp-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
      <p class="wmp-header__navigation-title"><span id="label-navigation">Menu</span>
        <button class="wmp-header__navigation-close" id="close-menu">
          <svg class="wmp-icon wmp-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
          </svg>
          <span class="wmp-u-visually-hidden">Close menu</span>
        </button>
      </p>
      <ul class="wmp-header__navigation-list">
        <li class="wmp-header__navigation-item wmp-header__navigation-item--for-mobile">
          <a class="wmp-header__navigation-link" href="{% if params.homeHref %}{{ params.homeHref }}{% else %}/{% endif %}">
            Home
            <svg class="wmp-icon wmp-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        {%- for item in params.primaryLinks %}
        <li class="wmp-header__navigation-item">
          <a class="wmp-header__navigation-link" href="{{item.url}}">
            {{item.label}}
            <svg class="wmp-icon wmp-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        {%- endfor %}
      </ul>
    </nav>

    {% endif -%}

    {% if showSearch == "true" and showNav == "false" %}

      <div class="wmp-header__content" id="content-header">

        <div class="wmp-header__search">
          <button class="wmp-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search">
            <svg class="wmp-icon wmp-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
            </svg>
            <span class="wmp-u-visually-hidden">Search</span>
          </button>
          <div class="wmp-header__search-wrap" id="wrap-search">
            <form class="wmp-header__search-form" id="search" action="{% if params.searchAction %}{{ params.searchAction }}{% else %}/search/{% endif %}" method="get" role="search">
              <label class="wmp-u-visually-hidden" for="search-field">Search the WMP website</label>
              <div class="autocomplete-container" id="autocomplete-container"></div>
              <input class="wmp-search__input" id="search-field" name="{% if params.searchInputName %}{{ params.searchInputName }}{% else %}search-field{% endif %}" type="search" placeholder="Search" autocomplete="off">
              <button class="wmp-search__submit" type="submit">
                <svg class="wmp-icon wmp-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
                </svg>
                <span class="wmp-u-visually-hidden">Search</span>
              </button>
              <button class="wmp-search__close" id="close-search">
                <svg class="wmp-icon wmp-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                </svg>
                <span class="wmp-u-visually-hidden">Close search</span>
              </button>
            </form>
          </div>
        </div>

      </div>

    </div>{# close wmp-header__container #}

    {% endif -%}

    {% if showNav == "true" and params.primaryLinks and showSearch == "false" %}

      <div class="wmp-header__content" id="content-header">
        <div class="wmp-header__menu wmp-header__menu--only">
          <button class="wmp-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-label="Open menu">Menu</button>
        </div>
      </div>
    </div>{# close wmp-header__container #}

    <nav class="wmp-header__navigation" id="header-navigation" role="navigation" aria-label="Primary navigation" aria-labelledby="label-navigation">
      <p class="wmp-header__navigation-title"><span id="label-navigation">Menu</span>
        <button class="wmp-header__navigation-close" id="close-menu">
          <svg class="wmp-icon wmp-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
          </svg>
          <span class="wmp-u-visually-hidden">Close menu</span>
        </button>
      </p>
      <ul class="wmp-header__navigation-list">
        <li class="wmp-header__navigation-item wmp-header__navigation-item--for-mobile">
          <a class="wmp-header__navigation-link" href="{% if params.homeHref %}{{ params.homeHref }}{% else %}/{% endif %}">
            Home
            <svg class="wmp-icon wmp-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        {%- for item in params.primaryLinks %}
        <li class="wmp-header__navigation-item">
          <a class="wmp-header__navigation-link" href="{{item.url}}">
            {{item.label}}
            <svg class="wmp-icon wmp-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </a>
        </li>
        {%- endfor %}
      </ul>
    </nav>

    {% endif -%}

</header>
