/* ==========================================================================
   COMPONENTS/ #TAB
   ========================================================================== */

.wmp-tabs{
    @include wmp-responsive-margin(5, 'bottom');
}

.wmp-tabs__title,
.wmp-tabs__header{
   @include wmp-typography-responsive(22);
   font-weight: $wmp-font-bold;
   margin-top: 0;
   @include wmp-responsive-margin(2, 'bottom');
   display: block;
}

@include mq($from: desktop) {

    .wmp-tabs__list{
        padding:0;
        margin:0;
        list-style: none;
        display: flex;
    }
    
    .wmp-tabs__item{
        margin:0 wmp-spacing(3) 0 0;
    }   

    .wmp-tabs__item:last-child{
        margin-right:0;
    }   

    .wmp-tabs__panel{
        display: none; 
        &--selected{
            display: block;
        }
    }

    .wmp-tabs__tab{
        padding: wmp-spacing(3);
        background-color: $color-wmp-grey-900;
        color:$color-white; 
        display: block;
        height: 100%;
        text-align: center;
        text-decoration: none;

        &--selected{
            background-color: $color_wmp-blue;
            color:$color-white;         
        }

        &:link{
            color:$color-white;
        }

        &:visited{
            color:$color-white;
        }

        &:hover{
            color:$color-white;
            background-color: $color_shade_wmp-blue-35;
        }

        &:active{
            color:$color-white;
            background-clip: $color_shade_wmp-blue-50;
        }

        &:focus{
            color:$color-white;
            background-color: $color_wmp-blue;
        }

    }


    .wmp-tabs__holder{
        border: 4px solid $color_wmp-blue;
        @include wmp-responsive-padding(4);
    }

    .wmp-tabs__title,
    .wmp-tabs__header{
        display: none;
    }
}