{% set headingLevel = params.headingLevel if params.headingLevel else 3 %}
{%- if params.label %}
<div class="wmp-panel-with-label
{%- if params.colour %} wmp-panel--{{ params.colour }}{% endif %}
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <h{{ headingLevel }} class="wmp-panel-with-label__label">{{ params.label | safe }}</h{{ headingLevel }}>
{% else %}
<div class="wmp-panel
{%- if params.colour %} wmp-panel--{{ params.colour }}{% endif %}
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
{%- endif %}
  {{ params.HTML | safe }}
</div>
