/* ==========================================================================
   COMPONENTS / #EMERGENCY-ALERT
   ========================================================================== */

/**
 * 1. Use inverted link colours due to the yellow
 *    ($color_wmp-yellow) background.
 */

.wmp-global-alert {
  @include print-hide();

  background-color: $color_wmp-yellow;
  padding-bottom: wmp-spacing(4);
  padding-top: wmp-spacing(4);

  a {
    @include wmp-link-style-inverted; /* [1] */
  }

}

.wmp-global-alert__heading {
  @include wmp-typography-responsive(24);

  margin: 0;
}

.wmp-global-alert__content {
  @include top-and-bottom;

  position: relative;
}

.wmp-global-alert__message {
  @include wmp-responsive-margin(2, 'top');

  margin-bottom: 0;
}

.wmp-global-alert__updated {
  @include wmp-responsive-margin(2, 'top');
  @include wmp-typography-responsive(14);
}
