<div class="wmp-global-alert
{%- if params.classes %} {{ params.classes }}{% endif %}" id="wmp-global-alert"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="wmp-width-container">
    <div class="wmp-grid-row">
      <div class="wmp-grid-column-full">
        <div class="wmp-global-alert__content">
          <h2 class="wmp-global-alert__heading"><span class="wmp-u-visually-hidden">Alert: </span>{{ params.title }}</h2>
          <p class="wmp-global-alert__message">{{ params.content }}
          {%- if (params.href) and (params.label) %} <a class="wmp-u-nowrap" href="{{ params.href }}">{{ params.label }}</a>{% endif -%}
          </p>
          {% if params.lastUpdated %}<p class="wmp-global-alert__updated">{{ params.lastUpdated }}</p>{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
