/* ==========================================================================
   COMPONENTS/ #CHECKBOXES
   ========================================================================== */

/**
 * 1. remove 300ms pause on mobile.
 * 2. Fix bug in IE11 caused by transform rotate (-45deg).
 */

$wmp-checkboxes-size: wmp-spacing(6);
$wmp-checkboxes-label-padding-left-right: 12px;

.wmp-checkboxes__item {
  @include wmp-font(19);

  clear: left;
  display: block;
  margin-bottom: wmp-spacing(2);
  min-height: $wmp-checkboxes-size;
  padding: 0 0 0 $wmp-checkboxes-size;
  position: relative;
}

.wmp-checkboxes__item:last-child,
.wmp-checkboxes__item:last-of-type {
  margin-bottom: 0;
}

.wmp-checkboxes__input {
  cursor: pointer;
  height: $wmp-checkboxes-size;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: $wmp-checkboxes-size;
  z-index: 1;
}

.wmp-checkboxes__label {
  -ms-touch-action: manipulation; /* 1 */
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px $wmp-checkboxes-label-padding-left-right wmp-spacing(1);
  touch-action: manipulation;
}

.wmp-checkboxes__hint {
  display: block;
  padding-left: $wmp-checkboxes-label-padding-left-right;
  padding-right: $wmp-checkboxes-label-padding-left-right;
}

.wmp-checkboxes__input + .wmp-checkboxes__label::before {
  background: $wmp-form-element-background-color;
  border: $wmp-border-width-form-element solid $wmp-form-border-color;
  box-sizing: border-box;
  content: '';
  height: $wmp-checkboxes-size;
  left: 0;
  position: absolute;
  top: 0;
  width: $wmp-checkboxes-size;
}

.wmp-checkboxes__input + .wmp-checkboxes__label::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background: transparent;
  border: solid;
  border-top-color: transparent;
  border-width: 0 0 $wmp-border-width $wmp-border-width;
  content: '';
  height: 10px;
  left: 10px;
  opacity: 0; /* 2 */
  position: absolute;
  top: 13px;
  transform: rotate(-45deg);
  width: 22px;
}

/*
 * Focus state
 *
 * 1. Since box-shadows are removed when users customise their colours
 *    We set a transparent outline that is shown instead.
 *    https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
 */

.wmp-checkboxes__input:focus + .wmp-checkboxes__label::before {
  box-shadow: 0 0 0 $wmp-focus-width $wmp-focus-color;
  outline: $wmp-focus-width solid transparent; /* 1 */
  outline-offset: $wmp-focus-width;
}

/* Selected state */

.wmp-checkboxes__input:checked + .wmp-checkboxes__label::after {
  opacity: 1;
}

/* Disabled state */

.wmp-checkboxes__input:disabled,
.wmp-checkboxes__input:disabled + .wmp-checkboxes__label {
  cursor: default;
}

.wmp-checkboxes__input:disabled + .wmp-checkboxes__label {
  opacity: .5;
}

/*
 * Conditional
 *
 * 1. Calculate the amount of padding needed to keep the border
 *    centered against the checkbox.
 * 2. Move the border centered with the checkbox.
 * 3. Move the contents of the conditional inline with the label.
 */

$conditional-border-width: $wmp-border-width-mobile;
$conditional-border-padding: ($wmp-checkboxes-size / 2) - ($conditional-border-width / 2); /* 1 */
$conditional-margin-left: $conditional-border-padding; /* 2 */
$conditional-padding-left: $conditional-border-padding + $wmp-checkboxes-label-padding-left-right; /* 3 */

.wmp-checkboxes__conditional {
  @include wmp-responsive-margin(4, 'bottom');
  border-left: $conditional-border-width solid $wmp-form-border-color;
  margin-left: $conditional-margin-left;
  padding-left: $conditional-padding-left;

  & > :last-child {
    margin-bottom: 0;
  }
}

.js-enabled .wmp-checkboxes__conditional--hidden {
  display: none;
}
