/* ==========================================================================
   COMPONENTS / #HERO
   ========================================================================== */

/**
 *  Hero component shared styles.
 *
 * 1. Position relative to support the description
 *    appearing over the image.
 * 2. Adds a border between the header and hero, if required
 */

.wmp-hero {
  @include print-color($wmp-print-text-color);

  background-color: $color_wmp-blue;
  color: $color_wmp-white;
  position: relative; /* [1] */

  .wmp-hero--border { /* [2] */
    border-top: $wmp-hero-border solid $wmp-secondary-border-color;
  }
}

.wmp-hero__wrapper {
  @include wmp-responsive-padding(8, top);
  @include wmp-responsive-padding(8, bottom);
}

/**
 *  Hero component image styles
 *
 * 3. Center the background image.
 * 4. Stop the height affecting print stylesheets.
 * 5. Show more of the image for larger screen sizes
 * 6. Overlay must be min same height as .wmp-hero--image to cover the image.
 * 7. Darken the background image with an overlay.
 * 12. Remove any heights/min heights in Windows high contrast mode.
 */

.wmp-hero--image {
  background-position: center right; /* [3] */
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen { /* [4] */
    min-height: 200px;
  }

  @include mq($from: tablet) {

    @media only screen { /* [4] */
      min-height: 320px; /* [5] */

      .wmp-hero__overlay {
        height: 320px; /* [6] */
      }
    }
  }

  @media screen and (-ms-high-contrast: active) {
    min-height: 0; /* [12] */
  }

  .wmp-hero__overlay {
    background-color: $color_transparent_wmp-blue-50; /* [7] */

    @media only screen { /* [4] */
      min-height: 200px; /* [6] */
    }

    @media screen and (-ms-high-contrast: active) {
      height: auto; /* [12] */
      min-height: 0; /* [12] */
    }
  }
}


/**
 *  Hero component description styles.
 *
 * 8. 'Random number' for the triangle.
 * 9. 'Random number' for the triangle positioning.
 * 10. Needed to enable the triangle to show correctly in high contrast mode.
 * 11. Give the description box a max width.
 * 13. Remove the arrow in Windows high contrast mode.
 * 14. Reduce spacing and change positioning for Windows high contrast mode.
 */

.wmp-hero--image-description {

  .wmp-hero-content {
    background-color: $color_wmp-blue;
    color: $color_wmp-white;
    margin-bottom: 24px;
    padding: wmp-spacing(4);
    position: relative;
    top: 70px;
    width: 85%;

    .wmp-hero__arrow {
      bottom: -10px; /* [8] */
      display: block;
      height: 20px; /* [8] */
      left: 32px; /* [9] */
      overflow: hidden;
      position: absolute;
      transform: rotate(45deg);
      width: 20px; /* [8] */
      @include print-hide();

      @include mq($from: tablet) {
        left: 46px; /* [9] */
      }

      &:before,
      &:after {
        border: solid 32px $color_wmp-blue; /* [8] */
        content: '';
        display: block;
        height: 0;
        position: absolute;
        top: 0;
        transform: rotate(45deg); /* [10] */
        width: 0;
      }

      @media screen and (-ms-high-contrast: active) {
        display: none; /* [13] */
      }

    }

    @include mq($from: tablet) {

      @include top-and-bottom();
      bottom: -48px; /* [8] */
      margin-bottom: 0;
      max-width: 35em; /* [11] */
      padding: wmp-spacing(5) wmp-spacing(6);
      position: absolute;
      top: auto;
    }

    @include mq($media-type: print) {
      color: $color_wmp-black;
      max-width: 100%;
      padding: 0;
    }

    @media screen and (-ms-high-contrast: active) { /* [14] */
      bottom: 0;
      margin-bottom: 0;
      min-height: 0;
      padding: wmp-spacing(5) 0 0 ;
      position: relative;
      top: 0;
    }
  }
}

/**
 * IE8/9 fixes
 */

.ie8 {

  .wmp-hero-content {
    background-color: $color_wmp-blue;
    color: $color_wmp-white;
    padding: 24px;

    .wmp-hero__arrow {
      display: none;
    }
  }
}

.ie9 {

  .wmp-hero-content {

    .wmp-hero__arrow {
      display: none;
    }
  }
}
