<section class="wmp-hero
{%- if params.imageURL and params.heading %} wmp-hero--image wmp-hero--image-description
{%- elif params.imageURL %} wmp-hero--image{% endif %}
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- if params.imageURL %} style="background-image: url('{{ params.imageURL }}');"{% endif %}
{%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
{% if params.imageURL %}<div class="wmp-hero__overlay">{% endif %}
{%- if params.heading %}
  <div class="wmp-width-container{% if not params.imageURL %} wmp-hero--border{% endif %}">
    <div class="wmp-grid-row">
      <div class="wmp-grid-column-two-thirds">
        <div class="{% if params.imageURL %}wmp-hero-content{% else %}wmp-hero__wrapper{% endif %}">
          <h1 {% if params.text %}class="wmp-u-margin-bottom-3"{% endif %}>{{ params.heading }}</h1>
          {% if params.text %}<p class="wmp-body-l wmp-u-margin-bottom-0">{{ params.text }}</p>{% endif %}
          {% if params.imageURL %}<span class="wmp-hero__arrow" aria-hidden="true"></span>{% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif -%}
{%- if params.imageURL %}</div>{% endif %}
</section>
