/* ==========================================================================
   SITE/ #HOME
   ========================================================================== */

.wmp-contact__contentImage-row--option1{
    margin-bottom: wmp-spacing(3);
}

.wmp-contact__contentRows-column{
    margin-bottom: wmp-spacing(4);
}

.wmp-contact__contentRows-column:last-child,
.wmp-contact__contentRows-column p:last-child{
    margin-bottom: 0;
}


@include mq($from: desktop) {
    .wmp-contact__contentRows-column,
    .wmp-contact__contentImage-row--option1{
        margin-bottom:0;
    }
}

.wmp-contact__methods{
    background-color:$color-wmp-grey-100;
}

.wmp-contact__methods-panel{
    background-color: $color-white;
    padding: wmp-spacing(4);
    margin-bottom: wmp-spacing(4);
}

.wmp-contact__methods-panel:last-child{
    margin-bottom: 0;
}

.wmp-contact__methods-title{
    @include wmp-font(24);
    font-weight: bold;
}



@include mq($from: desktop) {

    .wmp-contact__methods-container{
        display:flex;
        justify-content: space-between;
    }

    .wmp-contact__methods-panel{
        background-color: $color-white;
        padding: wmp-spacing(4);
        width:48%;
        margin-bottom:0;
        display:flex;
        flex-direction: column;
        position: relative;
    }

    .wmp-contact__methods-link{
    }

}