/* ==========================================================================
   SITE/ #header-alert
   ========================================================================== */
.wmp-headerAlert{
    padding: wmp-spacing(4);
    background-color: #fce588;
    color:$color-wmp-grey-700;
    a,
    a:link,
    a:visited{ 
        color:$color-wmp-grey-700;
    }
    a:hover,
    a:focus,
    a:active{
        color:$color-wmp-grey-700;
    }  
}

.wmp-headerAlert p{
    margin-bottom:wmp-spacing(2);
}

.wmp-headerAlert__headlineWrapper{
    display: flex; 
    margin-bottom:wmp-spacing(2);
    flex-direction: column;
}

.wmp-headerAlert__headline{
    // font-size: 24px;
    @include wmp-font(24);
    font-weight: bold;
}
.wmp-headerAlert__hideText{
    order: -5;
    margin-bottom:wmp-spacing(2);
    display: inline-block;
} 

@include mq($from: tablet) {
    .wmp-headerAlert__headlineWrapper{
        flex-direction: row;
        justify-content: space-between; 
    }
    
    .wmp-headerAlert__hideText{
        order: 0;
        margin-bottom: 0;
    } 
}


.wmp-headerAlert--red{
    background-color: $color-wmp-red-600;
    color:$color-wmp-red-050;
    a,
    a:link,
    a:visited{ 
        color:$color-wmp-red-050;
    }
    a:hover,
    a:focus,
    a:active{
        color:$color-wmp-grey-700;
    }

}

.wmp-headerAlert--green{
    background-color: $color-wmp-teal-600;
    color:$color-wmp-teal-050;
    a,
    a:link,
    a:visited{ 
        color:$color-wmp-teal-050;
    }
    a:hover,
    a:focus,
    a:active{
        color:$color-wmp-grey-700;
    }    
}

.wmp-headerAlert--blue{
    background-color: $color-wmp-blue-600;
    color:$color-wmp-blue-050;
    a,
    a:link,
    a:visited{ 
        color:$color-wmp-blue-050;
    }
    a:hover,
    a:focus,
    a:active{
        color:$color-wmp-grey-700;
    }     
}

.wmp-headerAlert--black{
    background-color: $color-wmp-grey-900;
    color:$color-white;
    a,
    a:link,
    a:visited{ 
        color:#fff;
    }
    a:hover,
    a:focus,
    a:active{
        color:$color-wmp-grey-700;
    }    
}

.wmp-headerAlert--yellow{
    background-color: #fce588;
    color:$color-wmp-grey-700;
    a,
    a:link,
    a:visited{ 
        color:#fce588;
    }
    a:hover,
    a:focus,
    a:active{
        color:$color-wmp-grey-700;
    }    
}