/* ==========================================================================
   SITE/ #HOME
   ========================================================================== */
//StartReport and Track your case
.wmp-home__reportTrack{
    background-color:$color-wmp-grey-100;
}

.wmp-home__reportTrack-panel{
    text-align: center;
    background-color: $color-white;
    padding: wmp-spacing(4);
    margin-bottom: wmp-spacing(4);
}

.wmp-home__reportTrack-panel:last-child{
    margin-bottom: 0;
}

.wmp-home__reportTrack-title{
    @include wmp-font(24);
    font-weight: bold;
    a {
        text-decoration: none;;
    }
}

.wmp-home__reportTrack-content{
    flex-grow: 1;
}


.wmp-home__reportTrack-link a,
.wmp-home__reportTrack-link a:link,
.wmp-home__reportTrack-link a:visited{
    padding-right:wmp-spacing(4);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    fill: currentColor;
    stroke: currentColor;
    @include wmp-font(22);
    font-weight: bold;
    background-image: url("data:image/svg+xml,%3Csvg height='20px'  style='enable-background:new 0 0 512 512; ' version='1.1' viewBox='0 0 512 512' width='20px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%230E7181'%3E%3Cpolygon points='160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 '/%3E%3C/svg%3E");
}

.wmp-home__reportTrack-link a:hover,
.wmp-home__reportTrack-link a:focus,
.wmp-home__reportTrack-link a:active{
    background-image: url("data:image/svg+xml,%3Csvg height='20px'  style='enable-background:new 0 0 512 512; ' version='1.1' viewBox='0 0 512 512' width='20px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%2337474F'%3E%3Cpolygon points='160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 '/%3E%3C/svg%3E");
}


@include mq($from: desktop) {

    .wmp-home__reportTrack-container{
        display:flex;
        justify-content: space-between;
    }

    .wmp-home__reportTrack-panel{
        text-align: center;
        background-color: $color-white;
        padding: wmp-spacing(4);
        width:48%;
        margin-bottom:0;
        display:flex;
        flex-direction: column;
        position: relative;
    }

}

.wmp-home__contentImage{
    @include wmp-responsive-padding(7, 'top');
    @include wmp-responsive-padding(7, 'bottom');
    @include top-and-bottom();
    display: block; 
}

.wmp-home__contentImage-list{
    padding-left: 0;
    list-style: none;
}

.wmp-home__contentImage-contentGrid {
    align-self: center;
    order: -1;
}

.wmp-home__contentImage-imageGrid{
    line-height: 1;
}

@include mq($from: desktop) {
    
    .wmp-home__contentImage-contentGrid {
        order: unset;
    }
}

.wmp-home__title{
    @include wmp-font(22);
    font-weight: bold;
    margin-bottom: wmp-spacing(2);

    a {
        text-decoration: none;
    }
}


.wmp-home__standout{
    line-height: 1;
}

.wmp-home__popularOnSite{
    background-color: $color-white;
    padding: 0;
    margin-top: wmp-spacing(5);
}

@include mq($from: desktop) {
    
    .wmp-home__popularOnSite{
        background-color: $color-wmp-grey-100;
        padding: wmp-spacing(4);
        margin-top: wmp-spacing(0);
    }
}
