/* ==========================================================================
   SITE/ #IR
   ========================================================================== */
.wmp-ir-headers__container{
    display:flex;
    justify-content:space-between;
    align-content: center;
    border-bottom: 2px solid $color_wmp-grey-6;
    margin-bottom:wmp-spacing(4);
    &--noexpanded{
        border-bottom: 2px solid $color_wmp-grey-6;
        margin-bottom:wmp-spacing(4);
    }
}   

.wmp-ir-headers__title{
    align-self:center;
}

