/* ==========================================================================
   SITE/ #MAJOR-EVENT
   ========================================================================== */
.wmp-majorEvents{
    display:flex;
    flex-direction:column;
}

.wmp-majorEvents__image{
    margin-right:wmp-spacing(3);
    margin-bottom:wmp-spacing(2);
}

.wmp-majorEvents__imageLink{
    display:block;
}

.wmp-majorEvents__title{
    margin-bottom:wmp-spacing(3);
}

.wmp-majorEvents__date{
    margin-bottom:wmp-spacing(2);
}

@include mq($from: desktop) {
    
    .wmp-majorEvents{
        display:flex;
        flex-direction:row;
    }
    
}