/* ==========================================================================
   SITE/ #NEWS
   ========================================================================== */
.wmp-news__dateblock{
    border-bottom:wmp-spacing(1) solid $color_wmp-grey-6;
    margin-bottom: wmp-spacing(4);
}

.wmp-news__dateblock-date,
.wmp-news__dateblock-updated{
    margin-bottom: wmp-spacing(2);
}

.wmp-news__social-title{
    margin-bottom: wmp-spacing(2);
}

.wmp-news__social-list{
    display: flex;
    padding-left:0
}

.wmp-news__social-item {
    list-style: none;
    margin-right: wmp-spacing(1);
}

.wmp-news__social-link {
    @include wmp-circle;
    background-color:$color-wmp-grey-100;
    display:inline-block;
    padding:wmp-spacing(1);
    margin-right: wmp-spacing(2);
    width:50px;
    height:50px;
    display:flex;
    vertical-align:center;
    text-align:center;
    justify-content:center;
}

.wmp-news__social-icon{
    width:25px;
    height:25px;
    fill: $color-wmp-grey-900;
    align-self: center;
}


.wmp-news__archive--mobile{
    display: block
}

@include mq($from: desktop) {
    .wmp-news__archive--desktop{
        display: block;
    }

    .wmp-news__archive--mobile{
        display: none;
    }
}

.wmp-news__focus{
    p {
        font-size: 16px;
        margin-bottom:wmp-spacing(2);
    }
}

// .wmp-news__related-articles{
//     display:flex;
//     flex-direction:column;
// }


.wmp-news__related{
    padding-top: wmp-spacing(5);
    &--newsPage{
        border-top:4px solid $color_wmp-grey-6;
    }
}