/* ==========================================================================
   SITE/ #SEARCH
   ========================================================================== */
.wmp-search-header__form,
.wmp-search-full__form{
  position: relative;
  width:100%;
}
 
.wmp-search-full__icon,
.wmp-search-mobile__icon,
.wmp-search-header__icon{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  left:0;
  fill: $color_wmp-black;
}

.wmp-search-header__input,
.wmp-search-mobile__input,
.wmp-search-full__input{
  padding: wmp-spacing(2) 10px wmp-spacing(2) 40px;
  @include wmp-font(22);
  width: 100%;
  border:1px solid $color-white;
  -webkit-appearance: none;

  &:focus{
      box-shadow: inset 0 0 0 3px $color_wmp-yellow;
      border:1px solid $color_wmp-yellow;
  }
}

.wmp-search-full__formGroup{
    background-color:$color_wmp-blue;
    padding:wmp-spacing(3);
    display: flex;
    margin-bottom:wmp-spacing(6);
}

@include mq($from: tablet) {
  .wmp-search-full__formGroup{
    padding:wmp-spacing(5);
  }
}

.wmp-search-full__formGroup.wmp-search-full__formGroup--home{
  margin-bottom: wmp-spacing(2);
}

@include mq($from: tablet) {
  .wmp-search-full__formGroup.wmp-search-full__formGroup--home{
    margin-bottom: wmp-spacing(0);
  }
}


.wmp-search-header__icon{
  margin-top:2px;
  margin-left: 3px;
  transform: scale(0.7);

}

.wmp-search-mobile__icon{
  left: unset;
  margin-top: 10px;
  margin-left:5px;
  transform: scale(0.8);;
}

.wmp-search-fullWidth__formGroup{
    background-color:$color_wmp-blue;
    padding:wmp-spacing(5);
    display: flex;
    margin-bottom:wmp-spacing(6);
}

.wmp-search-fullWidth--contact .wmp-search-fullWidth__formGroup{
  margin-bottom: 0;
}

.wmp-search-fullWidth__input{
    padding: wmp-spacing(2) wmp-spacing(3);
    @include wmp-font(22);
    width: 100%;
    border:1px solid $color-white;
    -webkit-appearance: none;

    &:focus{
        box-shadow: inset 0 0 0 3px $color_wmp-yellow;
        border:1px solid $color_wmp-yellow;
    }
}

.wmp-search__button {
    background-color: $color_wmp-yellow;
    border: 2px solid $color_wmp-yellow;
    display: block;
    float: right;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    padding-left: 8px; /* [7] */
    padding-top: 2px; /* [7] */
    width: 44px; /* [2] */

    .wmp-icon__search {
      height: 27px; /* [3] */
      width: 27px; /* [3] */
    }

    &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
      border: 0; /* [4] */
    }

    &:focus {
      box-shadow: inset 0 0 0 3px $color-black   ;
      border-color:$color-black;
    }

    &:hover {
      background-color: $color_shade_wmp-blue-35;
      border-color:$color-black;
      cursor: pointer;

      .wmp-icon__search {
        fill: $color_wmp-white;
      }
    }

    &:active {
      background-color: $color_shade_wmp-blue-50;
    }

  }