/* ==========================================================================
   SITE/ #track
   ========================================================================== */
.wmp-trackYourCase-timeline {
  margin-bottom: wmp-spacing(5);
}

.wmp-trackYourCase-timeline__list,
.wmp-trackYourCase-timeline__item {
  padding: 0;
  margin: 0;
  list-style: none;
}
.wmp-trackYourCase-timeline__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  @include mq($from: desktop) {
    flex-direction: row;
  }
}

.wmp-trackYourCase-timeline__item {
  width: 100%;
  justify-items: center;
  border-left: 4px solid $color_wmp-grey-6;
  padding-left: wmp-spacing(2);
  padding-bottom: wmp-spacing(3);
  @include mq($from: desktop) {
    width: 25%;
    padding-left: wmp-spacing(0);
    padding-bottom: wmp-spacing(0);
    border-left: 0;
  }
}

.wmp-trackYourCase-timeline__item:not(:last-child) {
  margin-right:  wmp-spacing(5);
}

.wmp-trackYourCase-timeline__status {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  @include mq($from: desktop) {
    border-top: 4px solid $color_wmp-grey-6;
    padding-top: 8px;
  }
  @include mq($from: desktop) {
    min-height: 220px;
  }
  @include mq($from: large-desktop) {
    min-height: 200px;
  }
}

.wmp-trackYourCase-timeline__status__title {
  @include wmp-font(19);
  font-weight: bold;
}

.wmp-trackYourCase-timeline__status__content{
  @include wmp-font(16);
  color: $color-wmp-grey-900;
  text-align: left;
  margin-bottom: 0;
  @include mq($from: desktop) {
    padding: wmp-spacing(1) wmp-spacing(0);
  }
}

.wmp-trackYourCase-timeline__item--active,
.wmp-trackYourCase-timeline__item--active .wmp-trackYourCase-timeline__status {
  border-color: $wmp-success-color;
}

.wmp-trackYourCase-timeline__item--active .wmp-trackYourCase-timeline__status__title {
  color: $wmp-success-color;
}

.wmp-trackYourCase-timeline__item--past,
.wmp-trackYourCase-timeline__item--past .wmp-trackYourCase-timeline__status {
  border-color: $color_wmp-blue;
}

.wmp-trackYourCase-timeline__item--past .wmp-trackYourCase-timeline__status {
  color: $color_wmp-blue;
}

.wmp-trackYourCase-timeline__date {
  @include wmp-font(16);
  margin-bottom: wmp-spacing(2);
  font-weight: normal;
}

.wmp-trackYourCase-timeline__details {
  font-size: 14px;
}

.wmp-trackYourCase-updates__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wmp-trackYourCase-updates__item {
  padding-top: wmp-spacing(3);
  padding-bottom: wmp-spacing(3);
  border-top: 1px solid $color_wmp-grey-6;
}

.wmp-trackYourCase-updates__title {
  margin-bottom: wmp-spacing(0);
}

.wmp-trackYourCase-updates__date {
  margin-bottom: wmp-spacing(2);
  font-size: 21px;
}

.wmp-trackYourCase-config,
.wmp-trackYourCase-uploads{
  padding-top: wmp-spacing(3);
  padding-bottom: wmp-spacing(3);
}

.wmp-trackYourCase-updates__content p:last-child {
  margin-bottom: wmp-spacing(0);
}

.wmp-nav-list--trackYourCase {
  display: none;
  @include mq($from: desktop) {
    display: block;
  }
}
