/* ==========================================================================
   STYLES / #ICONS
   ========================================================================== */

/**
 * We use SVGs for our icons, with no PNG fallback.
 *
 * For IE8 support, alternate styling is applied to the components using icons.
 */

// Default icon size

.wmp-icon {
  height: $wmp-icon-size;
  width: $wmp-icon-size;
}

// Default icon colours

.wmp-icon__search {
  fill: $color_black;
}

.wmp-icon__chevron-left {
  fill: $color_wmp-blue;
}

.wmp-icon__chevron-right {
  fill: $color_wmp-blue;
}

.wmp-icon__close {
  fill: $color_wmp-blue;
}

.wmp-icon__closed {
  fill:none;
  stroke:$color_wmp-blue;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:32px
}

.wmp-icon__cross {
  fill: $color_wmp-red;
}

.wmp-icon__tick {
  stroke: $color_wmp-green;
}

.wmp-icon__arrow-right {
  fill: $color_wmp-blue;
}

.wmp-icon__arrow-left {
  fill: $color_wmp-blue;
}

.wmp-icon__arrow-right-circle {
  fill: $color_wmp-green;
}

.wmp-icon__chevron-down {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); // sass-lint:disable-line property-sort-order
  fill: $color_wmp-blue; // sass-lint:disable-line property-sort-order
  path {
    fill: $color_wmp-white;
  }
}

.wmp-icon__chevron-up {
  stroke: $color_wmp-blue;
  fill: none;
  polyline {
    stroke: $color_wmp-blue;
  }
}

.wmp-icon__emdash {
  path {
    fill: $color-wmp-grey-600;
  }
}

.wmp-icon__plus {
  fill: $color_wmp-blue;
}

.wmp-icon__minus {
  fill: $color_wmp-blue;
}

// Icon size adjustments

.wmp-icon--size-25 {
  height: $wmp-icon-size * 1.25;
  width: $wmp-icon-size * 1.25;
}

.wmp-icon--size-50 {
  height: $wmp-icon-size * 1.5;
  width: $wmp-icon-size * 1.5;
}

.wmp-icon--size-75 {
  height: $wmp-icon-size * 1.75;
  width: $wmp-icon-size * 1.75;
}

.wmp-icon--size-100 {
  height: $wmp-icon-size * 2;
  width: $wmp-icon-size * 2;
}
