/* ==========================================================================
   STYLES / #LISTS
   ========================================================================== */

// The % (silent class) allows code to be extended (@extend) to other elements
// without bloating the code.
//
// @example scss
//  .foo {
//   @extend %wmp-section-break--xl;
//  }

/**
 * 1. 'Random number' used to align ul and ol left with content.
 * 2. 'Random number' used to give sufficient spacing between text and icon.
 * 3. 'Random number' used to align icon and text.
 */

%wmp-list {
  @include wmp-typography-responsive(19);
  @include wmp-responsive-margin(4, 'bottom');

  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

%wmp-list > li {
  @include wmp-responsive-margin(2, 'bottom');

  &:last-child {
    margin-bottom: 0;
  }
}

%wmp-list--bullet {
  list-style-type: disc;
  padding-left: 20px; /* [1] */
}

.wmp-list--bullet {
  @extend %wmp-list--bullet;
}

%wmp-list--number {
  list-style-type: decimal;
  padding-left: 20px; /* [1] */
}

.wmp-list--number {
  @extend %wmp-list--number;
}

.wmp-list {
  @extend %wmp-list;
}

ul {
  @extend %wmp-list;
  @extend %wmp-list--bullet;
}

ol {
  @extend %wmp-list;
  @extend %wmp-list--number;
}

.wmp-list--reset{
  list-style: none;
  padding-left: 0; /* [2] */
}

.wmp-list--tick,
.wmp-list--cross {
  list-style: none;
  margin-top: 0;
  padding-left: 40px; /* [2] */
  position: relative;

  svg {
    left: -4px; /* [3] */
    margin-top: -5px; /* [3] */
    position: absolute;
  }
}
