/* ==========================================================================
   STYLES / #SECTION-BREAK
   ========================================================================== */

// The % (silent class) allows code to be extended (@extend) to other elements
// without bloating the code.
//
// @example scss
//  .foo {
//   @extend %wmp-section-break--xl;
//  }

/**
 * 1. Extended the section-break--l code for usage of a semantic <hr> with
 * no class name.
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 */

%wmp-section-break {
  border: 0;
  margin: 0;
}

.wmp-section-break {
  @extend %wmp-section-break;
}

%wmp-section-break--xl {
  @include wmp-responsive-margin(8, 'top');
  @include wmp-responsive-margin(8, 'bottom');
}

.wmp-section-break--xl {
  @extend %wmp-section-break--xl;
}

%wmp-section-break--l {
  @include wmp-responsive-margin(6, 'top');
  @include wmp-responsive-margin(6, 'bottom');
}

.wmp-section-break--l {
  @extend %wmp-section-break--l;
}

%wmp-section-break--m {
  @include wmp-responsive-margin(4, 'top');
  @include wmp-responsive-margin(4, 'bottom');
}

.wmp-section-break--m {
  @extend %wmp-section-break--m;
}

%wmp-section-break--visible {
  border-bottom: 1px solid $wmp-border-color;
}

.wmp-section-break--visible {
  @extend %wmp-section-break--visible;
}

hr { /* [1] */
  @extend %wmp-section-break;
  @extend %wmp-section-break--l;
  @extend %wmp-section-break--visible;
}
