/* ==========================================================================
   STYLES / #TYPOGRAPHY
   ========================================================================== */

/* Headings */

// The % (silent class) allows code to be extended (@extend) to other elements
// without bloating the code.
//
// @example scss
//  .foo {
//   @extend %wmp-heading-xl;
//  }

%wmp-heading-xl {
  @include wmp-typography-responsive(48);

  display: block;
  font-weight: $wmp-font-bold;
  margin-top: 0;

  @include wmp-responsive-margin(7, 'bottom');
}

h1,
.wmp-heading-xl {
  @extend %wmp-heading-xl;
}

%wmp-heading-l {
  @include wmp-typography-responsive(32);

  display: block;
  font-weight: $wmp-font-bold;
  margin-top: 0;

  @include wmp-responsive-margin(4, 'bottom');
}

h2,
.wmp-heading-l {
  @extend %wmp-heading-l;
}

%wmp-heading-m {
  @include wmp-typography-responsive(24);

  display: block;
  font-weight: $wmp-font-bold;
  margin-top: 0;

  @include wmp-responsive-margin(4, 'bottom');
}

h3,
.wmp-heading-m {
  @extend %wmp-heading-m;
}

%wmp-heading-s {
  @include wmp-typography-responsive(22);

  display: block;
  font-weight: $wmp-font-bold;
  margin-top: 0;

  @include wmp-responsive-margin(4, 'bottom');
}

h4,
.wmp-heading-s {
  @extend %wmp-heading-s;
}

%wmp-heading-xs {
  @include wmp-typography-responsive(19);

  display: block;
  font-weight: $wmp-font-bold;
  margin-top: 0;

  @include wmp-responsive-margin(4, 'bottom');
}

h5,
.wmp-heading-xs {
  @extend %wmp-heading-xs;
}

%wmp-heading-xxs {
  @include wmp-typography-responsive(19);

  display: block;
  font-weight: $wmp-font-bold;
  margin-top: 0;

  @include wmp-responsive-margin(4, 'bottom');
}

h6,
.wmp-heading-xxs {
  @extend %wmp-heading-xxs;
}

/* Captions to be used inside headings */

.wmp-caption-2xl {
  @include wmp-font(32);

  color: $wmp-secondary-text-color;
  display: block;
  margin-bottom: wmp-spacing(1);
}

.wmp-caption-xl {
  @include wmp-font(27);

  color: $wmp-secondary-text-color;
  display: block;
  margin-bottom: wmp-spacing(1);
}

.wmp-caption-l {
  @include wmp-font(24);

  color: $wmp-secondary-text-color;
  display: block;
  margin-bottom: wmp-spacing(1);
}

.wmp-caption-m {
  @include wmp-font(19);

  color: $wmp-secondary-text-color;
  display: block;
}

.wmp-caption--bottom {
  margin-bottom: wmp-spacing(0);
  margin-top: wmp-spacing(1);
}

/* Body (paragraphs) */

%wmp-body-xl {
  @include wmp-typography-responsive(27);

  display: block;
  margin-top: 0;

  @include wmp-responsive-margin(5, 'bottom');
}

.wmp-body-xl {
  @extend %wmp-body-l;
}

%wmp-body-l {
  @include wmp-typography-responsive(24);

  display: block;
  margin-top: 0;

  @include wmp-responsive-margin(5, 'bottom');
}

.wmp-body-l {
  @extend %wmp-body-l;
}

%wmp-body-m {
  @include wmp-typography-responsive(19);

  display: block;
  margin-top: 0;

  @include wmp-responsive-margin(4, 'bottom');
}

p,
.wmp-body-m {
  @extend %wmp-body-m;
  color: inherit;
}

%wmp-body-s {
  @include wmp-typography-responsive(16);

  display: block;
  margin-top: 0;

  @include wmp-responsive-margin(4, 'bottom');
}

.wmp-body-s {
  @extend %wmp-body-s;
}

address {
  @extend %wmp-body-m;

  font-style: normal;
}

/**
 * Lede text
 *
 * 1. Apply lede text styling to p and ul within the lede element
 * 2. Reduces the spacing between the page heading and the lede text
 */

.wmp-lede-text {
  @include wmp-font(24);
  @include wmp-responsive-margin(7, 'bottom');
  /* [1] */
  p,
  ul {
    @include wmp-font(24);
  }
}

.wmp-lede-text--small {
  @include wmp-font(19);
  @include wmp-responsive-margin(5, 'bottom');
}

/* [2] */
h1 + .wmp-lede-text,
h1 + .wmp-lede-text--small {
  margin-top: - wmp-spacing(4);
}

/**
 * Contextual adjustments
 *
 * Add top padding to headings that appear directly after paragraphs.
 *
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/wmp-frontend
 */

%wmp-body-l  + %wmp-heading-l {
  padding-top: wmp-spacing(1);

  @include mq($from: tablet) {
    padding-top: wmp-spacing(2);
  }
}

%wmp-body-m  + %wmp-heading-l,
%wmp-body-s  + %wmp-heading-l,
%wmp-list + %wmp-heading-l {
  @include wmp-responsive-padding(4, 'top');
}

%wmp-body-m + %wmp-heading-m,
%wmp-body-s + %wmp-heading-m,
%wmp-list + %wmp-heading-m,
%wmp-body-m + %wmp-heading-s,
%wmp-body-s + %wmp-heading-s,
%wmp-list + %wmp-heading-s {
  padding-top: wmp-spacing(1);

  @include mq($from: tablet) {
    padding-top: wmp-spacing(2);
  }
}

/* Font weight for <strong> and <b> */

strong,
b {
  font-weight: $wmp-font-bold;
}
