/* ==========================================================================
   COMPONENTS / #FOOTER
   ========================================================================== */

.wmp-footer {
  @include clearfix();
  @include print-hide();
  @include wmp-responsive-padding(5, bottom);
  @include wmp-responsive-padding(5, top);

  background-color: $color-wmp-grey-100;
  border-top: wmp-spacing(1) solid $color_wmp-blue;
}

.wmp-footer__list {
  @include wmp-responsive-padding(4, bottom);

  list-style-type: none;
  margin: 0;
  padding-left: wmp-spacing(0);

  @include mq($from: desktop) {
    float: left;
    padding-bottom: 0;
    width: 75%;
  }
}

.wmp-footer__list-item {
  @include wmp-font(16);

  @include mq($from: desktop) {
    float: left;
    margin-right: wmp-spacing(5);
  }
}

.wmp-footer__list-item-link {
  color: $color_wmp-black;
}

.wmp-footer__copyright {
  @include wmp-font(16);

  color: $wmp-secondary-text-color;
  margin-bottom: 0;

  @include mq($from: desktop) {
    float: right;
    text-align: right;
    width: 25%;
  }
}

@include mq($from: desktop) {
  .wmp-footer__list--three-columns {
    -moz-column-count: 3;
    -moz-column-gap: wmp-spacing(4);
    -webkit-column-count: 3;
    -webkit-column-gap: wmp-spacing(4);
    column-count: 3;
    column-gap: wmp-spacing(4);

    li {
      float: none;
    }
  }
}
