// ==========================================================================
// SETTINGS / #FONT-FACE
// ==========================================================================

// WMP uses the Frutiger font, it was originally made
// for print, but we've had to adapt for web.
// https://assets.wmp.uk/fonts/wmp-fonts-1.3.0.css

// sass-lint:disable no-duplicate-properties, indentation, property-sort-order

@font-face {
  font-family: 'Frutiger W01';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('https://assets.wmp.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix');
  src: url('https://assets.wmp.uk/fonts/FrutigerLTW01-55Roman.eot?#iefix') format('eot'),
       url('https://assets.wmp.uk/fonts/FrutigerLTW01-55Roman.woff2') format('woff2'),
       url('https://assets.wmp.uk/fonts/FrutigerLTW01-55Roman.woff') format('woff'),
       url('https://assets.wmp.uk/fonts/FrutigerLTW01-55Roman.ttf') format('truetype'),
       url('https://assets.wmp.uk/fonts/FrutigerLTW01-55Roman.svg#7def0e34-f28d-434f-b2ec-472bde847115') format('svg');
}

@font-face {
  font-family: 'Frutiger W01';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('https://assets.wmp.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix');
  src: url('https://assets.wmp.uk/fonts/FrutigerLTW01-65Bold.eot?#iefix') format('eot'),
       url('https://assets.wmp.uk/fonts/FrutigerLTW01-65Bold.woff2') format('woff2'),
       url('https://assets.wmp.uk/fonts/FrutigerLTW01-65Bold.woff') format('woff'),
       url('https://assets.wmp.uk/fonts/FrutigerLTW01-65Bold.ttf') format('truetype'),
       url('https://assets.wmp.uk/fonts/FrutigerLTW01-65Bold.svg#eae74276-dd78-47e4-9b27-dac81c3411ca') format('svg');
}
