
/* ==========================================================================
   COMPONENTS/ #HINT
   ========================================================================== */

.wmp-hint {
  @include wmp-font(19);

  color: $wmp-secondary-text-color;
  display: block;
  margin-bottom: wmp-spacing(3);
}

// Reduces margin-bottom of hint when used after the default label (no class)
// or wmp-label--s for better vertical alignment.

// This adjustment will not work when the label is inside the <h1>, however it
// is unlikely that the default or wmp-label--s class would be used in this
// case.

// This adjustment will not work in browsers that do not support :not().
// Users with these browsers will see the default size margin (5px larger).

.wmp-label:not(.wmp-label--m):not(.wmp-label--l):not(.wmp-label--xl) + .wmp-hint {
  margin-bottom: wmp-spacing(2);
}

// Reduces margin-bottom of hint when used after the default legend (no class)
// or wmp-fieldset__legend--s for better vertical alignment.

// This adjustment will not work when the legend is outside the <h1>, however
// it is unlikely that the default or wmp-fieldset__legend--s class would be
// used in this case.

// This adjustment will not work in browsers that do not support :not().
// Users with these browsers will see the default size margin (5px larger).

.wmp-fieldset__legend:not(.wmp-fieldset__legend--m):not(.wmp-fieldset__legend--l):not(.wmp-fieldset__legend--xl) + .wmp-hint {
  margin-bottom: wmp-spacing(2);
}

// Reduces visual spacing of legend when there is a hint

.wmp-fieldset__legend + .wmp-hint,
.wmp-fieldset__legend + .wmp-hint {
  margin-top: -(wmp-spacing(1));
}
