/* ==========================================================================
   COMPONENTS / #PANEL
   ========================================================================== */

.wmp-panel {
  @include panel($color_wmp-white, $wmp-text-color);
  width: 100%;
}

/* Panel without padding 
========================================================================== */
.wmp-panel--noSpacing {
  padding: 0;
}


/* Panel colour variant
   ========================================================================== */

.wmp-panel--grey {
  background-color: $color-wmp-grey-100;
}

/* Panel with label
   ========================================================================== */

.wmp-panel-with-label {
  @include panel-with-label($color_wmp-white, $wmp-text-color);
}

.wmp-panel-with-label__label {
  @include heading-label($color_wmp-blue, $color_wmp-white);
  @include print-color($wmp-print-text-color);
}

/* Panel group
   ========================================================================== */

/**
 * Panel group allows you to have a row of panels.
 *
 * 1. Flexbox is used to make each panel in a row the same height.
 */

.wmp-panel-group {
  @include flex(); /* [1] */

  margin-bottom: wmp-spacing(5);

  @include mq($until: desktop) {
    margin-bottom: wmp-spacing(4);
  }

}

.wmp-panel-group__item {
  @include flex-item(); /* [1] */

  @include mq($until: desktop) {
    margin-bottom: wmp-spacing(4);

    &:last-child {
      margin-bottom: 0;
    }

  }

  .wmp-panel {
    margin-bottom: 0;
    margin-top: 0;
  }

}
