/* ==========================================================================
   COMPONENTS/ #BACK-LINK
   ========================================================================== */

/**
 * 1. Allow space for the arrow.
 * 2. Align the icon with the start of the back link.
 * 3. Align the icon with the middle of the text.
 */

.wmp-back-link {
  margin-bottom: wmp-spacing(3);
}

.wmp-back-link__link {
  @include wmp-typography-responsive(16);

  display: inline-block;
  padding-left: 16px; /* 1 */
  position: relative;
  text-decoration: none;

  .wmp-icon__chevron-left {
    height: 24px;
    left: -8px; /* 2 */
    position: absolute;
    top: -1px; /* 3 */
    width: 24px;
  }

  &:visited {
    color: $wmp-link-color;
  }

  &:hover {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    color: $wmp-text-color;

    .wmp-icon__chevron-left {
      fill: $color_wmp-black;
    }
  }

}
