{% set headingLevel = params.headingLevel if params.headingLevel else 3 %}
<div class="wmp-promo
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <a class="wmp-promo__link-wrapper" href="{{ params.href }}">
    {%- if params.imgURL %}
    <img class="wmp-promo__img" src="{{ params.imgURL }}" alt="{{ params.imgALT }}">
    {%- endif %}
    <div class="wmp-promo__content">
      <h{{ headingLevel }} class="wmp-promo__heading">{{ params.heading | safe }}</h{{ headingLevel }}>
      {%- if params.description %}
      <p class="wmp-promo__description">{{ params.description | safe }}</p>
      {%- endif %}
    </div>
  </a>
</div>
