/* ==========================================================================
   COMPONENTS/ #RADIOS
   ========================================================================== */

/**
 * 1. remove 300ms pause on mobile.
 * 2. Fix bug in IE11 caused by transform rotate (-45deg).
 */

$wmp-radios-size: wmp-spacing(6);
$wmp-radios-label-padding-left-right: 12px;
// When the default focus width is used on a curved edge it looks visually smaller.
// So for the circular radios we bump the default to make it look visually consistent.
$wmp-radios-focus-width: $wmp-focus-width + 1px;

.wmp-radios__item {
  @include wmp-font(19);

  clear: left;
  display: block;
  margin-bottom: wmp-spacing(2);
  min-height: $wmp-radios-size;
  padding: 0 0 0 $wmp-radios-size;
  position: relative;
}

.wmp-radios__item:last-child,
.wmp-radios__item:last-of-type {
  margin-bottom: 0;
}

.wmp-radios__input {
  cursor: pointer;
  height: $wmp-radios-size;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: $wmp-radios-size;
  z-index: 1;
}

.wmp-radios__label {
  -ms-touch-action: manipulation; /* 1 */
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px $wmp-radios-label-padding-left-right wmp-spacing(1);
  touch-action: manipulation; /* 1 */
}

.wmp-radios__hint {
  display: block;
  padding-left: $wmp-radios-label-padding-left-right;
  padding-right: $wmp-radios-label-padding-left-right;
}

.wmp-radios__input + .wmp-radios__label::before {
  background: $wmp-form-element-background-color;
  border: $wmp-border-width-form-element solid $wmp-form-border-color;
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  height: $wmp-radios-size;
  left: 0;
  position: absolute;
  top: 0;
  width: $wmp-radios-size;
}

.wmp-radios__input + .wmp-radios__label::after {
  background: $wmp-form-border-color;
  border: 10px solid $wmp-text-color;
  border-radius: 50%;
  content: '';
  height: 0;
  left: 10px;
  opacity: 0;
  position: absolute;
  top: 10px;
  width: 0;
}

/**
 * Focus state
 *
 * 1. Since box-shadows are removed when users customise their colours
 *    We set a transparent outline that is shown instead.
 *    https://accessibility.blog.gov.uk/2017/03/27/how-users-change-colours-on-websites/
 */

.wmp-radios__input:focus + .wmp-radios__label::before {
  box-shadow: 0 0 0 $wmp-radios-focus-width $wmp-focus-color;
  outline: $wmp-focus-width solid transparent; /* 1 */
  outline-offset: $wmp-focus-width;
}

/* Selected state */

.wmp-radios__input:checked + .wmp-radios__label::after {
  opacity: 1;
}

/* Disabled state */

.wmp-radios__input:disabled,
.wmp-radios__input:disabled + .wmp-radios__label {
  cursor: default;
}

.wmp-radios__input:disabled + .wmp-radios__label {
  opacity: .5;
}

/*
 * Inline variant
 *
 * 1. Prevent inline modifier being used with conditional reveals
 */

.wmp-radios--inline {
  @include mq ($from: tablet) {
    @include clearfix;

    .wmp-radios__item {
      clear: none;
      float: left;
      margin-right: wmp-spacing(4);
    }
  }

  &.wmp-radios--conditional { /* 1 */
    .wmp-radios__item {
      float: none;
      margin-right: 0;
    }
  }
}

/* Divider variant */

.wmp-radios__divider {
  $wmp-divider-size: $wmp-radios-size !default;
  @include wmp-font(19);

  color: $wmp-text-color;
  margin-bottom: wmp-spacing(2);
  text-align: center;
  width: $wmp-divider-size;
}

/* Conditional */

$conditional-border-width: $wmp-border-width-mobile;
// Calculate the amount of padding needed to keep the border centered against the radios.
$conditional-border-padding: ($wmp-radios-size / 2) - ($conditional-border-width / 2);
// Move the border centered with the radios
$conditional-margin-left: $conditional-border-padding;
// Move the contents of the conditional inline with the label
$conditional-padding-left: $conditional-border-padding + $wmp-radios-label-padding-left-right;

.wmp-radios__conditional {
  @include wmp-responsive-margin(4, 'bottom');
  border-left: $conditional-border-width solid $wmp-form-border-color;
  margin-left: $conditional-margin-left;
  padding-left: $conditional-padding-left;

  & > :last-child {
    margin-bottom: 0;
  }
}

.js-enabled .wmp-radios__conditional--hidden {
  display: none;
}
