/* ==========================================================================
   COMPONENTS / #IMAGES
   ========================================================================== */

/**
 * 1. Overrides default browser margin values.
 * 2. Makes the image width two thirds of its container for desktop.
 * 3. Avoid image printing full width of a page.
 * 4. Removes top margin from subsequent wmp-image.
 */ 

.wmp-image {
  background-color: $color_wmp-white;
  border-bottom: 1px solid $color-wmp-grey-100;

  @include wmp-responsive-margin(6, 'bottom');
  @include wmp-responsive-margin(6, 'top');

  margin-left: 0; /* [1] */
  margin-right: 0; /* [1] */

  @include mq($from: desktop) {
    width: 66.66667%; /* [2] */
  }

  @include mq($media-type: print) {
    width: 50%; /* [3] */
  }

  & + .wmp-image {
    @include wmp-responsive-margin(0, 'top'); /* [4] */
  }

}

.wmp-image__img {
  display: block;
  width: 100%;
}

.wmp-image__caption {
  @include wmp-typography-responsive(16);

  padding: wmp-spacing(3);
}
