<figure class="wmp-image
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <img class="wmp-image__img" src="{{ params.src }}" alt="{{ params.alt }}">
  {%- if params.caption %}
  <figcaption class="wmp-image__caption">
    {{ params.caption | safe }}
  </figcaption>
  {%- endif %}
</figure>
