{% set headingLevel = params.headingLevel if params.headingLevel else 3 %}
<div class="wmp-do-dont-list
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <h{{ headingLevel }} class="wmp-do-dont-list__label">{{ params.title }}</h{{ headingLevel }}>
  <ul class="wmp-list {% if params.type == 'tick' %}wmp-list--tick{% else %}wmp-list--cross{% endif %}">
    {%- for data in params.items %}
    <li>
    {%- if params.type == 'cross' %}
      <svg class="wmp-icon wmp-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
        <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
      </svg>
    {%- else %}
      <svg class="wmp-icon wmp-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" >
        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
      </svg>
    {%- endif %}
      {% if params.type == 'cross' %}do not {% endif %}{{ data.item | safe}}
    </li>
    {%- endfor %}
  </ul>
</div>
