/* ==========================================================================
   COMPONENTS / #HEADER / #AUTOCOMPLETE
   ========================================================================== */

/**
   * 1. IE 10 prefix for flexbox
   * 2. Proprietary extension so form field looks the same in Safari
   * 3. Custom height and width of form items
   * 4. Custom height and width of svg icons
   * 5. Custom spacing to position the search icon
   * 6. Drop shadow on search suggestions dopdown box, custom spread and blur
   * 7. Needs !important because autocomplete js adds inline styling so need to
   *    override
   * 8. Z-index to bring the dropdown to the front
   * 9. No current spacing at 12px so using this value
*/

.autocomplete-container {
  display: inline-block;

  @include mq($until: tablet) {
    display: inline;
    width: 100%;
  }
}

.autocomplete__wrapper {
  position: relative;
}

@include mq($until: tablet) {
  /* duplicate of .wmp-search__input in _header.scss, for non javascript version */
  .autocomplete__input {
    -ms-flex-positive: 2; /* [1] */
    -webkit-appearance: listbox; // sass-lint:disable-line prefixes /* [2] */
    border-bottom: 1px solid $color-wmp-grey-600;
    border-bottom-left-radius: $wmp-border-radius;
    border-bottom-right-radius: 0;
    border-left: 1px solid $color-wmp-grey-600;
    border-right: 0;
    border-top: 1px solid $color-wmp-grey-600;
    border-top-left-radius: $wmp-border-radius;
    border-top-right-radius: 0;
    flex-grow: 2;
    font-size: inherit;
    height: 52px; /* [3] */
    margin: 0;
    outline: none;
    padding: 0 wmp-spacing(3);
    width: 100%; /* [3] */

    &:focus {
      box-shadow: inset 0 0 0 $wmp-box-shadow-spread $wmp-focus-color;
    }
  }
}

@include mq($from: tablet) {
  /* duplicate of .wmp-search__input in _header.scss, for non javascript version */
  .autocomplete__input {
    -webkit-appearance: listbox; // sass-lint:disable-line prefixes /* [2] */
    border: 1px solid $color_wmp-white;
    border-bottom-left-radius: $wmp-border-radius;
    border-bottom-right-radius: 0;
    border-top-left-radius: $wmp-border-radius;
    border-top-right-radius: 0;
    font-size: $wmp-base-font-size;
    height: 40px; /* [3] */
    padding: 0 12px; /* [9] */
    width: 235px; /* [3] */

    &:focus {
      border: 1px solid $wmp-focus-color;
      box-shadow: inset 0 0 0 ($wmp-box-shadow-spread - 1) $wmp-focus-color;
      outline: none;
    }

    &::placeholder {
      color: $color-wmp-grey-800;
      font-size: $wmp-base-font-size;
    }
  }
}

.autocomplete__menu {
  // sass-lint:disable-block no-vendor-prefixes, no-color-literals
  -moz-box-shadow: 0 3px 5px rgba($wmp-box-shadow-color, $alpha-transparency-50); /* [6] */
  -webkit-box-shadow: 0 3px 5px rgba($wmp-box-shadow-color, $alpha-transparency-50); /* [6] */
  background-color: $color_wmp-white;
  border-bottom: 1px solid $color-wmp-grey-100;
  border-bottom-left-radius: $wmp-border-radius;
  border-bottom-right-radius: $wmp-border-radius;
  border-left: 1px solid $color-wmp-grey-100;
  border-right: 1px solid $color-wmp-grey-100;
  box-shadow: 0 0 ($wmp-box-shadow-spread - 1) 0 rgba($wmp-box-shadow-color, $alpha-transparency-50); /* [6] */
  list-style: none;
  margin-top: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: wmp-spacing(3);
  position: absolute;
  top: 100%;
  z-index: 1; /* [8] */

  @include mq($until: tablet) {
    border: 0;
    box-shadow: none;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    top: auto !important; // sass-lint:disable-line no-important /* [7] */
    width: 100% !important; // sass-lint:disable-line no-important /* [7] */
  }
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__option {
  border-bottom: 1px solid $color-wmp-grey-100;
  color: $color_wmp-blue;
  cursor: pointer;
  font-size: $wmp-base-font-size;
  padding-bottom: 12px; /* [9] */
  text-align: left;
  text-decoration: underline;

  .wmp-icon__search {
    fill: $color-wmp-grey-600;
    float: left;
    height: 22px; /* [4] */
    margin: 5px 4px 0 0; /* [5] */
    width: 22px; /* [4] */
  }

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    a {
      background-color: $color_wmp-warm-yellow;
      box-shadow: 0 0 0 $wmp-box-shadow-spread $color_wmp-warm-yellow;
      color: $color_wmp-black;
      text-decoration: none;
    }
  }

  &:focus {
    outline: 1px solid transparent;
    text-decoration: none;
  }

  @include mq($from: tablet) {
    &:last-child {
      border-bottom: 0;
    }
  }
}

.autocomplete__option--no-results {
  border-bottom: 0;
  color: $color_wmp-black;
  font-size: $wmp-base-font-size;
  line-height: $wmp-base-line-height;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;

  @include mq($until: tablet) {
    padding: wmp-spacing(3) 0;
  }
}
