/* ==========================================================================
   COMPONENTS / #HEADER
   ========================================================================== */

/**
 * The behaviour with regards to responsiveness is as follow:
 *
 * - Mobile to tablet view
 *   Menu toggle button visible and navigation links hidden, search toggle
     button visible and search form hidden
 *
 * - Tablet to desktop view
 *   Menu toggle button visible and navigation links hidden, search toggle
 *   button hidden and search form visible
 *
 * - Desktop+ view
 *   Menu toggle button hidden and navigation links visible, search toggle
 *   button hidden and search form visible
 *
 * 1. Custom height and width of the logo
 * 2. Custom height and width of form items
 * 3. Custom height and width of svg icons
 * 4. Remove inner border on buttons for Firefox, see
 *    https://github.com/necolas/normalize.css/issues/393
 * 5. Proprietary extension so form field looks the same in Safari
 * 6. Needs !important because typeahead js adds inline styling so need to
 *    override
 * 7. Custom spacing to position the search icon
 * 8. Drop shadow on search suggestions dopdown box, custom spread and blur
 * 9. No current spacing at 12px so using this value
 * 10. Z-index to bring the dropdown to the front
 * 11. Custom margin to move menu toggle past the search toggle button
 * 12. Custom border value between expanded search and expanded menu if both open at the same time
 * 13. Don't display the link address for the logo anchor, see
 *     core/elements/_links.scss
 * 14. IE 10 prefix for flexbox
 * 15. IE 9 alternative for flexbox
 * 16. Custom padding-top to vertically align service name and logo
 */

@import 'autocomplete';

.wmp-header {
  @include clearfix();
  background-color: $color_wmp-blue;
  border-bottom: $wmp-border-default solid $color_wmp-yellow;
}

.wmp-header__logo {
  float: left;
  padding: $wmp-header-spacing 0;
  display:flex;

  @include mq($from: tablet) {
    padding-left: 0;
  }

  .wmp-logo {
    @include wmp-logo-size-small; /* [1] */
    border: 0;
  }
 
  @include mq($from: tablet) {
    .wmp-logo {
      @include wmp-logo-size; /* [1] */
      border: 0;
    }
  }

}

.wmp-header__link {
  display: flex;
  align-items:center;
  // &:link {
  //   text-decoration:none;
  //   color: $color-white;
  //   cursor: pointer;
  // }

  &:link,
  &:visited {
    text-decoration:none;
    color: $color-white;
  }
  
  &:hover,
  &:focus,
  &:active {
    color: $color_wmp-black;
  }
}

.wmp-header__link-branding{
  text-transform:uppercase;

  @include mq($from: desktop) {
    width:150px;
    line-height:1.2;
  }

}

.wmp-header__link-standard{
  @include wmp-font(24);
}


.wmp-header__content {
  @include clearfix();
  @include print-hide();

  &.js-show {
    border-bottom: 4px solid $color-wmp-grey-100; /* [12] */
  }

  @include mq($from: tablet) {

    float: right;
    position: relative;

    &.js-show {
      border-bottom: 0;
    }

  }

}

.wmp-header__search {
  @include clearfix();

  position: relative;
  text-align: right;

  @include mq($from: desktop) {
    float: left;
    margin-top: $wmp-header-spacing;
  }

}

.wmp-header__search-toggle {
  @include toggle-button();
  background-color: $color_wmp-yellow;
  min-height: 56px; /* [2] */
  min-width: 55px;
  border:1px solid $color_wmp-yellow;
  
  .wmp-icon__search {
    fill: $color_wmp-black;
    width: 35px; /* [3] */
    height: 35px; /* [3] */
  }


  &:hover{
    box-shadow: inset 0 0 0 $wmp-box-shadow-spread $wmp-focus-color;
  }


  &:hover,
  &:focus,
  &:active,
  &.is-active {
    .wmp-icon__search {
      fill: $color_white;
    }
  }
  
}

.wmp-header__search-form {
  height: 100%;
  overflow: visible;
  position: relative;
}


.wmp-header__container{
  display:flex;
  justify-content:space-between;
}


.wmp-header__mobile__navigation{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $wmp-secondary-border-color;
  align-items:center;
}


.wmp-header__meta{
  display:block;
  @include wmp-responsive-padding(2, 'bottom');
  @include wmp-responsive-padding(2, 'top');

}

.wmp-header__meta-list{
  color:$color-white; 
  display:flex;
  list-style:none;
  @include wmp-responsive-margin(2, 'bottom');
}

.wmp-header__meta-listItem{
  @include wmp-responsive-padding(3, 'left');
  @include wmp-responsive-margin(0, 'bottom');
}

.wmp-header__meta-link{
  font-weight:bold;
  &:link,
  &:visited {
    text-decoration:none;
    color: $color-white;
  }
  
  &:hover,
  &:focus,
  &:active {
    color: $color_wmp-black;
  }
}

.wmp-header__meta__search{
  position:relative;
  display:flex;
  flex-direction: column;
  float:right;
  width:379px;
}

.wmp-header__search-results--list{
  position: absolute;
  list-style:none;
  z-index:110;
  padding-left:0; 
  width: 100%;
}

.wmp-header__search-results--item{
  margin-bottom: 0;
  border-bottom: 1px solid $color-white;
}

.wmp-header__search-results--link{
  padding:wmp-spacing(3);
  background-color: $color-wmp-grey-100;
  display:block;
  color:$color_wmp-black;
  text-decoration:none; 
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus{
    box-shadow:none;
    color:$color_wmp-black;
  }

}

.wmp-header__search-results--title{
  display:block;
  font-size: 18px;
  font-weight: bold;
}

.wmp-header__search-results--description{
  font-size: 16px;
}

.wmp-header__search-results--listMobile{
  width: 100%;
  margin-bottom: 0
}

@include mq($until: desktop) {
  
  .wmp-header__meta{
    display:none;
  }
  
  .wmp-header__container {
    margin: 0;
  }

  .wmp-header__logo {
    padding-left: wmp-spacing(3);
    position: relative;
    z-index: 1;
  }

  .wmp-header__search-wrap {
    display: none;

    &.js-show {
      clear: both;
      display: block;
      text-align: left;
      position: relative;
    }
  }

  .wmp-header__search-form {
    background-color: $color_shade_wmp-blue-20;
    display: -ms-flexbox; /* [14] */
    display: flex; // sass-lint:disable-line no-duplicate-properties
    padding: wmp-spacing(3);
    width: 100%;
  }

  .wmp-search__input {
    -ms-flex-positive: 2; /* [14] */
    -webkit-appearance: listbox; // sass-lint:disable-line prefixes /* [5] */
    background-color: $color_wmp-white !important; // sass-lint:disable-line no-important /* [6] */
    border:0;
    flex-grow: 2;
    font-size: inherit;
    height: 52px; /* [2] */
    margin: 0;
    outline: none;
    padding: 0 wmp-spacing(3);
    width: calc(100% - 100px);
    -webkit-appearance: none;

    &:focus {
      box-shadow: inset 0 0 0 $wmp-box-shadow-spread $wmp-focus-color;
    }
  }

  .wmp-search__submit {
    background-color: $color_wmp-yellow;
    border: 0;
    float: right;
    font-size: inherit;
    height: 52px; /* [2] */
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: wmp-spacing(2) wmp-spacing(2) 0;

    .wmp-icon__search {
      fill: $color_black;
      height: 38px; /* [3] */
      width: 38px; /* [3] */
    }

    &::-moz-focus-inner {
      border: 0; /* [4] */
    }

    &:hover {
      background-color: $wmp-link-hover-background-color;
      cursor: pointer;
    }

    &:focus {
      box-shadow: inset 0 0 0 $wmp-box-shadow-spread $wmp-focus-color;
    }

    &:active {
      background-color: $wmp-button-active-color;
    }

  }

  .wmp-search__close {
    @include close-button();
    margin-left: wmp-spacing(3);
    margin-top: wmp-spacing(2);
  }

}


@include mq($from: desktop) {

  .wmp-header__search-wrap {
    display: block;
    line-height: 0;
  }

  .wmp-header__search-toggle {
    display: none;
  }

  .wmp-search__input {
    -webkit-appearance: listbox; // sass-lint:disable-line prefixes /* [5] */
    background-color: $color_wmp-white !important; // sass-lint:disable-line no-important /* [6] */
    border: 1px solid $color_wmp-white;
    display: block;
    float: left;
    font-size: $wmp-base-font-size;
    height: 40px; /* [2] */
    padding: 0 12px; /* [9] */
    width: 335px; /* [2] */

    &:focus {
      border: 1px solid $color_wmp-yellow;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      box-shadow: inset 0 0 0 ($wmp-box-shadow-spread - 1) $color_wmp-yellow;
      outline: none;
    }

    &::placeholder {
      color: $color-wmp-grey-800;
      font-size: $wmp-base-font-size;
    }
  }

  .wmp-search__submit {
    background-color: $color_wmp-yellow;
    border: 0;
    display: block;
    float: right;
    font-size: inherit;
    height: 40px; /* [2] */
    line-height: inherit;
    outline: none;
    padding-left: 9px; /* [7] */
    padding-top: 2px; /* [7] */
    width: 44px; /* [2] */

    .wmp-icon__search {
      height: 27px; /* [3] */
      width: 27px; /* [3] */
    }

    &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
      border: 0; /* [4] */
    }

    &:focus {
      box-shadow: inset 0 0 0 $wmp-box-shadow-spread $color-black   ;
    }

    &:hover {
      background-color: $color_shade_wmp-blue-35;
      cursor: pointer;

      .wmp-icon__search {
        fill: $color_wmp-white;
      }
    }

    &:active {
      background-color: $color_shade_wmp-blue-50;
    }

  }

  .wmp-search__close {
    display: none;
  }

}

.wmp-search__input--withdropdown {
  border-bottom-left-radius: 0;
}

.wmp-search__submit--withdropdown {
  border-bottom-right-radius: 0;
}


/* Main navigation
 *
 * Appears below the header strip
   ====================================================================== */

.wmp-header__menu {
  margin-left: wmp-spacing(2);

  @include mq($from: tablet) {
    float: left;
    margin-left: wmp-spacing(3);
  }
}

.wmp-header__menu-toggle {
  @include toggle-button();
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: $wmp-base-line-height;
  margin-right: 52px; /* [11] */
  padding: 7px wmp-spacing(3);
  position: relative;
  text-decoration: none;
  z-index: 1;

  @include mq($from: tablet) {
    margin-right: 0;
  }

}

/* 'only' modifier for when there is only the menu in the header, no search
   ====================================================================== */

.wmp-header__menu--only {

  @include mq($from: tablet) {
    margin-right: 0;
  }

  .wmp-header__menu-toggle {
    margin-right: 0;
  }

}

.wmp-header__navigation--desktop,
.wmp-header__navigation {
  @include print-hide();
  background-color: $color_wmp-white;
  clear: both;
  display: none;
  overflow: hidden;

  &.js-show {
    display: block;

    @include mq($until: large-desktop) {
      border-bottom: 4px solid $color-wmp-grey-100; /* [12] */
    }
  }

}

.wmp-header__navigation--desktop{
  overflow: initial;
}

.wmp-header__navigation-title {
  font-weight: $wmp-font-bold;
  margin-bottom: 0;
  padding: wmp-spacing(3);
  position: relative;
}

.wmp-header__navigation-close {
  @include close-button();
  overflow: hidden;
  position: absolute;
  right: wmp-spacing(3);
  top: wmp-spacing(2);
  white-space: nowrap;
    .wmp-icon__close {
      fill: $color_wmp-blue;
    }

    &:hover {
      .wmp-icon__close {
        fill: $color_wmp-black;
      }
    }
  
}

.wmp-header__navigation-list {
  list-style: none;
  margin: 0 wmp-spacing(3) 0 0;
  padding-left: 0;
}

.wmp-header__navigation-item {
  border-top: 1px solid $color-wmp-grey-100;
  margin-bottom: 0;
  position: relative;
}

.wmp-header__navigation-link {
  color: $wmp-link-color;
  display: block;
  padding: wmp-spacing(3);
  text-decoration: none;

  &:hover{
    background-color: $color_wmp-blue;
    box-shadow: none;
    color: $color_wmp-white;
    text-decoration: underline;

  }

  &:focus {
    background-color:transparent;
    box-shadow: inset 0 0 0 $wmp-box-shadow-spread $wmp-focus-color;
    color: $color_wmp-blue;
    text-decoration: underline;
  }

  &:active {
    background-color: $color_shade_wmp-blue-35;
    box-shadow: none;
    color: $color_wmp-white;

    .wmp-icon__chevron-right {
      fill: $color_wmp-white;
    }

  }

}

.wmp-header__navigation-item:focus-within {
  background-color: $color_shade_wmp-blue-35;
}

.wmp-header__navigation--mobile .wmp-header__navigation-link {
  background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 512 512' width='30px' height='30px'  class='wmp-icon wmp-icon__chevron-right' fill='%230E7181'  xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 '/%3E%3C/svg%3E ");
  background-position-x: right;
  background-position-y: center;
  background-repeat:  no-repeat;

  &:hover {
    background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 512 512' width='30px' height='30px'  class='wmp-icon wmp-icon__chevron-right' fill='%23fff'  xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 '/%3E%3C/svg%3E ");
  }

  &:active {
    background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 512 512' width='30px' height='30px'  class='wmp-icon wmp-icon__chevron-right' fill='%23fff'  xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 '/%3E%3C/svg%3E ");

  }
}

/**
 * Large desktop styles
**/

@include mq($from: desktop) {

  .wmp-header__menu-toggle {
    display: none;
  }

  .wmp-header__navigation-title {
    display: none;
  }

  .wmp-header__navigation-item--for-mobile {
    display: none;
  }

  .wmp-header__search-wrap{
    display: none;
  }

  .wmp-header__navigation--mobile,
  .wmp-header__mobile__navigation{
    display:none;
  }

  .wmp-header__navigation--desktop {
    background-color: $color_wmp-blue;
    display: block;
    margin: 0 auto;
    max-width: $wmp-page-width;
  }

  .wmp-header__navigation-list {
    border-top: 1px solid $wmp-secondary-border-color;
    display: -ms-flexbox; /* [14] */
    display: flex; // sass-lint:disable-line no-duplicate-properties
    padding: 0;
    width: 100%;
  }

.wmp-header__navigation-list--mobile{
  display: none;
}

  .wmp-header__navigation-submenu{  
    display: none;
    position: absolute; 
    top:2.8em;
    left:0;
    width: 180px;
    z-index: 90;
    padding-left: 0;
    list-style: none;
    background-color: $color_shade_wmp-blue-35;
  }

@include mq($from: large-desktop) {

.wmp-header__navigation-submenu{  
  top:3.1em;
}

}

  .wmp-header__navigation-item {
    border-top: 0;
    margin: 0 ;
    text-align: center;
    position: relative;

    .wmp-icon__chevron-right {
      display: none;
    }
  }


.wmp-header__navigation-item:hover{
    background-color: $color_shade_wmp-blue-35;
    color:$color-white;
}

.wmp-header__navigation-item:hover > .wmp-header__navigation-submenu,
.wmp-header__navigation-item:focus-within > .wmp-header__navigation-submenu,
.wmp-header__navigation-item .wmp-header__navigation-submenu:hover{
  display: block;
}

  .wmp-header__navigation-link {
    color: $color_wmp-white;
    font-size: 16px;
    line-height: normal;
    z-index: 120;

    &:visited {
      color: $color_wmp-white;
    }

    &:hover {
      background-color: $color_shade_wmp-blue-35;
    }

    &:focus {
      color: $color_wmp-white;
    }

    &:active {
      background-color: $color_shade_wmp-blue-50;
      color: $color-wmp-grey-100;
    }

    &.is-active {
      background-color: $color_shade_wmp-blue-20;
    }

  }

}

.wmp-header__navigation-submenu-link {
  display: block;
  text-align: left;
  padding: wmp-spacing(1) wmp-spacing(2);
  background-color: $color_shade_wmp-blue-35;
  color:$color_wmp-white;
  text-decoration: none;
  margin-bottom: wmp-spacing(2);

  &:visited {
    color: $color_wmp-white;

  }

  &:hover {
    background-color: $color_shade_wmp-blue-35;
    color: $color_wmp-white;
    text-decoration: underline;       
  }
  
  &:focus {
    background-color: $color_shade_wmp-blue-35;
    color: $color_wmp-white;
  }

  &:active {
    background-color: $color_shade_wmp-blue-50;
    color: $color-wmp-grey-100;
  }

  &.is-active {
    background-color: $color_shade_wmp-blue-20;
  }
}

@include mq($from: large-desktop) {
  .wmp-header__navigation-link {
    font-size:18px;
  }
}
