.wmp-form-group {
  @include wmp-responsive-margin(4, 'bottom');

  .wmp-form-group:last-of-type {
    margin-bottom: 0; // Remove margin from last item in nested groups
  }
}

.wmp-form-group--wrapper {
  @include wmp-responsive-margin(5, 'bottom');
}

.wmp-form-group--error {
  border-left: $wmp-border-width-form-group-error solid $wmp-error-color;
  padding-left: wmp-spacing(3);

  .wmp-form-group {
    // Reset error styles in nested form groups that might have error class
    border: 0;
    padding: 0;
  }
}
