/* ==========================================================================
    COMPONENTS / #FEEDBACK-BANNER
   ========================================================================== */

/**
 * 1. Hide the banner until it is triggered by Javascript.
 * 2. Bring banner in front of rest of page content.
 * 3. Avoid the banner title overlapping close button.
 * 4. Avoid the banner title overlapping close button on
 *    small mobile devices (below 320px).
 * 5. Change the cursor to a pointer on hover.
 * 6. Repositions the banner into the normal flow of the page, ie not fixed.
 */

.wmp-feedback-banner {
  @include print-hide();

  background-color: $color_wmp-white;
  bottom: 0;
  box-shadow: 0 -4px 0 0 $wmp-box-shadow;
  display: none; /* [1] */
  margin: 0 auto;
  padding-bottom: wmp-spacing(4);
  padding-top: wmp-spacing(4);
  position: fixed;
  width: 100%;
  z-index: 20; /* [2] */

  &.js-inview { /* [6] */
    bottom: auto;
    position: relative;
  }

}

.wmp-feedback-banner__heading {
  @include wmp-typography-responsive(24);

  margin: 0;
  padding-right: wmp-spacing(6); /* [3] */
}

.wmp-feedback-banner__content {
  @include clearfix();

  position: relative;
}

.wmp-feedback-banner__message {
  margin-bottom: 0;
  margin-top: wmp-spacing(2);
  padding-bottom: wmp-spacing(4); /* [4] */

  @include mq($from: mobile) {
    padding-bottom: 0;
  }

}

.wmp-feedback-banner__close {
  @include wmp-typography-responsive(14);
  @include wmp-link-style-default;

  background: none;
  border: 0;
  color: $color_wmp-black;
  cursor: pointer; /* [5] */
  padding: 0;
  position: absolute;
  right: 0;
  text-decoration: underline;
  top: 0;

  @include mq($until: mobile) {
    bottom: 0;
    position: absolute;
    right: 0;
    top: auto;
  }

}
