<div class="wmp-feedback-banner
{%- if params.classes %} {{ params.classes }}{% endif %}" id="wmp-feedback-banner"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <div class="wmp-width-container">
    <div class="wmp-grid-row">
      <div class="wmp-grid-column-full">
        <div class="wmp-feedback-banner__content">
          <h2 class="wmp-feedback-banner__heading">{{ params.title }}</h2>
          <p class="wmp-feedback-banner__message">{{ params.content }}
          {%- if (params.href) and (params.label) %} <a class="wmp-u-nowrap" href="{{ params.href }}">{{ params.label }}</a>{% endif -%}</p>
          <button class="wmp-feedback-banner__close" id="wmp-feedback-banner-close" type="button">Close<span class="wmp-u-visually-hidden"> feedback invite</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
