/* ==========================================================================
   COMPONENTS / #CONTENTS-LIST
   ========================================================================== */

/**
 * 1. Creates a grey line before each list
 *    item using a ASCII number for the symbol.
 */

.wmp-contents-list {
  @include wmp-responsive-margin(7, 'bottom');
}

.wmp-contents-list__list {
  list-style: none;
  padding: 0;
}

.wmp-contents-list__item {
  background: url("data:image/svg+xml,%3Csvg class='wmp-icon wmp-icon__emdash' xmlns='http://www.w3.org/2000/svg' fill='%23aeb7bd' width='19' height='1' aria-hidden='true'%3E%3Cpath d='M0 0h19v1H0z'%3E%3C/path%3E%3C/svg%3E") left wmp-px-to-rem(12px) no-repeat; // sass-lint:disable-line quotes
  padding: 0 0 0 wmp-spacing(5);
  position: relative;

  @include mq($from: tablet) {
    background: url("data:image/svg+xml,%3Csvg class='wmp-icon wmp-icon__emdash' xmlns='http://www.w3.org/2000/svg' fill='%23aeb7bd' width='16' height='1' aria-hidden='true'%3E%3Cpath d='M0 0h19v1H0z'%3E%3C/path%3E%3C/svg%3E") left wmp-px-to-rem(14px) no-repeat; // sass-lint:disable-line quotes
  }

}

.wmp-contents-list__link {
  display: inline-block;
}

.wmp-contents-list__current {
  font-weight: $wmp-font-bold;
}
