<nav class="wmp-contents-list
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %} role="navigation" aria-label="Pages in this guide">
  <h2 class="wmp-u-visually-hidden">Contents</h2>
  <ol class="wmp-contents-list__list">
    {%- for item in params.items %}
      {%- if item.current %}
        <li class="wmp-contents-list__item" aria-current="page">
          <span class="wmp-contents-list__current">{{ item.text }}</span>
        </li>
      {%- else %}
        <li class="wmp-contents-list__item">
          <a class="wmp-contents-list__link" href="{{ item.href }}">{{ item.text }}</a>
        </li>
      {%- endif %}
    {%- endfor %}
  </ol>
</nav>
