/* ==========================================================================
   COMPONENTS/ #SELECT
   ========================================================================== */

.wmp-select {
  @include wmp-font(19);
  @include wmp-focusable;

  border: $wmp-border-width-form-element solid $wmp-form-border-color;
  box-sizing: border-box;
  height: 40px;
  max-width: 100%;
  padding: wmp-spacing(1);
}

.wmp-select option:active,
.wmp-select option:checked,
.wmp-select:focus::-ms-value {
  background-color: $color_wmp-blue;
  color: $color_wmp-white;
}

.wmp-select--error {
  border: $wmp-border-width-form-element-error solid $wmp-error-color;
}
