{% from "../error-message/macro.njk" import errorMessage -%}
{% from "../hint/macro.njk" import hint %}
{% from "../label/macro.njk" import label %}

{#- a record of other elements that we need to associate with the input using
   aria-describedby – for example hints or error messages -#}
{%- set describedBy = "" -%}
<div class="wmp-form-group
{%- if params.errorMessage %} wmp-form-group--error{% endif %}">
  {{ label({
    html: params.label.html,
    text: params.label.text,
    classes: params.label.classes,
    isPageHeading: params.label.isPageHeading,
    attributes: params.label.attributes,
    for: params.id
  }) | indent(2) | trim }}
{%- if params.hint %}
  {%- set hintId = params.id + '-hint' %}
  {%- set describedBy = describedBy + ' ' + hintId if describedBy else hintId %}
  {{ hint({
    id: hintId,
    classes: params.hint.classes,
    attributes: params.hint.attributes,
    html: params.hint.html,
    text: params.hint.text
  }) | indent(2) | trim }}
{%- endif -%}
{%- if params.errorMessage %}
  {%- set errorId = params.id + '-error' %}
  {%- set describedBy = describedBy + ' ' + errorId if describedBy else errorId %}
  {{ errorMessage({
    id: errorId,
    classes: params.errorMessage.classes,
    html: params.errorMessage.html,
    text: params.errorMessage.text
  }) | indent(2) | trim }}
{%- endif %}
  <select class="wmp-select
    {%- if params.classes %} {{ params.classes }}{% endif %}
    {%- if params.errorMessage %} wmp-select--error{% endif %}" id="{{ params.id }}" name="{{ params.name }}"
    {%- if describedBy %} aria-describedby="{{ describedBy }}"{% endif %}
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  {%- for item in params.items %}
    <option value="{{ item.value }}"
      {{-" selected" if item.selected }}
      {{-" disabled" if item.disabled }}
      {%- for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>{{ item.text }}</option>
  {%- endfor %}
  </select>
</div>
