/* ==========================================================================
   COMPONENTS / #PROMO
   ========================================================================== */

/**
 * 1. Extra margin is added to compensate for the box-shadow.
 * 2. Box shadow size is set within settings/_globals.scss.
 * 3. Makes the <a> fill the height of it's parent container.
 * 4. Is needed for the :active top positioning.
 * 5. Removes default <a> text underline from all elements.
 * 6. Adds text underline to promo heading.
 * 7. Creates the 'pressed down' effect when clicked.
 * 8. Border is used to create a divider between the white content
 *    box and an image.
 */

.wmp-promo {
  margin-bottom: wmp-spacing(5) + $wmp-box-shadow-link; /* [1] */
  width: 100%;
}

.wmp-promo__link-wrapper {
  background-color: $color_wmp-white;
  border: 1px solid transparent;
  box-shadow: 0 $wmp-box-shadow-link 0 0 $color-wmp-grey-100; /* [2] */
  display: block;
  height: 100%; /* [3] */
  position: relative; /* [4] */
  text-decoration: none; /* [5] */

  &:focus {
    background-color: $color_wmp-white;
    box-shadow: 0 0 0 $wmp-box-shadow-link $wmp-focus-color;

    .wmp-promo__heading {
      text-decoration: underline; /* [6] */
    }

    .wmp-promo__heading,
    .wmp-promo__description {
      color: $wmp-link-focus-color;
    }

  }

  &:hover {
    background-color: $color_wmp-white;
    box-shadow: 0 0 0 $wmp-box-shadow-link $wmp-focus-color;
    color: $wmp-link-color;
  }

  &:active {
    background-color: $color-wmp-grey-100; /* [7] */
    box-shadow: 0 0 0 $wmp-box-shadow-link $wmp-link-active-background-color;
    top: $wmp-box-shadow-link; /* [7] */
  }

  &:hover,
  &:active {
    .wmp-promo__heading {
      text-decoration: none;
    }
  }

}

.wmp-promo__img {
  @include print-hide();

  border-bottom: 1px solid $color-wmp-grey-100; /* [8] */
  display: block;
  width: 100%;

}

.wmp-promo__heading {
  @include wmp-font(24, $weight: bold);

  margin-bottom: wmp-spacing(3);
  text-decoration: underline;
}

.wmp-promo__content {
  @include top-and-bottom();
  @include wmp-responsive-padding(5);
}

.wmp-promo__description {
  color: $wmp-secondary-text-color;
}

/* Promo size variant
   ========================================================================== */

/**
 * Promo small reduces the size of the text heading and description.
 */

.wmp-promo--small {

  .wmp-promo__heading {
    @include wmp-typography-responsive(19);
  }

  .wmp-promo__description {
    @include wmp-typography-responsive(16);
  }

}

/* Promo group
   ========================================================================== */

/**
 * Promo group allows you to have a row of promos.
 *
 * Flexbox is used to make each promo in a row the same height.
 */

.wmp-promo-group {
  @include flex();

  margin-bottom: wmp-spacing(5) + $wmp-box-shadow-link;

  @include mq($until: desktop) {
    margin-bottom: wmp-spacing(4) + $wmp-box-shadow-link;
  }

}

.wmp-promo-group__item {
  @include flex-item();

  @include mq($until: desktop) {
    margin-bottom: wmp-spacing(4) + $wmp-box-shadow-link;

    &:last-child {
      margin-bottom: 0;
    }

  }

  .wmp-promo {
    margin-bottom: 0;
  }

}
