/* ==========================================================================
   COMPONENT / #LIST-PANEL / #BACK-TO-TOP
   ========================================================================== */

/**
 * 1. Allows <a> padding and margin to be respected.
 * 2. Removes default margin-bottom from heading.
 * 3. 'Random number' used give heading the correct placement.
 * 4. Overrides the default bullet list style.
 * 5. Overrides default link box-shadow.
 * 6. Removes the grey border on hover.
 * 7. Underline is added to give a visual state of change.
 * 8. Removes right and left margin to make the panel list go right to the
 *    edge of the screen.
 */

.wmp-list-panel {
  @include wmp-responsive-margin(7, 'top');
  @include wmp-responsive-margin(7, 'bottom');

  @include mq($until: tablet) {
    @include remove-margin-mobile(); /* [8] */
  }
}

.wmp-list-panel__label {
  @include wmp-typography-responsive(32);

  background-color: $color_wmp-blue;
  color: $color_wmp-white;
  display: inline-block; /* [1] */
  margin-bottom: 0; /* [2] */
  padding: wmp-spacing(2) wmp-spacing(3);

  @include mq($media-type: print) {
    color: $color_wmp-black;
    margin-top: 0;
  }

}

.wmp-list-panel__list,
.wmp-list-panel__box {
  background-color: $color_wmp-white;
  margin: 0;
  padding: 0;

  @include mq($media-type: print) {
    border-top: 0;
  }

}

.wmp-list-panel__list--with-label,
.wmp-list-panel__box--with-label {
  border-top: $wmp-border-list-panel solid $color_wmp-blue;
  margin: -28px 0 0; /* [3] */
  padding: 27px 0 0; /* [3] */

  @include mq($until: tablet) {
    margin: -24px 0 0; /* [3] */
    padding: 23px 0 0; /* [3] */
  }

}

.wmp-list-panel__item {
  background-color: $color_wmp-white;
  list-style: none; /* [4] */
  margin-bottom: 0;
}

.wmp-list-panel__link {
  border-bottom: $wmp-border-list-panel-item solid $color-wmp-grey-100;
  display: block;
  padding: 12px wmp-spacing(3);
  text-decoration: none;

  &:hover {
    box-shadow: 0 -1px 0 0 $wmp-link-hover-background-color; /* [5] */
  }

  &:focus {
    box-shadow: 0 -1px 0 0 $wmp-link-focus-background-color; /* [5] */
  }

  &:hover,
  &:focus {
    border-color: transparent; /* [6] */
    text-decoration: underline; /* [7] */
  }

  @include mq($until: tablet) {
    padding: wmp-spacing(2) wmp-spacing(3);
  }

}

.wmp-list-panel--results-items__no-results {
  border-bottom: $wmp-border-list-panel-item solid $color-wmp-grey-100;
  color: $wmp-secondary-text-color;
  margin: 0;
  padding: wmp-spacing(3);
}

/* COMPONENT / #BACK-TO-TOP
   ========================================================================== */

/**
 * 1. Allows <a> padding and margin to be respected.
 * 2. 'Random number' used to provide space for icon.
 * 3. Allows icon to be positioned absolute.
 * 4. Make same colour as link text.
 * 5. 'Random numbers' used to set the height and width of the icon.
 * 6. 'Random numbers' used to position align icon.
 * 7. Margin left used to compensate for the negative margin
 *    on .wmp-list-panel--mobile.
 */

.wmp-back-to-top__link {
  @include wmp-typography-responsive(19);

  display: inline-block; /* [1] */
  margin-top: wmp-spacing(3);
  padding-left: 12px; /* [2] */
  position: relative; /* [3] */

  @include mq($until: tablet) {
    margin-left: wmp-spacing(3); /* [7] */
  }

  .wmp-icon {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    fill: $color_wmp-blue; /* [4] */
    height: 19px; /* [5] */
    left: -8px; /* [6] */
    position: absolute;
    top: 4px; /* [6] */
    transform: rotate(270deg);
    width: 19px; /* [5] */

    @include mq($until: tablet) {
      top: 2px; /* [6] */
    }

  }

  &:visited {
    color: $color_wmp-blue;
  }

  &:hover,
  &:focus {
    color: $wmp-link-hover-color;

    .wmp-icon {
      fill: $wmp-link-hover-color;
    }

  }

  @include print-hide();

}
