{% set headingLevel = params.headingLevel if params.headingLevel else 2 %}
<div class="wmp-list-panel
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  {%- if params.label %}
  <h{{ headingLevel }} class="wmp-list-panel__label" id="{{ params.id }}">{{ params.label }}</h{{ headingLevel }}>
  {% endif -%}
  {%- if params.disable -%}
  <div class="wmp-list-panel__box{% if params.label %} wmp-list-panel__box--with-label{% endif %}">
    <p class="wmp-list-panel--results-items__no-results">{{ params.message }}</p>
  </div>
  {%- else -%}
  <ul class="wmp-list-panel__list{% if params.label %} wmp-list-panel__list--with-label{% endif %}">
    {%- for item in params.items %}
    <li class="wmp-list-panel__item">
      <a class="wmp-list-panel__link" href="{{ item.URL }}">{{ item.link }}</a>
    </li>
    {%- endfor %}
  </ul>
  {%- endif -%}
  {%- if params.backToTop %}
  <div class="wmp-back-to-top">
    <a class="wmp-back-to-top__link" href="{{ params.backToTopLink }}">
      <svg class="wmp-icon wmp-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
      </svg>
      Back to top
    </a>
  </div>
  {%- endif %}
</div>
