/* ==========================================================================
    COMPONENTS / #BREADCRUMB
   ========================================================================== */

/**
 * 1. Bespoke spacing numbers used as there is no 12px
 *    spacing mapped in settings/spacing.
 * 2. Hide the breadcrumb on print stylesheets.
 * 3. Don't show the full breadcrumb below tablet size.
 * 4. Typography sizing mixin, see core/tools/_typography
 * 5. and core/settings/_typography for size maps.
 * 5. .. but show a back to index page link.
 * 6. Remove spacing between back icon and label.
 * 7. Custom padding for the chevron separator icon.
 */

.wmp-breadcrumb {
  @include print-hide();

  padding-bottom: wmp-spacing(4); /* [1] */
  padding-top: wmp-spacing(4); /* [1] */

  .wmp-icon__chevron-right {
    fill: $color-wmp-grey-600;
    height: 18px;
    position: relative;
    top: 5px;
    width: 18px;

    @include mq($from: large-desktop) {
      margin: 0 3px 0 5px;
    }

  }

  .wmp-icon__chevron-left {
    float: left;
    height: 24px;
    left: -8px;
    position: relative;
    width: 24px;
  }

}

.wmp-breadcrumb__list {

  @include mq($until: tablet) {
    display: none; /* [3] */
  }

  list-style: none;
  margin: 0;
  padding: 0;

}

.wmp-breadcrumb__item {
  background: url("data:image/svg+xml, %3Csvg viewBox='0 0 512 512' width='18px' height='18px'  class='wmp-icon wmp-icon__chevron-right' fill='%230E7181'  xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 '/%3E%3C/svg%3E ")  right -1px top 4px no-repeat;
  display: inline-block;
  margin-bottom: 0;
  padding-left: 3px; /* [7] */
  padding-right: 27px; /* [7] */

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    background: none;
  }

}

.wmp-breadcrumb__back {
  @include wmp-font(16); /* [4] */
  // background: url("data:image/svg+xml,%3Csvg class='wmp-icon wmp-icon__chevron-left' xmlns='http://www.w3.org/2000/svg' fill='%23005eb8' height='24' width='24' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath d='M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z'%3E%3C/path%3E%3C/svg%3E") -8px center no-repeat; // sass-lint:disable-line quotes
  background: url("data:image/svg+xml, %3Csvg class='wmp-icon wmp-icon__chevron-left' viewBox='0 0 512 512' fill='%230E7181' width='24px' height='24px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 '/%3E%3C/svg%3E ") -8px center no-repeat; // sass-lint:disable-line quotes
  margin: 0;
  padding-left: wmp-spacing(4);

  @include mq($from: tablet) {
    display: none; /* [5] */
  }

}

.wmp-breadcrumb__backlink {
  left: -8px; /* [6] */
  position: relative;
}
