/* ==========================================================================
    COMPONENTS / #Intro
   ========================================================================== */

/**
 * 1. Bespoke spacing numbers used as there is no 12px
 *    spacing mapped in settings/spacing.
 * 2. Hide the breadcrumb on print stylesheets.
 * 3. Don't show the full breadcrumb below tablet size.
 * 4. Typography sizing mixin, see core/tools/_typography
 * 5. and core/settings/_typography for size maps.
 * 5. .. but show a back to index page link.
 * 6. Remove spacing between back icon and label.
 * 7. Custom padding for the chevron separator icon.
 */

 .wmp-intro{
    background-color:$color-wmp-grey-100;
}


.wmp-intro__content{
    padding-top: wmp-spacing(4);
    padding-bottom: wmp-spacing(4);
}

.wmp-intro__content p:last-child{
    margin-bottom: 0;
}

.wmp-breadcrumb + .wmp-intro__content{
    padding-top: 0;

}

.wmp-intro__headline {
    margin-bottom: wmp-spacing(1);
}