// ==========================================================================
// TOOLS / #FUNCTIONS
// ==========================================================================

// Convert pixels to em
// ==========================================================================

//
// A quick way to convert px into em
// Usage: wmp-em(20px, $wmp-base-font-size);
//
// Original code taken from GDS (Government Digital Service)
// https://github.com/alphagov/govuk-frontend
//

@function wmp-em($value, $context-font-size) {
  @if (unitless($value)) {
    $value: $value * 1px;
  }
  @if (unitless($context-font-size)) {
    $context-font-size: $context-font-size * 1px;
  }
  @return $value / $context-font-size * 1em;
}

// Convert pixels to rem
// ==========================================================================

//
// A quick way to convert px into rem
// Usage: wmp-px-to-rem(20px);
//
// The $wmp-base-font-size (defined in settings/_globals.scss)
// must be configured to match the font-size of your root (html) element
//

@function wmp-px-to-rem($value) {
  @if (unitless($value)) {
    $value: $value * 1px;
  }

  @return $value / $wmp-base-font-size * 1rem;
}
