// ==========================================================================
// TOOLS / #LINKS
// ==========================================================================

//
// Default link styling
//
// Usage: @include wmp-link-style-default;
//

@mixin wmp-link-style-default {

  color: $wmp-link-color;

  &:visited {
    color: $wmp-link-visited-color;
  }

  &:focus {
    background-color: $wmp-link-focus-background-color;
    box-shadow: 0 0 0 4px $wmp-link-focus-background-color;
    color: $wmp-link-focus-color;
    outline: $wmp-focus-width solid transparent;
    outline-offset: $wmp-focus-width;
    img {
      box-shadow: 0 0 0 4px $wmp-link-focus-background-color;
    }
  }

  &:hover {
    background-color: $wmp-link-hover-background-color;
    box-shadow: 0 0 0 4px $wmp-link-hover-background-color;
    color: $wmp-link-hover-color;
    text-decoration: none;

    img {
      box-shadow: 0 0 0 4px $wmp-link-hover-background-color;
    }
  }

  &:active {
    color: $wmp-link-active-color;
  }

}

//
// Inverted link styling, used in the emergency alert banner.
//
// Usage: @include wmp-link-style-inverted;
//

@mixin wmp-link-style-inverted {

  color: $wmp-link-color;

  &:focus {
    background-color: $color_shade_wmp-blue-35;
    box-shadow: 0 0 0 4px $color_shade_wmp-blue-35;
    color: $color_wmp-white;
    outline: $wmp-focus-width solid transparent;
    outline-offset: $wmp-focus-width;
  }

  &:hover {
    background-color: $color_wmp-blue;
    box-shadow: 0 0 0 4px $color_wmp-blue;
    color: $color_wmp-white;
  }

  &:active {
    background-color: $color_shade_wmp-blue-50;
    box-shadow: 0 0 0 4px $color_shade_wmp-blue-35;
    color: $color_wmp-white;
  }

}

//
// White link styling, used in the footer.
//
// Usage: @include wmp-link-style-white;
//

@mixin wmp-link-style-white {

  color: $color_wmp-white;

  &:visited {
    color: $color-wmp-grey-100;
  }

  &:focus {
    color: $wmp-link-focus-color;
    outline: $wmp-focus-width solid transparent;
    outline-offset: $wmp-focus-width;
    text-decoration: underline;
  }

  &:hover {
    color: $wmp-link-hover-color;
    text-decoration: underline;
  }

  &:active {
    color: $wmp-link-active-color;
  }

}

//
// Default link hover only styling
//
// Usage: @include wmp-link-style-hover;
//

@mixin wmp-link-style-hover {
  &:hover {
    background-color: $wmp-link-hover-background-color;
    box-shadow: 0 0 0 4px $wmp-link-hover-background-color;
    color: $wmp-link-hover-color;
    text-decoration: none;
  }
}

//
// Default link focus only styling
//
// Usage: @include wmp-link-style-focus;
//

@mixin wmp-link-style-focus {
  &:focus {
    background-color: $wmp-link-focus-background-color;
    box-shadow: 0 0 0 4px $wmp-link-focus-background-color;
    color: $wmp-link-focus-color;
    outline: $wmp-focus-width solid transparent;
    outline-offset: $wmp-focus-width;
  }
}
