// ==========================================================================
// TOOLS / #MIXINS
// ==========================================================================

//
// Clearfix mixin
//
// Usage: @include clearfix();
// See utilities/clearfix
//

@mixin clearfix() {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

//
// Reading width mixin, add a maximum width
// to large pieces of content
//
// Usage: @include reading-width();
// See utilities/reading-width
//

@mixin reading-width() {
  max-width: 44em;
}

//
// Visually hidden mixin, used for hiding
// content visually but keeping it in the DOM
//
// Usage: @include visually-hidden();
// See utilities/visually-hidden
//

@mixin visually-hidden() {
  -webkit-clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

//
// Top and bottom margin mixin, remove
// the top and bottom margin spacing
//
// Usage: @include top-and-bottom();
// See utilities/top-and-bottom
//

@mixin top-and-bottom() {
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

//
// Panel mixin
//
// Usage: @include panel-with-label($color_wmp-blue, $color_wmp-white);
// See components/_panel
//

@mixin panel($panel-background-color, $panel-text-color) {

  @include top-and-bottom();
  @include wmp-responsive-margin(7, 'bottom');
  @include wmp-responsive-margin(7, 'top');
  @include wmp-responsive-padding(5);

  background-color: $panel-background-color;
  color: $panel-text-color;

  @include mq($media-type: print) {
    border: 1px solid $wmp-print-text-color;
    page-break-inside: avoid;
  }

}

//
// Panel with label mixin, inherits panel styling
// and removes padding top for the label positioning.
//
// Used in-conjunction with @mixin heading-label
//
// Usage: @include panel-with-label($color_wmp-blue, $color_wmp-white);
// See components/_warning-component
//

@mixin panel-with-label($panel-background-color, $panel-text-color) {
  @include panel($panel-background-color, $panel-text-color);

  padding-top: 0 !important;  // sass-lint:disable-line no-important
}

//
// Heading label mixin, adds a tab heading to
// warning callout, do and don't lists and panel.
//
// Used in-conjunction with @mixin panel-with-label
//
// Usage: @include heading-label($color_wmp-blue, $color_wmp-white);
// See components/_warning-component
//
// 1. Background colour to be set on the @include.
// 2. Text colour to be set on the @include.
// 3. Display inline-block so it does not take up the full width.
// 4. Margin -24px left and right aligns the heading to the box.
// 5. Top positioning set to minus to make the heading
//    sit just outside the box.
//

@mixin heading-label($heading-background-color, $heading-text-color) {
  @include wmp-typography-responsive(24);

  background-color: $heading-background-color; // [1] //
  color: $heading-text-color; // [2] //
  display: inline-block; // [3] //
  margin: wmp-spacing(0) -32px wmp-spacing(2);
  padding: wmp-spacing(2) wmp-spacing(5);
  position: relative;
  top: -16px; // [5] //

  @include mq($until: tablet) {
    margin-left: -24px;
    margin-right: -24px;
    padding: wmp-spacing(2) wmp-spacing(4);
    top: -8px; // [5] //
  }

  @include mq($media-type: print) {
    background: none;
    color: $color_wmp-black;
    top: 0;
  }
}

//
// Care card mixin, used for creating
// different coloured care cards.
//
// Usage: @include care-card($color_wmp-blue, $color_wmp-white, 4px);
// See components/_care-card
//

@mixin care-card($heading-background-color, $heading-text-color, $print-border-size, $border-color) {
  border-color:$border-color;
  .wmp-care-card__heading-container {
    background-color: $heading-background-color;
    color: $heading-text-color;
  }

  @include mq($media-type: print) {
    border: $print-border-size solid $wmp-print-text-color;
    color: $wmp-print-text-color;
    page-break-inside: avoid;
  }
}

//
// Print colour mixin, sets the text print colour
// warning callout, do and don't lists and panels.
//
// Usage: @include print-color($wmp-print-text-color);
// See components/_care-card
//

@mixin print-color($print-color) {

  @include mq($media-type: print) {
    color: $print-color;
    fill: $print-color;

    &:active,
    &:focus,
    &:visited {
      color: $wmp-print-text-color;
    }

  }

}

//
// Print hide mixin, hides the element from print.
//
// Usage: @include print-hide();
// See components/_care-card
//

@mixin print-hide() {

  @include mq($media-type: print) {
    display: none;
  }

}

//
// Flex mixin
// Usage: @include flex();
//

@mixin flex() {
  display: flex;
  flex-wrap: wrap;
}

//
// Flex item mixin
// Usage: @include flex-item();
//

@mixin flex-item() {
  display: flex;

  @include mq($until: desktop) {
    flex: 0 0 100%;
  }

}

//
// Toggle button mixin
// used to toggle content
//
// Usage: @include toggle-button();
// See components/header
//
// 1. Remove inner border on buttons for Firefox, see
//    https://github.com/necolas/normalize.css/issues/393
//

@mixin toggle-button() {
  background-color: transparent;
  border: 0;
  color: $color_wmp-white;
  cursor: pointer;


  &::-moz-focus-inner {
    border: 0; // [1] //
  }

  &:hover {
    background-color: $color_shade_wmp-blue-35;
    border-color: $color-wmp-grey-100;
    box-shadow: none;
  }

  &:focus {
    background-color: transparent;
    border-color: $wmp-focus-color;
    box-shadow: 0 0 0 ($wmp-box-shadow-spread - 1) $wmp-focus-color;
    outline: 0;
  }

  &:active,
  &.is-active {
    background-color: $color_shade_wmp-blue-20;
    border-color: $color-wmp-grey-100;
    border-width:0;
    box-shadow: none;
    color: $color-wmp-grey-100;
  }

  &.is-active {
    &:focus {
      box-shadow: 0 0 0 ($wmp-box-shadow-spread - 1) $wmp-focus-color;
    }
  }

}

//
// Close button mixin
// used to close a content area
//
// Usage: @include close-button();
// See components/header
//
// 1. Custom height and width of form items
// 2. Custom height and width of svg icons
// 3. Remove inner border on buttons for Firefox, see
//    https://github.com/necolas/normalize.css/issues/393
//

@mixin close-button() {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 40px; // [1] //
  padding: 0;
  width: 40px; // [1] //

  .wmp-icon__close {
    fill: $color_white;
    height: 40px; // [2] //
    width: 40px; // [2] //
  }

  &::-moz-focus-inner {
    border: 0; // [3] //
  }

  &:hover {
    .wmp-icon__close {
      fill: $color-wmp-grey-100;
    }
  }

  &:focus {
    box-shadow: 0 0 0 $wmp-box-shadow-spread $wmp-focus-color;
    outline: 0;
  }

}

//
// Remove margin mobile mixin, removes left and right
// margin at tablet breakpoint.
//

@mixin remove-margin-mobile() {
  @include mq($until: tablet) {
    margin-left: -$wmp-gutter-half;
    margin-right: -$wmp-gutter-half;
  }
}

/// Focusable helper
///
/// Provides an additional outline to clearly indicate when the target element
/// has focus. Used for interactive elements which themselves have some background
/// or border, such as most form elements.
///

@mixin wmp-focusable {
  &:focus {
    box-shadow: 0 0 0 4px $wmp-link-focus-background-color;
    outline: $wmp-focus-width solid transparent;
    outline-offset: $wmp-focus-width;
  }
}

/// Focusable with fill helper
///
/// Provides an additional outline and background colour to clearly indicate when
/// the target element has focus. Used for interactive text-based elements such
/// as links.
///

@mixin wmp-focusable-fill {
  &:focus {
    background-color: $wmp-focus-color;
    outline: $wmp-focus-width solid $wmp-focus-color;
    outline-offset: 0;
  }
}

/// WMP logo size helper
///
/// Saves duplicating the code for when using the logo as a link.
/// Used in the header and footer.

@mixin wmp-logo-size {
  height: 68px;
  width: 83px;
}

@mixin wmp-logo-size-small {
  height: 47px;
  width: 58px;
}

/// Creates a circle border
///
@mixin wmp-circle {
  border-radius:50%;
}