// ==========================================================================
// TOOLS / #TYPOGRAPHY
// ==========================================================================

//
// These mixins allow us to quickly and consistently generate common text
// patterns such as colours and font-weight
//

// Text colour
// ==========================================================================

//
// Sets the text colour, including a suitable override for print.
//
// Original code taken from GDS (Government Digital Service)
// https://github.com/alphagov/govuk-frontend
//

// sass-lint:disable no-important, no-duplicate-properties

@mixin wmp-text-color {
  color: $wmp-text-color;

  @include govuk-media-query($media-type: print) {
    color: $wmp-print-text-color;
  }
}

// Normal font weight
// ==========================================================================

//
// @param {Boolean} $important [false] - Whether to mark declarations as
//   `!important`. Generally Used to create override classes.
//

@mixin wmp-typography-weight-normal($important: false) {
  font-weight: $wmp-font-normal iff($important, !important);
}

// Bold font weight
// ==========================================================================

//
// @param {Boolean} $important [false] - Whether to mark declarations as
//   `!important`. Generally Used to create override classes.
//

@mixin wmp-typography-weight-bold($important: false) {
  font-weight: $wmp-font-bold iff($important, !important);
}

// Line height
// ==========================================================================

//
// Convert line-heights specified in pixels into a relative value, unless
// they are already unit-less (and thus already treated as relative values)
// or the units do not match the units used for the font size.
//
// @param {Number} $line-height Line height
// @param {Number} $font-size Font size
// @return {Number} The line height as either a relative value or unmodified
//

@function _wmp-line-height($line-height, $font-size) {
  @if not unitless($line-height) and unit($line-height) == unit($font-size) {
    $line-height: $line-height / $font-size;
  }

  @return $line-height;
}

// Responsive typography
// ==========================================================================

//
// Takes a 'font map' as an argument and uses it to create font-size and
// line-height declarations for different breakpoints, and for print.
//
// Example font map:
//
// $my-font-map: (
//   null: (
//     font-size: 16px,
//     line-height: 20px
//   ),
//   tablet: (
//     font-size: 19px,
//     line-height: 25px
//   ),
//   print: (
//     font-size: 14pt,
//     line-height: 1.15
//   )
// );\
//
// @example scss
//  .foo {
//    @include wmp-typography-responsive(19);
//   }
//
//  .foo {
//    @include wmp-typography-responsive(32, $important: true);
//   }
//
// @param {Map} $font-map - Font map
// @param {Number} $override-line-height [false] - Non responsive custom line
//   height. Omit to use the line height from the font map.
// @param {Boolean} $important [false] - Whether to mark declarations as
//   `!important`.
//
// 1. Mark rules as !important if $important is true - this will result in
//    these variables becoming strings, so this needs to happen//after* they
//    are used in calculations
//

@mixin wmp-typography-responsive($size, $override-line-height: false, $important: false) {

  @if not map-has-key($wmp-typography-scale, $size) {
    @error 'Unknown font size `#{$size}` - expected a point from the typography scale.';
  }

  $font-map: map-get($wmp-typography-scale, $size);

  @each $breakpoint, $breakpoint-map in $font-map {
    $font-size: map-get($breakpoint-map, 'font-size');
    $font-size-rem: wmp-px-to-rem($font-size);

    $line-height: _wmp-line-height(
      $line-height: if($override-line-height,
        $override-line-height,
        map-get($breakpoint-map, 'line-height')
      ),
      $font-size: $font-size
    );

    // [1] //
    $font-size: $font-size iff($important, !important);
    $font-size-rem: $font-size-rem iff($important, !important);
    $line-height: $line-height iff($important, !important);

    @if $breakpoint == null {
      font-size: $font-size;
      font-size: $font-size-rem;
      line-height: $line-height;
    } @elseif $breakpoint == 'print' {
      @include govuk-media-query($media-type: print) {
        font-size: $font-size;
        line-height: $line-height;
      }
    } @else {
      @include govuk-media-query($from: $breakpoint) {
        font-size: $font-size;
        font-size: $font-size-rem;
        line-height: $line-height;
      }
    }
  }
}

// Font
// ==========================================================================

//
// @example scss
//  .foo {
//    @include wmp-font(19);
//   }
//
//  .foo {
//    @include wmp-font(32, $weight: bold);
//   }
//
// @param {Number} $size - Size of the font as it would appear on desktop -
//   uses the responsive font size map
// @param {String} $weight [normal] - Weight: `bold` or `normal`
// @param {Number} $line-height [false] - Line-height, if overriding the default
//

@mixin wmp-font($size, $weight: normal, $line-height: false) {

  @if $weight == normal {
    @include wmp-typography-weight-normal;
  } @else if $weight == bold {
    @include wmp-typography-weight-bold;
  }

  @if $size {
    @include wmp-typography-responsive($size, $override-line-height: $line-height);
  }
}
