/* ==========================================================================
   COMPONENTS / #CARE-CARD
   ========================================================================== */

.wmp-care-card {
  @include wmp-responsive-margin(5, 'bottom');
  @include wmp-responsive-margin(5, 'top');
  @include care-card($color_wmp-blue, $color_wmp-white, 4px, $color_wmp-blue); /* [1] */
  border-style: solid;
  border-width: $wmp-border-default;
}

.wmp-care-card__heading-container {
  padding: wmp-spacing(2) wmp-spacing(4);
  position: relative;
}


.wmp-care-card__heading {
  @include wmp-font(22, $weight: bold);
  @include print-color($wmp-print-text-color);

  margin: 0;
}

.wmp-care-card__content {
  @include top-and-bottom();

  background-color: $color_wmp-white;
  padding: wmp-spacing(4); /* [5] */

  @include print-color($wmp-print-text-color);

}

/**
 * Card card variations style.
 *
 * 1. <a> needs to be white because the background colour is black.
 */

.wmp-care-card--urgent {
  @include care-card($color_wmp-red-200, $color_wmp-white, 6px, $color_wmp-red-200);
}

