/* ==========================================================================
   COMPONENTS / #FOOTER
   ========================================================================== */

.wmp-footer {
  @include clearfix();
  @include print-hide();
}

.wmp-footer__extended{
  @include print-hide();
  @include wmp-responsive-padding(5, bottom);
  @include wmp-responsive-padding(5, top);
  // background-color: $color-wmp-grey-100;
  background-color:$color-wmp-grey-100;
}

.wmp-footer__social{
  @include print-hide();
  @include wmp-responsive-padding(5, bottom);
  @include wmp-responsive-padding(5, top);
  background-color: $color-wmp-grey-900;
}


.wmp-footer__list {
  @include wmp-responsive-padding(4, bottom);

  list-style-type: none;
  margin: 0;
  padding-left: wmp-spacing(0);

  @include mq($from: desktop) {
    display:flex;
    padding-bottom: 0;
  }
}


.wmp-footer__title{
  margin-bottom: wmp-spacing(2);
  display: block;
}


.wmp-footer__list-item-social,
.wmp-footer__list-item {
  @include wmp-font(16);

  @include mq($from: desktop) {
    margin-right: wmp-spacing(5);
  }
}

.wmp-footer__list-item-social{
  display:flex;
  align-items: center;
  margin-bottom:wmp-spacing(3);
  @include mq($from: desktop) {
    margin-bottom:0;
    
  }

}

.wmp-footer__list-item-link {
  color: $color_wmp-black;

  &:link {
    color: $color_wmp-black;
  }
  &:visited {
    color: $color_wmp-black;
  }
}

.wmp-footer__list-social-link {
  color: $color-white;

  &:visited {
    color: $color-white;
  }
  &:hover {
    color: $color_wmp-black;
  }
  &:active {
    color: $color_wmp-black;
  }
}

.wmp-footer__list-socialIcon-link{
  @include wmp-circle;
  background-color:$color-white;
  display:inline-block;
  padding:wmp-spacing(1);
  margin-right: wmp-spacing(2);
  width:40px;
  height:40px;
  display:flex;
  vertical-align:center;
  text-align:center;
  justify-content:center;
}


.wmp-footer__columns{
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-direction: row;
  }
}

.wmp-footer__list-extended{
  list-style-type: none;
  margin: 0;
  padding-left: wmp-spacing(0);
}

.wmp-footer__column{
  margin-bottom: wmp-spacing(4);
}

.wmp-footer__column:last-child{
  margin-bottom: 0;
}

@include mq($from: desktop) {
  .wmp-footer__column{
    width:33%;
    margin-bottom: 0;
  }

  .wmp-footer__list-extended{
    margin-right:wmp-spacing(3);
  }

  .wmp-footer__list-extended:nth-child(3n+3){
    margin-right:wmp-spacing(0);
  }
}

.wmp-footer__copyright {
  @include wmp-font(16);

  color: $wmp-secondary-text-color;
  margin-bottom: 0;

  @include mq($from: desktop) {
    float: right;
    text-align: right;
    width: 25%;
  }
}
