<footer role="contentinfo">
  <div class="wmp-footer
    {%- if params.classes %} {{ params.classes }}{% endif %}" id="wmp-footer"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
    <div class="wmp-width-container">
      {%- if params.links %}
      <h2 class="wmp-u-visually-hidden">Support links</h2>
      <ul class="wmp-footer__list {%- if params.list %} {{ params.list }}{% endif %}">
        {%- for item in params.links %}
        <li class="wmp-footer__list-item"><a class="wmp-footer__list-item-link" href="{{ item.URL }}">{{ item.label }}</a></li>
        {%- endfor %}
      </ul>
      {% endif %}
      <p class="wmp-footer__copyright">{% if params.copyright %}{{ params.copyright | safe }}{% else %}&copy; Crown copyright{% endif %}</p>
    </div>
  </div>
</footer>
