/* ==========================================================================
   COMPONENTS/ #SUMMARY-LIST
   ========================================================================== */

/**
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 *
 * 1. Required to allow us to wrap words that overflow.
 * 2. Reset default user agent styles
 * 3. Automatic wrapping for unbreakable text (e.g. URLs)
 * 4. Fallback for older browsers only
 * 5. In older browsers such as IE8, :last-child is not available,
 *    so only show the border divider where it is available.
 */

.wmp-summary-list {
  @include wmp-font($size: 19);

  @include mq($from: tablet) {
    display: table;
    table-layout: fixed; /* [1] */
    width: 100%;
  }

  margin: 0; /* [2] */
  @include wmp-responsive-margin(6, 'bottom');
}

.wmp-summary-list__row {
  @include mq($until: tablet) {
    border-bottom: 1px solid $wmp-border-color;
    margin-bottom: wmp-spacing(3);
  }
  @include mq($from: tablet) {
    display: table-row;
  }
}

.wmp-summary-list__key,
.wmp-summary-list__value,
.wmp-summary-list__actions {
  margin: 0; /* [2] */

  @include mq($from: tablet) {
    border-bottom: 1px solid $wmp-border-color;
    display: table-cell;
    padding-bottom: wmp-spacing(2);
    padding-right: wmp-spacing(4);
    padding-top: wmp-spacing(2);
  }
}

.wmp-summary-list__actions {
  margin-bottom: wmp-spacing(3);

  @include mq($from: tablet) {
    padding-right: 0;
    text-align: right;
    width: 20%;
  }
}

.wmp-summary-list__key,
.wmp-summary-list__value {
  // sass-lint:disable no-duplicate-properties
  /* [3] */
  overflow-wrap: break-word;
  word-wrap: break-word; /* [4] */
}

.wmp-summary-list__key {
  @include wmp-typography-weight-bold;

  margin-bottom: wmp-spacing(1);

  @include mq($from: tablet) {
    width: 30%;
  }
}

.wmp-summary-list__value {
  @include mq($until: tablet) {
    margin-bottom: wmp-spacing(3);
  }
  @include mq($from: tablet) {
    width: 50%;
  }
}

.wmp-summary-list__value > p {
  margin-bottom: wmp-spacing(2);
}

.wmp-summary-list__value > :last-child {
  margin-bottom: 0;
}

.wmp-summary-list__actions-list {
  margin: 0; /* [2] */
  padding: 0; /* [2] */
  width: 100%;
}

.wmp-summary-list__actions-list-item {
  display: inline;
  margin-right: wmp-spacing(2);
  padding-right: wmp-spacing(2);
}

/* [5] */
.wmp-summary-list__actions-list-item:not(:last-child) {
  border-right: 1px solid $wmp-border-color;
}

.wmp-summary-list__actions-list-item:last-child {
  border: 0;
  margin-right: 0;
  padding-right: 0;
}

.wmp-summary-list--no-border {
  .wmp-summary-list__key,
  .wmp-summary-list__value,
  .wmp-summary-list__actions,
  .wmp-summary-list__row {
    border: 0;
  }
}
