{%- macro _link(action) %}
  <a href="{{ action.href }}">
    {{ action.html | safe if action.html else action.text }}
    {%- if action.visuallyHiddenText -%}
      <span class="wmp-u-visually-hidden"> {{ action.visuallyHiddenText }}</span>
    {% endif -%}
  </a>
{% endmacro -%}
<dl class="wmp-summary-list {%- if params.classes %} {{ params.classes }}{% endif %}"{% for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  {% for row in params.rows %}
    <div class="wmp-summary-list__row">
      <dt class="wmp-summary-list__key {%- if row.key.classes %} {{ row.key.classes }}{% endif %}">
        {{ row.key.html | safe if row.key.html else row.key.text }}
      </dt>
      <dd class="wmp-summary-list__value {%- if row.value.classes %} {{ row.value.classes }}{% endif %}">
        {{ row.value.html | indent(8) | trim | safe if row.value.html else row.value.text }}
      </dd>
      {% if row.actions.items %}
        <dd class="wmp-summary-list__actions {%- if row.actions.classes %} {{ row.actions.classes }}{% endif %}">
          {% if row.actions.items.length == 1 %}
            {{ _link(row.actions.items[0]) | indent(12) | trim }}
          {% else %}
            <ul class="wmp-summary-list__actions-list">
              {% for action in row.actions.items %}
                <li class="wmp-summary-list__actions-list-item">
                  {{ _link(action) | indent(18) | trim }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </dd>
      {% endif %}
    </div>
  {% endfor %}
</dl>
