/* ==========================================================================
   COMPONENTS/ #BUTTON
   ========================================================================== */


// Because the shadow (s0) is visually 'part of' the button, we need to reduce
// the height of the button to compensate by adjusting its padding (s1) and
// increase the bottom margin to include it (s1).
$button-shadow-size: 4px;

.wmp-button {
  @include wmp-font(19);
  @include wmp-focusable;
  @include wmp-responsive-margin(5, 'bottom', $adjustment: $button-shadow-size); // s1

  -webkit-appearance: none;
  background-color: $wmp-button-colour;
  border: $wmp-border-width-form-element solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  color: $wmp-button-text-colour;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0;
  padding: 12px wmp-spacing(3); // s2
  position: relative;
  text-align: center;
  vertical-align: top;
  width: auto;

  @include mq($until: tablet) {
    padding: wmp-spacing(2) wmp-spacing(3); // s2
  }

  /* 2 */
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $wmp-button-text-colour;
    text-decoration: none;
  }

  /* 3 */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover,
  &:focus {
    background-color: $wmp-button-hover-colour;
  }

  &:active {
    box-shadow: none;
    top: $button-shadow-size;
  }

  /* 4 */
  &::before {
    background: transparent;
    bottom: -($wmp-border-width-form-element + $button-shadow-size);
    content: '';
    display: block;
    left: -$wmp-border-width-form-element;
    position: absolute;
    right: -$wmp-border-width-form-element;
    top: -$wmp-border-width-form-element;
  }

  //
  // When the button is active it is shifted down by $button-shadow-size to
  // denote a 'pressed' state. If the user happened to click at the very top
  // of the button, their mouse is no longer over the button (because it has
  // 'moved beneath them') and so the click event is not fired.
  //
  // This corrects that by shifting the top of the pseudo element so that it
  // continues to cover the area that the user originally clicked, which means
  // the click event is still fired.
  //

  &:active::before {
    top: -($wmp-border-width-form-element + $button-shadow-size);
  }

  &.wmp-button--icon-chevron-right{
    background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 512 512' width='20px' height='20px'  class='wmp-icon wmp-icon__chevron-right' fill='%23f0fff4'  xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 '/%3E%3C/svg%3E ");
  }

  &.wmp-button--icon-chevron-left{
    background-image: url("data:image/svg+xml, %3Csvg class='wmp-icon wmp-icon__chevron-left' viewBox='0 0 512 512' fill='%23f0fff4' width='24px' height='24px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 '/%3E%3C/svg%3E ");
  }

  &.wmp-button--icon-plus{
    background-image: url("data:image/svg+xml, %3Csvg class='wmp-icon wmp-icon__plus' viewBox='0 0 512 512' fill='%23f0fff4' width='18px' height='18px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M448 224H288V64h-64v160H64v64h160v160h64V288h160z'/%3E%3C/svg%3E");
  }

  &.wmp-button--icon-minus{
    background-image: url("data:image/svg+xml,%3Csvg  class='wmp-icon wmp-icon__minus' height='20' width='20' viewBox='0 0 512 512' fill='%23f0fff4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M417.4 224H94.6C77.7 224 64 238.3 64 256s13.7 32 30.6 32h322.8c16.9 0 30.6-14.3 30.6-32s-13.7-32-30.6-32z'/%3E%3C/svg%3E%0A");
  }

  &.wmp-button--icon-cross{
    background-image: url("data:image/svg+xml,%3Csvg  class='wmp-icon wmp-icon__cross' height='20' width='20' viewBox='0 0 512 512' fill='%23f0fff4' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M443.6 387.1L312.4 255.4l131.5-130c5.4-5.4 5.4-14.2 0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L256 197.8 124.9 68.3c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L68 105.9c-5.4 5.4-5.4 14.2 0 19.6l131.5 130L68.4 387.1c-2.6 2.6-4.1 6.1-4.1 9.8 0 3.7 1.4 7.2 4.1 9.8l37.4 37.6c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1L256 313.1l130.7 131.1c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1l37.4-37.6c2.6-2.6 4.1-6.1 4.1-9.8-.1-3.6-1.6-7.1-4.2-9.7z'/%3E%3C/svg%3E ");
  }
}

/**
 * Button variations
 */

.wmp-button--neutral {
  background-color: $wmp-neutral-button-colour;
  color: $wmp-neutral-button-text-colour;
  
  &:link,
  &:visited,
  &:active,
  &:hover,
  &:focus {
    color: $wmp-neutral-button-text-colour;
  }

  &:hover,
  &:focus {
    background-color: $wmp-neutral-button-hover-colour;
  }
  
  &.wmp-button--disabled {
    background-color: $wmp-neutral-button-colour;
    color: $wmp-neutral-button-text-colour;
  }

  &.wmp-button--icon-chevron-right{
    background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 512 512' width='20px' height='20px'  class='wmp-icon wmp-icon__chevron-right' fill='%2337474F'  xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 '/%3E%3C/svg%3E ");
  }

  &.wmp-button--icon-chevron-left{
    background-image: url("data:image/svg+xml, %3Csvg class='wmp-icon wmp-icon__chevron-left' viewBox='0 0 512 512' fill='%2337474F' width='24px' height='24px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 '/%3E%3C/svg%3E ");
  }

  &.wmp-button--icon-plus{
    background-image: url("data:image/svg+xml, %3Csvg class='wmp-icon wmp-icon__plus' viewBox='0 0 512 512' fill='%2337474F' width='18px' height='18px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M448 224H288V64h-64v160H64v64h160v160h64V288h160z'/%3E%3C/svg%3E");
  }

  &.wmp-button--icon-minus{
    background-image: url("data:image/svg+xml,%3Csvg  class='wmp-icon wmp-icon__minus' height='20' width='20' viewBox='0 0 512 512' fill='%2337474F' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M417.4 224H94.6C77.7 224 64 238.3 64 256s13.7 32 30.6 32h322.8c16.9 0 30.6-14.3 30.6-32s-13.7-32-30.6-32z'/%3E%3C/svg%3E%0A");
  }

  &.wmp-button--icon-cross{
    background-image: url("data:image/svg+xml,%3Csvg  class='wmp-icon wmp-icon__cross' height='20' width='20' viewBox='0 0 512 512' fill='%2337474F' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M443.6 387.1L312.4 255.4l131.5-130c5.4-5.4 5.4-14.2 0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L256 197.8 124.9 68.3c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L68 105.9c-5.4 5.4-5.4 14.2 0 19.6l131.5 130L68.4 387.1c-2.6 2.6-4.1 6.1-4.1 9.8 0 3.7 1.4 7.2 4.1 9.8l37.4 37.6c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1L256 313.1l130.7 131.1c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1l37.4-37.6c2.6-2.6 4.1-6.1 4.1-9.8-.1-3.6-1.6-7.1-4.2-9.7z'/%3E%3C/svg%3E ");
  }

}

.wmp-button--secondary {
  background-color: $wmp-secondary-button-colour;

  &:hover,
  &:focus {
    background-color: $wmp-secondary-button-hover-colour;
  }

  &.wmp-button--disabled {
    background-color: $wmp-secondary-button-colour;
  }

}

.wmp-button--destructive {
  background-color: $wmp-destructive-button-colour;
  color: $wmp-destructive-button-text-colour;

  &:hover,
  &:focus {
    background-color: $wmp-destructive-button-hover-colour;
  }

  &.wmp-button--disabled {
    background-color: $wmp-destructive-button-colour;
  }

  &.wmp-button--icon-chevron-right{
    background-image: url("data:image/svg+xml, %3Csvg viewBox='0 0 512 512' width='20px' height='20px'  class='wmp-icon wmp-icon__chevron-right' fill='%23FFF5F5'  xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 '/%3E%3C/svg%3E ");
  }

  &.wmp-button--icon-chevron-left{
    background-image: url("data:image/svg+xml, %3Csvg class='wmp-icon wmp-icon__chevron-left' viewBox='0 0 512 512' fill='%23FFF5F5' width='24px' height='24px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 '/%3E%3C/svg%3E ");
  }

  &.wmp-button--icon-plus{
    background-image: url("data:image/svg+xml, %3Csvg class='wmp-icon wmp-icon__plus' viewBox='0 0 512 512' fill='%23FFF5F5' width='18px' height='18px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M448 224H288V64h-64v160H64v64h160v160h64V288h160z'/%3E%3C/svg%3E");
  }

  &.wmp-button--icon-minus{
    background-image: url("data:image/svg+xml,%3Csvg  class='wmp-icon wmp-icon__minus' height='20' width='20' viewBox='0 0 512 512' fill='%23FFF5F5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M417.4 224H94.6C77.7 224 64 238.3 64 256s13.7 32 30.6 32h322.8c16.9 0 30.6-14.3 30.6-32s-13.7-32-30.6-32z'/%3E%3C/svg%3E%0A");
  }

  &.wmp-button--icon-cross{
    background-image: url("data:image/svg+xml,%3Csvg  class='wmp-icon wmp-icon__cross' height='20' width='20' viewBox='0 0 512 512' fill='%23FFF5F5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M443.6 387.1L312.4 255.4l131.5-130c5.4-5.4 5.4-14.2 0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L256 197.8 124.9 68.3c-2.6-2.6-6.1-4-9.8-4-3.7 0-7.2 1.5-9.8 4L68 105.9c-5.4 5.4-5.4 14.2 0 19.6l131.5 130L68.4 387.1c-2.6 2.6-4.1 6.1-4.1 9.8 0 3.7 1.4 7.2 4.1 9.8l37.4 37.6c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1L256 313.1l130.7 131.1c2.7 2.7 6.2 4.1 9.8 4.1 3.5 0 7.1-1.3 9.8-4.1l37.4-37.6c2.6-2.6 4.1-6.1 4.1-9.8-.1-3.6-1.6-7.1-4.2-9.7z'/%3E%3C/svg%3E ");
  }  

}

.wmp-button--icon-chevron-right{
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.wmp-button--icon-chevron-left{
  background-position-x: 0;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.wmp-button--icon-minus{
  background-position-x: 10%;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.wmp-button--icon-plus{
  background-position-x: 10%;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.wmp-button--icon-cross{
  background-position-x: 90%;
  background-position-y: center;
  background-repeat: no-repeat;
  padding-right: 40px;
}

.wmp-button--block{
  display: block;
}

.wmp-button--noMarginBottom{
  margin-bottom: 0;
}

.wmp-button--reverse {
  background-color: $wmp-reverse-button-colour;
  box-shadow: 0 $button-shadow-size 0 $wmp-reverse-button-shadow-colour;
  color: $wmp-reverse-button-text-colour;

  &:hover,
  &:focus {
    background-color: $wmp-reverse-button-hover-colour;
    color: $wmp-reverse-button-text-colour;
  }

  &:link {
    color: $wmp-reverse-button-text-colour;
  }

  &.wmp-button--disabled {
    background-color: $wmp-reverse-button-colour;

    &:focus {
      background-color: $wmp-reverse-button-colour;
    }
  }

}

/**
 * Button disabled states
 */

.wmp-button--disabled,
.wmp-button[disabled="disabled"], // sass-lint:disable-line quotes
.wmp-button[disabled] {
  background-color: $wmp-button-colour;
  opacity: (.5);
  pointer-events: none;

  &:hover {
    background-color: $wmp-button-colour;
    cursor: default;
  }

  &:focus {
    background-color: $wmp-button-colour;
    outline: none;
  }

  &:active {
    box-shadow: 0 $button-shadow-size 0 $wmp-button-shadow-colour; // s0
    top: 0;
  }

}

.wmp-button--secondary[disabled="disabled"], // sass-lint:disable-line quotes
.wmp-button--secondary[disabled] {
  background-color: $wmp-secondary-button-colour;
  opacity: (.5);

  &:hover {
    background-color: $wmp-secondary-button-colour;
    cursor: default;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 $button-shadow-size 0 $wmp-secondary-button-shadow-colour; // s0
    top: 0;
  }

}

.wmp-button--reverse[disabled="disabled"], // sass-lint:disable-line quotes
.wmp-button--reverse[disabled] {
  background-color: $wmp-reverse-button-colour;
  opacity: (.5);

  &:hover {
    background-color: $wmp-reverse-button-colour;
    cursor: default;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 $button-shadow-size 0 $wmp-reverse-button-shadow-colour; // s0
    top: 0;
  }

}
