/* ==========================================================================
   COMPONENTS/ #BUTTON
   ========================================================================== */

/**
 * 1. Ensure that any global link styles are overridden.
 * 2. Fix unwanted button padding in Firefox.
 * 3. Use a pseudo element to expand the click target area to include the
 *    button's shadow as well, in case users try to click it.
 */

// Because the shadow (s0) is visually 'part of' the button, we need to reduce
// the height of the button to compensate by adjusting its padding (s1) and
// increase the bottom margin to include it (s1).
$button-shadow-size: 4px;

.wmp-button {
  @include wmp-font(19);
  @include wmp-focusable;
  @include wmp-responsive-margin(5, 'bottom', $adjustment: $button-shadow-size); // s1

  -webkit-appearance: none;
  background-color: $wmp-button-colour;
  border: $wmp-border-width-form-element solid transparent;
  border-radius: 4px;
  box-shadow: 0 $button-shadow-size 0 $wmp-button-shadow-colour; // s0
  box-sizing: border-box;
  color: $wmp-button-text-colour;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-top: 0;
  padding: 12px wmp-spacing(3); // s2
  position: relative;
  text-align: center;
  vertical-align: top;
  width: auto;

  @include mq($until: tablet) {
    padding: wmp-spacing(2) wmp-spacing(3); // s2
  }

  /* 2 */
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $wmp-button-text-colour;
    text-decoration: none;
  }

  /* 3 */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover,
  &:focus {
    background-color: $wmp-button-hover-colour;
  }

  &:active {
    box-shadow: none;
    top: $button-shadow-size;
  }

  /* 4 */
  &::before {
    background: transparent;
    bottom: -($wmp-border-width-form-element + $button-shadow-size);
    content: '';
    display: block;
    left: -$wmp-border-width-form-element;
    position: absolute;
    right: -$wmp-border-width-form-element;
    top: -$wmp-border-width-form-element;
  }

  //
  // When the button is active it is shifted down by $button-shadow-size to
  // denote a 'pressed' state. If the user happened to click at the very top
  // of the button, their mouse is no longer over the button (because it has
  // 'moved beneath them') and so the click event is not fired.
  //
  // This corrects that by shifting the top of the pseudo element so that it
  // continues to cover the area that the user originally clicked, which means
  // the click event is still fired.
  //

  &:active::before {
    top: -($wmp-border-width-form-element + $button-shadow-size);
  }

}

/**
 * Button variations
 */

.wmp-button--secondary {
  background-color: $wmp-secondary-button-colour;
  box-shadow: 0 $button-shadow-size 0 $wmp-secondary-button-shadow-colour;

  &:hover,
  &:focus {
    background-color: $wmp-secondary-button-hover-colour;
  }

  &.wmp-button--disabled {
    background-color: $wmp-secondary-button-colour;
  }

}

.wmp-button--reverse {
  background-color: $wmp-reverse-button-colour;
  box-shadow: 0 $button-shadow-size 0 $wmp-reverse-button-shadow-colour;
  color: $wmp-reverse-button-text-colour;

  &:hover,
  &:focus {
    background-color: $wmp-reverse-button-hover-colour;
    color: $wmp-reverse-button-text-colour;
  }

  &:link {
    color: $wmp-reverse-button-text-colour;
  }

  &.wmp-button--disabled {
    background-color: $wmp-reverse-button-colour;

    &:focus {
      background-color: $wmp-reverse-button-colour;
    }
  }

}

/**
 * Button disabled states
 */

.wmp-button--disabled,
.wmp-button[disabled="disabled"], // sass-lint:disable-line quotes
.wmp-button[disabled] {
  background-color: $wmp-button-colour;
  opacity: (.5);
  pointer-events: none;

  &:hover {
    background-color: $wmp-button-colour;
    cursor: default;
  }

  &:focus {
    background-color: $wmp-button-colour;
    outline: none;
  }

  &:active {
    box-shadow: 0 $button-shadow-size 0 $wmp-button-shadow-colour; // s0
    top: 0;
  }

}

.wmp-button--secondary[disabled="disabled"], // sass-lint:disable-line quotes
.wmp-button--secondary[disabled] {
  background-color: $wmp-secondary-button-colour;
  opacity: (.5);

  &:hover {
    background-color: $wmp-secondary-button-colour;
    cursor: default;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 $button-shadow-size 0 $wmp-secondary-button-shadow-colour; // s0
    top: 0;
  }

}

.wmp-button--reverse[disabled="disabled"], // sass-lint:disable-line quotes
.wmp-button--reverse[disabled] {
  background-color: $wmp-reverse-button-colour;
  opacity: (.5);

  &:hover {
    background-color: $wmp-reverse-button-colour;
    cursor: default;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: 0 $button-shadow-size 0 $wmp-reverse-button-shadow-colour; // s0
    top: 0;
  }

}
