<details class="wmp-details
{%- if params.classes %} {{ params.classes }}{% endif %}"
{%- for attribute, value in params.attributes %} {{attribute}}="{{value}}"{% endfor %}>
  <summary class="wmp-details__summary">
    <span class="wmp-details__summary-text">
      {{ params.text }}
    </span>
  </summary>
  <div class="wmp-details__text">
    {{- params.HTML | safe }}
  </div>
</details>
