/* ==========================================================================
   COMPONENTS/ #ACTION-LINK
   ========================================================================== */

/**
 * 1. Display is inline-block so the top and bottom margins/paddings are
 *    respected.
 * 2. 'Random number' is used to properly have sufficient space between icon
 *    and text.
 * 3. Position is relative so the arrow icon can display absolute.
 * 4. Text decoration none used to override default <a> styling.
 * 5. Box shadow 8px used instead of the default 4px.
 * 6. Text decoration underline used to override default <a> styling.
 */

.wmp-action-link {
  @include wmp-responsive-margin(6, 'bottom');
}

.wmp-action-link__link {
  @include wmp-font(22);

  display: inline-block; /* [1] */
  font-weight: $wmp-font-bold;
  padding-left: 42px; /* [2] */
  position: relative; /* [3] */
  text-decoration: none; /* [4] */

  @include mq($until: tablet) {
    padding-left: 36px; /* [2] */
  }

  @include mq($media-type: print) {
    color: $wmp-print-text-color;

    &:visited {
      color: $wmp-print-text-color;
    }
  }


  &:focus {
    box-shadow: 0 0 0 8px $wmp-link-focus-background-color; /* [5] */

    .wmp-action-link__text {
      text-decoration: underline;
    }

  }

  &:hover {
    box-shadow: 0 0 0 8px $wmp-link-hover-background-color; /* [5] */

    .wmp-action-link__text {
      text-decoration: underline; /* [6] */
    }

  }

  .wmp-icon__arrow-right-circle {
    @include print-color($wmp-print-text-color);

    fill: $color_wmp-green;
    height: 40px;
    left: -3px;
    position: absolute;
    top: -4px;
    width: 40px;

    @include mq($until: tablet) {
      height: 34px;
      margin-bottom: -9px;
      top: -3px;
      width: 34px;
    }

  }

}
