<div class="wmp-action-link">
  <a class="wmp-action-link__link
  {%- if params.classes %} {{ params.classes }}{% endif %}" href="
  {%- if params.href %}{{ params.href }}{% else %}#{% endif %}"
  {%- if params.openInNewWindow %} target="_blank"{% endif %}
  {%- for attribute, value in params.attributes %} {{attribute}}="{{ value }}"{% endfor %}>
    <svg class="wmp-icon wmp-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
    </svg>
    <span class="wmp-action-link__text">{{ params.text }}</span>
  </a>
</div>
